<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <title>Bolo Indiya</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="{% static "spirit/stylesheets/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{% static "spirit/stylesheets/main.css" %}">
    {% comment %} <link href="assets/css/style.css" rel="stylesheet"> {% endcomment %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-light  navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="/" title="Bolo Indiya">
                <img src="media/img/bi_logo.png" class="" alt="Bolo Indiya Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link profile_link">{{ user.username }}</a>
                        <ul class="sub-menu list-unstyled">
                            <li><a href="#" class="dropdown-item">Profile</a></li>
                            <li><a href="#" class="dropdown-item">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">
        <!-- Main Banner section-->
        <section class="banner_sec">
            <div class="inner_content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-1.jpg">
                        </div>
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-2.jpg">
                        </div>
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-2.jpg">
                        </div>
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-4.jpg">
                        </div>
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-5.jpg">
                        </div>
                        <div class="swiper-slide" >
                            <img src="media/images/sea/sea-6.jpg">
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
                
            </div>
        </section>

        <!-- Sub category section-->
        <section class="sub_cate_sec">
            <div class="sub_cate_head">
                <div class="row margin0">
                    <div class="col-md-4 col-sm-4 col-4">
                        <h3>Sub-category</h3>
                    </div>
                    <div class="col-md-5 col-sm-5 col-8">
                        <p>Hostel facility is not available for its students. 
                        Additional campus facilities such as boys Hostel.</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="cate_listing">
                <div class="container">
                    <div class="row margin0">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="inner_list">
                                <div class="row margin0">
                                    <div class="col-md-4 left_wrapper">
                                        <div class="img_sec">
                                        <img src="assets/images/demo_img.png" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 right_wrapper">
                                        <h4>Hostel facility is not available for its students.</h4>
                                        <div class="rating_star">
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="unfill_start"></i>
                                        </div>
                                        <div class="post_date">
                                            Published on 14th Jan, 2019
                                        </div>
                                        <div class="author">by careeranna</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="inner_list">
                                <div class="row margin0">
                                    <div class="col-md-4 left_wrapper">
                                        <div class="img_sec">
                                        <img src="assets/images/demo_img.png" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 right_wrapper">
                                        <h4>Hostel facility is not available for its students.</h4>
                                        <div class="rating_star">
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="unfill_start"></i>
                                        </div>
                                        <div class="post_date">
                                            Published on 14th Jan, 2019
                                        </div>
                                        <div class="author">by careeranna</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="inner_list">
                                <div class="row margin0">
                                    <div class="col-md-4 left_wrapper">
                                        <div class="img_sec">
                                        <img src="assets/images/demo_img.png" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 right_wrapper">
                                        <h4>Hostel facility is not available for its students.</h4>
                                        <div class="rating_star">
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="unfill_start"></i>
                                        </div>
                                        <div class="post_date">
                                            Published on 14th Jan, 2019
                                        </div>
                                        <div class="author">by careeranna</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="inner_list">
                                <div class="row margin0">
                                    <div class="col-md-4 left_wrapper">
                                        <div class="img_sec">
                                        <img src="assets/images/demo_img.png" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 right_wrapper">
                                        <h4>Hostel facility is not available for its students.</h4>
                                        <div class="rating_star">
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="unfill_start"></i>
                                        </div>
                                        <div class="post_date">
                                            Published on 14th Jan, 2019
                                        </div>
                                        <div class="author">by careeranna</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row margin0 viewMore">
                        <a href="#">
                            view more
                        </a>
                    </div>    
            </div>
            
        </section>
        

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script>
        if ($(window).width() <= 767) {
  
            $('.profile_link').click(function(e){
                e.preventDefault();
                //$('.navbar .navbar-nav .sub-menu').toggle('slow')
                if($('.navbar .navbar-nav li .sub-menu').hasClass('active')){
                    $('.navbar .navbar-nav li .sub-menu').removeClass('active').hide('slow');
                }
                else{
                    $('.navbar .navbar-nav li .sub-menu').addClass('active').show('slow');
                }
            })
        }
        //banner swipe slider
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            loop: true,
            //centeredSlides: true,
            slidesPerView: 4,
            //initialSlide: 3,
            keyboardControl: true,
            mousewheelControl: true,
            lazyLoading: true,
            preventClicks: false,
            preventClicksPropagation: false,
            lazyLoadingInPrevNext: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            coverflow: {
                rotate: 0,
                stretch: 0,
                depth: 250,
                modifier: 1,
                slideShadows : false,
            },
            breakpoints: {
                // when window width is <= 320px
                320: {
                slidesPerView: 1,
                spaceBetween: 10
                },
                480: {
                slidesPerView: 2,
                spaceBetween: 20
                },
                // when window width is <= 640px
                640: {
                slidesPerView: 3,
                spaceBetween: 30
                }
            }    
        });
    </script>
  </body>
</html>
