{% extends "spirit/_new_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/media/css/main_login.css">
<style type="text/css">
  .pnl-manager{position: relative;margin: 70px auto !important;}
  ._4kny{display: none;}
  .pnl-manager .google-btn{
    width: 99% !important;
    border: 0px solid #ccc !important;
    padding: 0px 0px 0px !important;

  }
  .pnl-manager .fb-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #3f51b5;
    border: none;
    position: relative;
    background-image: linear-gradient(99deg,#586cdf,#3f51b5);
    width: 98% !important;
    padding: 7px 3px 0px !important;
    margin-top: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
}
.googleTextAlign {
    position: relative;
    top: 0px !important;
    color: #29303b;
}
.pnl-manager .google-btn .fb-wrap .google-icon {
    top: 15px;
    left: 75px;
    position: absolute;
}
.form-group .error-txt, .form-group .info{
      padding: 1px 14px 0 13px !important;
}
.login-container {
  background: #000;
  padding: 15px 15px 50px 15px;
  margin-top: 50px;
  border-radius: 4px;

}

.login-container .phone-number-container .phone-input .material-input .form-control, .login-container .phone-number-container .phone-input .material-input .input-label {
    padding-left: 0px;
    width: 86% !important;
}
#optForm{
  background: #fff;
  padding: 15px;
}

@media(max-width: 991px){
  .pnl-manager .google-btn .fb-wrap .google-icon {
    top: 15px;
    left: 60px;
    position: absolute;

}
}
.omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: 15em;
    margin-left: -1.5em;
    background-color: #000;
    width: 3em;
    text-align: center;
}
input[type=text], input[type=email], input[type=number], input[type=password]{
  color: rgb(158, 158, 158) !important;
}
.login-container .heading{
      margin-top: 35px !important;
}
.login-container .heading .heading-text{
  color: #fff !important;
}
@media(max-width: 991px){
.omb_spanOr {
    top: 15.0em;
}
}

</style>

    <a class="close" href="#" style="margin-bottom: 20px;"></a>
    <div class="content" style="min-height: 570px;background: #000;padding:10px">
        <div class="cd-user-modal is-visible">
            <div class="cd-user-modal-container">
                <div id="cd-login" class="is-selected">

                  <div class="modal-base showModal">
                      <div class="modal-body">
                          <div class="modal-content-data">
                              <div class="pnl-manager mainLogin">
                                  <div class="login-container " >
                                    <div class="back-button hide activeNumberMode">
                                      <button type="button" class="backToMainLogin pointer"><span style='font-size:26px;'>&#8592;</span><i class="fa fa-arrow-left1"></i></button>
                                    </div>
                                      <div class="heading"><span class="heading-text mainLoginHeading " >Login to continue</span></div>
                                      <div class="heading"><span class="heading-text phoneLogin hide activeNumberMode">Continue using phone</span></div>

                                      <div class="phone-number-container" >
                                          <div class="phone-input">
                                            <span class="country-code">+91</span>
                                              <div class="form-group material-input" autocomplete="off">
                                                  <input maxlength="100" type="text" id="phoneNo" autocomplete="off" required="" name="phoneNo" class="form-control " pattern="[0-9]*" inputmode="numeric" value=""><span class="input-label no-floating">Enter your mobile number</span>
                                                  <div class="page-loader loader" style="display: none;"></div>
                                                   <p class="info dispMainLogin"></p> 
                                                  <p class="error-txt mobileErrorMsg hide activeNumberMode">Please enter your mobile number<i class="error-icon-triangle"></i></p>
                                              </div>
                                          </div>
                                          <button type="button" onClick="sendOTP();" class="submit-button hide activeNumberMode pointer"> Continue <i class="fa fa-angle-right"></i> </button>
                                          <div class="attest-message hide activeNumberMode"><span class="attest-message-text">By Proceeding you agree to the <a href="/in/terms-of-use" target="_blank" rel="noopener noreferrer"> Terms of Use</a> and <a href="/in/privacy-policy" target="_blank" rel="noopener noreferrer"> Privacy Policy</a></span></div>                        
                                      </div>
                                      <hr class="omb_loginOr">
                                      <div class="or-div dispMainLogin omb_spanOr" >or</div>
                                      <span  class="email-or-fb-signin dispMainLogin" >
                                          <div class="google-btn deActiveEmailMode">
                                              <div class="fb-wrap ">
                                                <a id="google_login" href="/accounts/google/login?next={{next_page_url}}" class="btn btn-success"><i class="google-icon"></i><span class="googleTextAlign">Continue with Google</span></a>
                                              </div>
                                          </div>

                                          <div class="fb-btn deActiveEmailMode">
                                              <div class="fb-wrap "><a href="/accounts/facebook/login?next={{ next_page_url }}"><i class="fb-icon"></i><span>login with facebook</span></a></div>
                                          </div>
                                      </span>
                                      

                                  </div>

                              </div>

                              <div class="pnl-manager OTP_Panel hide" >
                                <form action="javascript:void()" id="optForm">
                                  <div role="presentation" class="otp-container">
                                      <div class="back-button">
                                          <button type="button" class="backToMainLogin pointer"><span style='font-size:26px;'>&#8592;</span></button>
                                      </div>

                                      <input type="hidden" name="rowId" id="rowId" value="">  
                                      <input type="hidden" name="userOtp" id="userOtp" value="">  

                                      <div class="otp-message"><span class="initial-text">Enter the 6-digit code sent to </span><span class="phone-no">+91******<span id="lastFourdigit"></span></span></div>
                                      <div class="otp-input digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                          <input type="text" id="digit-1" name="digit-1" data-next="digit-2" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
       
                                          <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                      </div>
                                      <div class="resend-code">
                                          <button type="button" class="resendOTP">resend code</button>
                                          <div id="some_div" style="font-size: 14px;color: #83817e;"></div>
                                          <span class="otpError"></span>
                                      </div>
                                      <button type="button" onclick="otp_verification()"  id="conOTPVerify" class="submit-button grey-btn pointer" disabled=""> Continue &nbsp;<i class="fa fa-angle-right"></i></button>
                                    </div>
                                  </form>
                              </div>

<!--                               <div class="pnl-manager loginWithFbOrEmail hide">
                                  <div class="email-login-container">
                                     <div class="back-button ">
                                      <button class="backToMainLogin pointer" type="button"><span style='font-size:26px;'>&#8592;</span></button>
                                    </div>
                                      <div class="email-login-title" ><span class="email-login-title-text">Have a Gmail or Facebook account?</span></div>
                                      <div class="form-wrapper">
                                          <div class="form-group material-input" style="display: none;">
                                              <input maxlength="100" type="text" id="emailID" autocomplete="off" required="" name="emailId" class="form-control " value=""><span class="input-label no-floating">Email</span>
                                              <div class="page-loader loader" style="display: none;"></div>
                                              <p class="error-txt mail_vali_error activeEmailMode hide">Please enter your email<i class="error-icon-triangle"></i></p>
                                          </div>
                                          <button style="display: none;" type="button" class="submit-button pointer">continue &nbsp;<i class="fa fa-angle-right"></i></button>
                                          <div class="or-divider deActiveEmailMode"><span class="or-divider-text"></span>
                                          </div>

                                          <div class="google-btn deActiveEmailMode">
                                              <div class="fb-wrap ">
                                                <a id="google_login" href="/accounts/google/login/" class="btn btn-success"><i class="google-icon"></i><span class="googleTextAlign">Continue with Google</span></a></div>
                                          </div>

                                          <div class="fb-btn deActiveEmailMode">
                                              <div class="fb-wrap "><a href="/accounts/facebook/login/"><i class="fb-icon"></i><span>login with facebook</span></a></div>
                                          </div>

                                      </div>
                                  </div>
                              </div> -->

                          </div>
                          <div class="close-btn"></div>
                      </div>
                  </div>
                </div>
            </div> 
        </div>
    </div>
<input type="hidden" name="next_page_url" id="next_page_url" value="{{ next_page_url }}">
<!-----------  Login Popup Script  ------------>
<script src="/media/js/login_popup.js"></script>
<!-----------End  ------------>


{% endblock %}
