{% extends "spirit/_index_base.html" %}

{% load spirit_tags i18n %}

{% block title %}BoloIndya{% endblock %}

{% block content %}

    <div class="ask_question">
        <h2>Ask Questions & Discuss in Your Own Language</h2>
    </div>
    <div class="row m-0">
        <div class="col-lg-6 col-md-6 col-sm-12" style="background: #F1F0F0;">
            <div class="card_profile">
                <div class="row m-0">
                    <div class="user_img col-lg-4 col-md-4 col-xs-4">
                        <img src="/media/img/preeti.png" alt="">
                    </div>
                    <div class="col-md-8 col-lg-8 col-xs-8">
                        <div class="info">
                            Mere 21.5k followers dekh k Bolo Indya pe mere aas pass office k log khud mujhse coffee ke time Economy aur Politics pe baat karne aate hai aur mere diye hue answers pe aur discussion karte hai
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div style="height:1px;background:#ccc;margin-top: 15px;margin-bottom: 15px"></div>
                    </div>
                    <div class="col-md-12 col-lg-12 row m-0">
                        <div class="user_detail col-md-4 col-lg-4">
                            <div class="name">
                                Preeti Nigam
                            </div>
                            <div class="address">
                                From Purnia, Bihar
                            </div>
                        </div>
                        <div class="user_about col-md-8 col-lg-8">
                                Working in a small services company at Patna, Bihar – Contributes both Videos and answers in Hindi at Bolo Indya
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="login_card row">
                <div class="header_info col-md-12 col-sm-12">
                        Get Your <span style="color: #CA3B3D;">Bolo ID</span>
                        <img src="/media/img/card.png" alt="image" style="float: right;">
                </div>
                <form action="/user/register/" class="col-md-12 col-lg-12" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" id="id_username" max-length="150" placeholder="Full Name" required />
                    <input type="email" name="email" placeholder="Enter Email" id="id_email" max-length="254" required />
                    <input type="email" name="email2" maxlength="254" required="" id="id_email2" hidden>
                    <input type="password" name="password" placeholder="Enter Password" required id="id_password"/>
                    <input class="button" type="submit" name="post" value="Get ID">
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#id_email').change(function(){
            $('#id_email2').val($('#id_email').val());
        })
    </script>
    <div class="bolo_user_tab row m-0">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h2 class="bolo_user">STAR Bolo Indya Users</h2>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 row m-0">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="user_info_inside_tab">
                    <img src="/media/img/preeti.png" alt="">
                    <h4 class="name">Rahul Kumar</h4>
                    <div class="address">From Purnia, Bihar</div>
                    <div class="user_about">Education: B.Com, Working as a sales representative at INR 22,000 salary in a pharmaceutical company in Gorakhpur</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="user_info_inside_tab">
                            <img src="/media/img/preeti.png" alt="">
                            <h4 class="name">Preeti Nigam</h4>
                            <div class="address">From Purnia, Bihar</div>
                            <div class="user_about">Working in a small services company at Patna, Bihar. Contributes both Videos and answers in Hindi at Bolo Indya</div>
                        
                        </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="user_info_inside_tab">
                            <img src="/media/img/preeti.png" alt="">
                            <h4 class="name">Mohammad Neesam</h4>
                            <div class="address">From Purnia, Bihar</div>
                            <div class="user_about">Education: B.A, Working as technician at INR 21,000 salary in a factory at Hyderabad</div>
                        
                        </div>
            </div>
        </div>
    </div>
    <div class="bolo_user_count_tabs row m-0">
            <div class="col-4 col-md-4 col-lg-4 bolo_user_count_tab">
                <div class="counter">
                    400+
                </div>
                <div class="hours">
                    Hours of content consumed
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4 bolo_user_count_tab">
                    <div class="counter">
                            400+
                        </div>
                        <div class="hours">
                            Hours of content consumed
                        </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4 bolo_user_count_tab">
                    <div class="counter">
                            400+
                        </div>
                        <div class="hours">
                            Hours of content consumed
                        </div>
            </div>
    </div>
    <div class="row m-0 google_play">
        <div class="col-md-2"></div>
        <div class="google_info col-md-5">
                Get Your <span style="font-weight:600;">Bolo Indya Mobile App</span>
        </div>
        <div class="google_info col-md-2">
            <img src="/media/img/app_image.svg" alt="" height="40px">
        </div> 
    </div>
    <div class="student_tabs row m-0" style="display:none;">
        <div class="left_tab col-md-3 col-12">
            <div class="line"></div>
            <div class="what_student">
                <div class="upper">
                    What Users Says
                </div>
                <div class="lower">
                    About Us.
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme col-md-9 col-12">
                <div class="item">
                    <img src="https://www.careeranna.com/home/static/media/testimonial/rahul_hindi-min.png">
                </div>  
                <div class="item">
                    <img src="https://www.careeranna.com/home/static/media/testimonial/rahul_hindi-min.png">
                </div>  
                <div class="item">
                    <img src="https://www.careeranna.com/home/static/media/testimonial/rahul_hindi-min.png">
                </div>  
                <div class="item">
                    <img src="https://www.careeranna.com/home/static/media/testimonial/rahul_hindi-min.png">
                </div> 
        </div>
    </div>
    <div class="Footer">
    <div class="row px-0">
    <div class="left_wrapper">
    <div class="brand_name">Careeranna</div>
    <div class="copyright">© CAREERANNA Pvt. Ltd. 2019</div>
    <ul class="social-icons">
    <li><a href="https://m.facebook.com/careerannacorp/"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.linkedin.com/company/careeranna"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/careeranna"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://twitter.com/CareerAnna"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCZmLZ68KNZotm3BxkGsuU4g"><i class="fab fa-youtube"></i></a></li>
    </ul>
    {% comment %} <form><div class="heading">Subscribe to the newsletter</div>
    <div class="row px-0">
    <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter Your Email">
    <input type="submit" class="submit" value="Subscribe">
    </div>
    </form> {% endcomment %}
    </div>
    <div class="right_wrapper">
    <div class="row px-0">
    <div class="footer_links"><h6>FREE VIDEO RESOURCE</h6>
    <ul><li><a href="https://www.careeranna.com/english/free/videos" title="Finance">English Free Videos</a></li>
    <li><a href="https://www.careeranna.com/hindi/free/videos" title="Marketing">Hindi Free Videos</a></li>
    <li><a href="https://www.careeranna.com/tamil/free/videos" title="Marketing">Tamil Free Videos</a></li>
    <li><a href="https://www.careeranna.com/telugu/free/videos" title="Human Resource">Telugu Free Videos</a></li>
    </ul></div><div class="footer_links"><h6>MBA</h6>
    <ul><li><a href="https://www.careeranna.com/CAT" title="CAT">CAT</a></li>
    <li><a href="https://www.careeranna.com/XAT" title="XAT">XAT</a></li>
    <li><a href="https://www.careeranna.com/NMAT" title="NMAT">NMAT</a></li>
    <li><a href="https://www.careeranna.com/SNAP" title="SNAP">SNAP</a></li>
    <li><a href="https://www.careeranna.com/TISSNET" title="TISSNET">TISSNET</a></li>
    <li><a href="https://www.careeranna.com/MICAT" title="MICAT">MICAT</a></li>
    <li><a href="https://www.careeranna.com/IIFT" title="IIFT">IIFT</a></li></ul></div>
    <div class="footer_links"><h6>Certificate Courses</h6><ul>
    <li><a href="https://www.careeranna.com/certification/machine-learning-course" title="Machine Learning">Machine Learning</a></li>
    <li><a href="https://www.careeranna.com/certification/artificial-intelligence-course" title="Artificial Intelligence">Artificial Intelligence</a></li>
    <li><a href="https://www.careeranna.com/certification/Certified-Associate-in-Material-Management" title="Material Management">Material Management</a></li>
    <li><a href="https://www.careeranna.com/certification/product-management" title="Product Management">Product Management</a></li></ul></div>
    <div class="footer_links"><h6>RESOURCE</h6><ul><li><a id="ga-14df32" href="https://www.careeranna.com/courses">Test Prep</a></li>
    <li><a id="ga-41441e" href="https://www.careeranna.com/articles">Articles</a></li></ul></div>
    <div class="footer_links"><h6>SUPPORT</h6><ul><li><a id="ga-14df32" href="https://www.careeranna.com/careers">Jobs</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/about">About Us</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/contact">Contact Us</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/terms-of-service">Terms of Service</a></li></ul></div></div></div></div></div>

{% endblock %}
