{% extends "spirit/_index_base.html" %}

{% load spirit_tags i18n %}

{% block title %}BoloIndya{% endblock %}

{% block content %}

    <style>
    
        .error_message {
            text-align: center;
            width: 100%;
        }    

    </style>

    <div class="ask_question">
        <h2>Ask Questions & Discuss in Your Own Language</h2>
    </div>
    <div class="row m-0">
        <div class="col-lg-6 col-md-6 col-sm-12" style="background: #F1F0F0;">
            <div class="card_profile">
                <div class="row m-0">
                    <div class="user_img col-lg-4 col-md-4 col-xs-4">
                        <img src="/media/img/preeti.png" alt="">
                    </div>
                    <div class="col-md-8 col-lg-8 col-xs-8">
                        <div class="info" style="font-size: 15px;">
                            "<i>Mere 21.5k followers dekh k Bolo Indya pe mere aas pass office k log khud mujhse coffee ke time Economy aur Politics pe baat karne aate hai aur mere diye hue answers pe aur discussion karte hai.</i>"
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div style="height:1px;background:#ccc;margin-top: 15px;margin-bottom: 15px"></div>
                    </div>
                    <div class="col-md-12 col-lg-12 row m-0">
                        <div class="user_detail col-md-4 col-lg-4">
                            <div class="name">
                                Preeti Nigam
                            </div>
                            <div class="address">
                                From Purnia, Bihar
                            </div>
                        </div>
                        <div class="user_about col-md-8 col-lg-8">
                                Working in a small services company at Patna, Bihar – Contributes both Videos and answers in Hindi at Bolo Indya
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 card_1">
            {% if not user.username %}
            <div class="login_card" id="login_card">
                <div class="header_info col-md-12 col-sm-12 row m-0 px-0">
                        <div class="col-md-8 ">Get Your <span style="color: #CA3B3D;">Bolo ID</span></div>
                        <div class="col-md-3" ><img src="/media/img/card.png" alt="image"></div>
                
                <div class="error_message" id="error_message"></div>
                <input type="text" name="user_fullname" id="id_fullname" max-length="150" placeholder="Full Name" required />
                <input type="email" name="user_email" placeholder="Enter Email" id="id_email" max-length="254" required />
                <input type="password" name="user_password" placeholder="Enter Password" required id="id_password"/>
                <input type="text" name="user_otp" placeholder="Enter Activation Code" id="id_otp" style="display:none;"/>
                <input type="text" name="user_activation_code" id="user_activation_code" hidden/>
                <input class="button" type="submit" name="post" value="Get ID" id="user_submit" style="cursor: pointer;"/>
                <img src="/media/img/lg.dual-ring-loader.gif" id="loader" alt="" style="position: relative;height:60px;width:60px;top:10px;display:none;">
                <input class="button" type="submit" name="otp" value="Verify Code" id="user_verify" style="display:none;cursor: pointer;" />
                </div>
                <div class="header_info-back col-md-12 col-sm-12 row">
                    <div class="col-md-8" style="margin-top: 60px;">Your <span style="color: #CA3B3D;">Bolo ID Is </span><span id="boloid"></span></div>
                    <div class="col-md-3" style="margin-top: 50px;"><img src="/media/img/card.png" alt="image"></div>
                    <div class="col-md-12">
                            <a href="/topic/discussion/" class="btn btn-primary" style="color:white">Q/A</a>
                            <a href="/videos" class="btn btn-danger" style="color:white">Videos</a>        
                    </div>
                </div>
            </div>
            {% else %}
             <div class="login_card">
                <div class="login_info col-md-12 col-sm-12 row">
                        <div class="col-md-8 px-0">Your <span style="color: #CA3B3D;">Bolo ID Is </span><br/>{{ user.username }}</div>
                        <div class="col-md-3" ><img src="/media/img/card.png" alt="image"></div>
                         <div class="col-md-12 row" style="margin-top:40px;">
                            <a href="/topic/discussion/" class="btn btn-danger col-md-5" style="color:white;margin-right:10px;">Q/A</a>
                            <a href="/videos" class="btn btn-danger col-md-5" style="color:white">Videos</a>        
                    </div>
                </div> 
            </div>
            {% endif %}
        </div>
    </div>

    <style>

        .login_card{
            position: relative;
            transition: transform 3s;
            height: 320px;
            transform-style: preserve-3d;
        }
        .header_info-back {
            transform: rotateY(.5turn);
            background: white;
            z-index: 1000;
        }
        .header_info, .header_info-back {
            position: absolute;
            top: 10px;
            left: 0px;
            backface-visibility: hidden;
            bottom: 10px;
        }
        .header_info input{
            margin-left: 10%;
            width: 80%;
        }
        .header_info input[type=submit]{    
            height: 40px;
            font-size: 20px;
            width: 50%;
            padding: 0px;
        }

    </style>

    <script>
        $('#id_email').change(function(){
            $('#id_email2').val($('#id_email').val());
        })
    </script>
    <div class="bolo_user_tab row m-0">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h2 class="bolo_user">STAR Bolo Indya Users</h2>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 row m-0">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="user_info_inside_tab">
                    <img src="/media/img/rah.jpg" alt="">
                    <h4 class="name">Rahul Kumar</h4>
                    <div class="address">From Purnia, Bihar</div>
                    <div class="user_about">Education: B.Com, Working as a sales representative at INR 22,000 salary in a pharmaceutical company in Gorakhpur</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="user_info_inside_tab">
                            <img src="/media/img/preeti.png" alt="">
                            <h4 class="name">Preeti Nigam</h4>
                            <div class="address">From Purnia, Bihar</div>
                            <div class="user_about">Working in a small services company at Patna, Bihar. Contributes both Videos and answers in Hindi at Bolo Indya</div>
                        
                        </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="user_info_inside_tab">
                            <img src="/media/img/m.png" alt="">
                            <h4 class="name">Mohammad Neesam</h4>
                            <div class="address">From Purnia, Bihar</div>
                            <div class="user_about">Education: B.A, Working as technician at INR 21,000 salary in a factory at Hyderabad</div>
                        
                        </div>
            </div>
        </div>
    </div>
    <div class="bolo_user_count_tabs row m-0">
            <div class="col-4 col-md-4 col-lg-4 bolo_user_count_tab">
                <div class="counter">
                    400+
                </div>
                <div class="hours">
                    Hours of content consumed
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4 bolo_user_count_tab">
                    <div class="counter">
                            1000+
                        </div>
                        <div class="hours">
                            Videos Contributed
                        </div>
            </div>
            <div class="col-md-4 col-lg-4 col-4 bolo_user_count_tab">
                    <div class="counter">
                            6.5 lakh+
                        </div>
                        <div class="hours">
                            Happy Users
                        </div>
            </div>
    </div>
    <div class="row m-0 google_play">
        <div class="col-md-2"></div>
        <div class="google_info col-md-5">
                Get Your <span style="font-weight:600;">Bolo Indya Mobile App</span>
        </div>
        <div class="google_info col-md-2">
            <a href="https://play.google.com/store/apps/details?id=com.boloindya.android">
            <img src="/media/img/app_image.svg" alt="" height="40px">
            </a>
        </div> 
    </div>
    <div class="student_tabs row m-0">
        <div class="left_tab col-md-3 col-12">
            <div class="line"></div>
            <div class="what_student">
                <div class="upper">
                    What Users Says
                </div>
                <div class="lower">
                    About Us.
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme col-md-9 col-12">
                <div class="item">
                    <video controls="" name="media"><source type="video/mp4" src="https://s3.amazonaws.com/careeranna/rahul_hindi.mp4"></video>
                </div>  
                <div class="item">
                    <video controls="" name="media"><source type="video/mp4" src="https://s3.amazonaws.com/careeranna/saddam_hindi.mp4"></video>
                </div>  
                <div class="item">
                    <video controls="" name="media"><source type="video/mp4" src="https://s3.amazonaws.com/careeranna/Karthika_tamil.mp4"></video>
                </div>  
                <div class="item">
                    <video controls="" name="media"><source type="video/mp4" src="https://s3.amazonaws.com/careeranna/Mownika_telugu.mp4"></video>
                </div> 
        </div>
    </div>
    <div class="Footer">
    <div class="row px-0">
    <div class="left_wrapper">
    <div class="brand_name">Bolo Indya</div>
    <div class="copyright">© Career Anna Education Pvt. Ltd. 2019</div>
    <ul class="social-icons">
    <li><a href="https://m.facebook.com/careerannacorp/"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.linkedin.com/company/careeranna"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/careeranna"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://twitter.com/CareerAnna"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCZmLZ68KNZotm3BxkGsuU4g"><i class="fab fa-youtube"></i></a></li>
    </ul>
    {% comment %} <form><div class="heading">Subscribe to the newsletter</div>
    <div class="row px-0">
    <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter Your Email">
    <input type="submit" class="submit" value="Subscribe">
    </div>
    </form> {% endcomment %}
    </div>
    <div class="right_wrapper">
    <div class="row px-0">
    <div class="footer_links"><h6>FREE VIDEO RESOURCE</h6>
    <ul><li><a href="https://www.careeranna.com/english/free/videos" title="Finance">English Free Videos</a></li>
    <li><a href="https://www.careeranna.com/hindi/free/videos" title="Marketing">Hindi Free Videos</a></li>
    <li><a href="https://www.careeranna.com/tamil/free/videos" title="Marketing">Tamil Free Videos</a></li>
    <li><a href="https://www.careeranna.com/telugu/free/videos" title="Human Resource">Telugu Free Videos</a></li>
    </ul></div><div class="footer_links"><h6>MBA</h6>
    <ul><li><a href="https://www.careeranna.com/CAT" title="CAT">CAT</a></li>
    <li><a href="https://www.careeranna.com/XAT" title="XAT">XAT</a></li>
    <li><a href="https://www.careeranna.com/NMAT" title="NMAT">NMAT</a></li>
    <li><a href="https://www.careeranna.com/SNAP" title="SNAP">SNAP</a></li>
    <li><a href="https://www.careeranna.com/TISSNET" title="TISSNET">TISSNET</a></li>
    <li><a href="https://www.careeranna.com/MICAT" title="MICAT">MICAT</a></li>
    <li><a href="https://www.careeranna.com/IIFT" title="IIFT">IIFT</a></li></ul></div>
    <div class="footer_links"><h6>Certificate Courses</h6><ul>
    <li><a href="https://www.careeranna.com/certification/machine-learning-course" title="Machine Learning">Machine Learning</a></li>
    <li><a href="https://www.careeranna.com/certification/artificial-intelligence-course" title="Artificial Intelligence">Artificial Intelligence</a></li>
    <li><a href="https://www.careeranna.com/certification/Certified-Associate-in-Material-Management" title="Material Management">Material Management</a></li>
    <li><a href="https://www.careeranna.com/certification/product-management" title="Product Management">Product Management</a></li></ul></div>
    <div class="footer_links"><h6>RESOURCE</h6><ul><li><a id="ga-14df32" href="https://www.careeranna.com/courses">Test Prep</a></li>
    <li><a id="ga-41441e" href="https://www.careeranna.com/articles">Articles</a></li></ul></div>
    <div class="footer_links"><h6>SUPPORT</h6><ul><li><a id="ga-14df32" href="https://www.careeranna.com/careers">Jobs</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/about">About Us</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/contact">Contact Us</a></li>
    <li><a id="ga-2dc1d0" href="https://www.careeranna.com/terms-of-service">Terms of Service</a></li></ul></div></div></div></div></div>

    <script>
    
    var owl = $('.owl-carousel');
    owl.owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:true,
    items:2,
    video:true,
    lazyLoad:true,
    center:false,
    navText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>"
     ],
    // responsive:{
    //     480:{
    //         items:1
    //     },
    //     600:{
    //         items:1
    //     }
    // }
  });

  owl.on('translate.owl.carousel',function(e){
    $('.owl-item video').each(function(){
      $(this).get(0).pause();
    });
  });

  $('#user_submit').click(function(){
      
    var username = $('#id_fullname').val();
    var email = $('#id_email').val();
    var password = $('#id_password').val();

    var valid = true;

    var re_user_name = /[0-9]+/;
    

    if(username.length == 0 && email.length == 0 && password.length == 0) {
        $('#error_message').html('Please Enter Details')
        valid = false
    } else if(username.length == 0 ) {
        $('#error_message').html('Name can\'t be empty')
        valid = false
    } else if(email.length == 0) {
        $('#error_message').html('Email can\'t be empty')
        valid = false
    } else if(password.length == 0) {
        $('#error_message').html('Password can\'t be empty')
        valid = false
    } else if(re_user_name.test(username)) {
        $('#error_message').html('Enter Valid Name')
        valid = false
    } else if(password.length < 6) {
        $('#error_message').html('Password Must Be Greater Than 6 Characters')
        valid = false
    } else if(!email.includes('@')) {
        if(!email.includes('.')) {
            $('#error_message').html('Enter Valid Email Address')
            valid = false
        }
    } 

    if(valid) {
    $('#loader').show();    
    $.ajax({
        url: '/ajax/login/',
        data: {
          'username': username.split(" ").join("_")+Math.floor(Math.random() * 1000),
          'email': email,
          'password': password
        },
        dataType: 'json',
        success: function (data) {
            if(data.includes('user id')) {
                $('#error_message').html('Activation Code Has Been Sent To ' + email);
                $('#id_otp').show();
                $('#id_fullname').hide();
                $('#user_activation_code').val(data);
                $('#id_email').hide();
                $('#id_password').hide();
                $('#user_verify').show();
                $('#user_submit').hide();
                $('#loader').hide();
            } else {
                $('#error_message').html(data);
                 $('#loader').hide();
            }
        }
      });
    }
  });


  $('#user_verify').click(function(){

      if($('#user_activation_code').val().split(":")[1] == $('#id_otp').val()) {

        var pk = $('#user_activation_code').val().split(":")
        $.ajax({
        url: '/ajax/verify_user/',
        data: {
          'pk': pk[2],
        },
        dataType: 'json',
        success: function (data) {
            $('#boloid').html(pk[1]);
            $('#login_card').css('transform', 'rotateY(.5turn)');
        }});
      } else {
           $('#error_message').html('Wrong Activation Code !');    
      }

  });

  </script>

{% endblock %}
