{% extends "spirit/_base_index_ques.html" %}

{% load spirit_tags i18n %}

{% comment %} 
{% block title %}{% trans "Latest active topics" %}{% endblock %} {% endcomment %}

{% block content %}
<style type="text/css">
    .ask_link:hover, .ques_link:hover{text-decoration: none;}
    .ques_link, .ques_link:hover{color: #333}
    .head_text{font-size: 14px;font-weight: 600;margin-bottom: 10px;}
    .inner_ans_area{margin-bottom: 10px;}
    .row:last-child {border-bottom: none;}
</style>
<script type="text/javascript">
    $(document).ready(function(){
        var cat = ('{{ category_id }}');
        $('[type="radio"][id="' + cat + '"]').prop('checked', true);
    });
</script>

<main role="main">
    <section class="main_wrapper qa_sec">
        <div class="row">
            <!-- Left section for QA Category -->
            <div class="col-md-3 left_sec">
                <input name="pageno" id="pageno" class="btn btn-primary" type="button" value="2" hidden>
                <div class="inner_head">Q/A Categories</div>
                <!-- category accordian or collapse section -->
                <div id="accordion">{% include "spirit/topic/_ques_and_ans_side_categories.html" with category=None categories=categories %}</div>
            </div>
            <!-- Middle section for main content -->
            <div class="col-md-6 mid_sec">
                <!-- user information -->
                {% if user.is_authenticated %}
                <div class="user_info">
                    <img src="http://lorempixel.com/200/200/" alt="user image" class="user_image"/>
                    <div class="user_name"> {{ user.username }} </div>
                    <a href="/topic/publish" class="ask_link" style="position: absolute;right: 30px;margin-top: 3px;color: #dc3545;">Ask Question</a>
                </div>
                {% endif %}
                <div id="question_tab">
                    {% if topics %}
                        {% include "spirit/topic/_single_topic.html" %}
                    {% else %}
                        <div class="quest_feed">This category has no questions yet!<br><a href="/topic/publish" style="color: #BB3335"><b><u>Ask your Question Now</u></b></a></div>
                    {% endif %}
                </div>
                {% if not is_single_topic %}
                    <div class="load_more" style="float:right;" id="load_more">
                        Load More <i class="fas fa-angle-double-right"></i>
                    </div>
                {% endif %}
                <div class="is_loading" id="is_loading" style="display: none;position: relative;float: right;">
                   <img src="/media/img/lg.dual-ring-loader.gif" alt="">
                </div>
            </div>
            <div class="" style="clear: both;"></div>
            <!-- Right section for Questions -->
            <div class="col-md-3 right_sec">
                <div class="inner_head">Recent Questions </div>
                <div class="que_bank">
                    <ul>
                        {% for recentTpoic in recent_topics  %}

                        <li>
                            <a href="/topic/{{recentTpoic.id}}/">
                                {{recentTpoic.title}}
                            </a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="/topic/982/">
                                क्यों भारतीय स्मार्टफोन ब्रांड हुए  विफल ?
                            </a>
                        </li>
                        <li>
                            <a href="/topic/980/">
                                क्रिप्टोफोन क्या है? Privacy के लिए बेस्ट फ़ोन कौनसा है ?
                            </a>
                        </li>
                        <li>
                            <a href="/topic/979/">
                                माइक्रो SD कार्ड खरीदने से पहले क्या देखें ?
                            </a>
                        </li>
                        <li>
                            <a href="/topic/978/">
                                2019 में कौनसे स्मार्टफोन आने वाले हैं ?
                            </a>
                        </li>
                        <li>
                            <a href="/topic/977/">
                                पॉपुलर स्क्रीन टेक्नोलॉजी कौनसी है ?
                            </a>
                        </li> 
                            
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

     $("#load_more").click(function () {
      console.log('hiy')   
      var pageno = $('#pageno').val();
      $('#is_loading').show();
      $("#load_more").hide();
      $.ajax({
        url: '/ajax/pageno/',
        data: {
          'pageno': pageno,
          'category_id': '{{ category_id }}',
          'lid': '{{lid}}'
        },
        dataType: 'json',
        success: function (data) {
            $('#pageno').val(Number(pageno)+1+"")
            $('#question_tab').append(data)
            $('#is_loading').hide();
            $("#load_more").show();
           var owl = $('.owl-carousel');
  owl.owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:true,
    items:1,
    video:true,
    lazyLoad:true,
    center:false,
    navText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>"
     ],
    // responsive:{
    //     480:{
    //         items:1
    //     },
    //     600:{
    //         items:1
    //     }
    // }
  })
  // }


function isMobile(width) {
    if(width == undefined){
        width = 719;
    }
    if(window.innerWidth <= width) {
        return true;
    } else {
        return false;
    }
}

        }
      });

    });

</script>



{% endblock %}