{% load spirit_tags i18n %}

        <div class="rows">
        <section class="sub_cate_sec">

         {% for c in subcategories %}
            <div class="sub_cate_head">
                <div class="row margin0">
                    <div class="col-md-4 col-sm-4 col-4">
                        <h3>{{ c.title }}</h3>
                    </div>
                    <div class="col-md-5 col-sm-5 col-8">
                        <p>Hostel facility is not available for its students.
                        Additional campus facilities such as boys Hostel.</p>
                    </div>
                </div>
            </div>
            <div class="cate_listing">
                <div class="container">
                    <div class="row margin0">
                        {% for each_topic in c.category_topics.all %}
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="inner_list">
                                <div class="row margin0">
                                    <div class="col-md-4 left_wrapper">
                                        <div class="img_sec">
                                        <img src="/media/img/demo_img.png" class="rounded" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-8 right_wrapper">
                                        <h4>{{ each_topic.title }}</h4>
                                        <div class="rating_star">
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="fill_start"></i>
                                            <i class="unfill_start"></i>
                                        </div>
                                        <div class="post_date">
                                            Published on {{ each_topic.date.date }}
                                        </div>
                                        <div class="author">by {{ each_topic.user.username }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
         {% endfor %}
    </section>
		</div>

<script>
    $(document).ready(function() {
        // .is_new depends on js (bookmarks)
        $('.js-comment-is-new').addClass('is-new');
    });
</script>
