{% extends "spirit/_new_home_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
.upper_tab {
    /*background: var(--primary-bg-color) !important;*/
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgb(79, 82, 90);

}
.base-layout-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 70px;
    margin: auto;
    background: rgb(255, 255, 255);
}
.base-layout-container h1:first-child {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 48px;
}
.margin_bottom_20{
    margin-top: 20px;
    margin-bottom: 20px;
}


.productStats {
    position: relative;
    background: #b62927;
    padding: 25px 0 28px;
    width: 100%;
}
.home_container_inner {
    max-width: 100%;
    margin: 0 auto;
}
.productStats_statItem, .productStats_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.productStats_statContent {
    margin-left: 16px;
}
.productStats_number {
    letter-spacing: 1px;
    color: #fff;
    line-height: 1;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
}
.productStats_statDesc {
    opacity: .9;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.productStats_statItem{
    width: 25%;
}

.mainDiv{
    width: 100%;
}
.subDivHeading{
    text-align:center;font-size:30px;margin-top: 100px;
}
/*.backColor{
    background: var(--primary-bg-color) !important
}*/
@media(max-width: 991px){
    .productStats_statItem, .productStats_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        width: 85%;
        margin-top: 10px;
    }
    .hideOnMobile{
        display: none;
    }
}

</style>
    <div class="mainDiv upper_tab">
        <div class="margin_bottom_20 subDivHeading" style=""><h2>About Us</h2>
        </div>
        <div class="jsx-1929076256 about-content backColor" style="">

            <div class="jsx-1929076256 about-img1 hideOnMobile " style="text-align: center;">

                <div class="leftImage">
                    <img class="sideImageHeight" src="/media/boy.png">
                </div>
            </div>
            <div class="jsx-1929076256 about-img1  " >
                {{about_us.page_description | safe}}
            </div>
            <div class="jsx-1929076256 about-img1  hideOnMobile" style="text-align: center;">
                <div class="rightImage">
                    <img class="sideImageHeight" src="/media/girl.png">
                </div>
            </div>


        </div>  
    </div>
    <div class="jsx-1929076256 about-content">
        <div class="productStats">
            <div class="home_container_inner">
                <ul class="productStats_wrap">
                    <li class="productStats_statItem">
                        <picture class="productStats_icon productStats_circleIcon">
                            <img src="/media/happy-students.svg" alt="Happy Students">
                        </picture>
                        <div class="productStats_statContent">
                            <p class="productStats_number">
                                25,000+
                            </p>
                            <small class="productStats_statDesc">Active Users</small>
                        </div>
                    </li>
                    <li class="productStats_statItem">
                        <picture class="productStats_icon">
                            <img src="/media/ques-attempted.svg" alt="Questions Attempted">
                        </picture>
                        <div class="productStats_statContent">
                            <p class="productStats_number">
                                2,00,000
                            </p>
                            <small class="productStats_statDesc">Video Playtime</small>
                        </div>
                    </li>
                    <li class="productStats_statItem">
                        <picture class="productStats_icon">
                            <img src="/media/tests-taken.svg" alt="Tests">
                        </picture>
                        <div class="productStats_statContent">
                            <p class="productStats_number">
                                4,00,000
                            </p>
                            <small class="productStats_statDesc">Videos Created</small>
                        </div>
                    </li>
                    <li class="productStats_statItem">
                        <picture class="productStats_icon">
                            <img src="/media/doubts-answered.svg" alt="Doubts Answered">
                        </picture>
                        <div class="productStats_statContent">
                            <p class="productStats_number">
                                11
                            </p>
                            <small class="productStats_statDesc">Languages</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    {% endblock %}