{% extends "spirit/_new_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
.upper_tab {
    background: #fff;
    padding: 30px 0px;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgb(79, 82, 90);

}
.base-layout-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 70px;
    margin: auto;
    background: rgb(255, 255, 255);
}
.base-layout-container h1:first-child {
    font-family: sofiapro-bold, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 48px;
}
.margin_bottom_20{
    margin-top: 20px;
    margin-bottom: 20px;
}


</style>
<div class="jsx-193618068 base-layout-container">
    <div class="upper_tab" style="min-height:300px;">
        <div class="container">
            <div class="margin_bottom_20" style="text-align:center;font-size:30px;">About Us</div>
            <div class="row m-0">
                {{about_us.page_description | safe}}
<!-- 
                <p>India's fastest growing app for short knowledge videos in local languages. </p><br>


                <p>Empowering users to create two-minute videos sharing their knowledge, experience and opinions across interest areas, and taking the videos to the local language audience sharing similar interest areas. </p><br>


                <p>While video creators may earn as well as find a way to increase social capital, consumers become the part of a strongly knit interest-driven community. 



                <p>In a short span of 9 months since launch,  Bolo Indya has crossed 1 lakh Monthly Active Users with 55,000+ Daily Active Users spending more than 16 min daily on the app.</p><br>


                <p>More than 4 lakh videos have been created on Bolo Indya till today, garnering 248 crore views and being shared 7 crore times on the platform. </p><br> -->


            </div>
        </div>
    </div>
</div>

    {% endblock %}