{% extends "spirit/_new_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
.upper_tab {
    background: #fff;
    padding: 30px 0px;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: rgb(79, 82, 90);

}
.base-layout-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 70px;
    margin: auto;
    background: rgb(255, 255, 255);
}
.base-layout-container h1:first-child {
    font-family: sofiapro-bold, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 48px;
}
.margin_bottom_20{
    margin-top: 20px;
    margin-bottom: 20px;
}


</style>
<div class="jsx-193618068 base-layout-container">
    <div class="upper_tab" style="min-height:300px;">
        <div class="container">
            <div class="margin_bottom_20" style="text-align:center;font-size:30px;">About Us</div>
            <div class="row m-0">
                <p>Bolo Indya is a Platform on the mission to empower the language internet users with knowledge - Enable them to share views, gain and share knowledge through audio and video in their local Languages.</p> 

                <p>It's an audio and video platform to ask questions and connect with people who contribute unique insights and quality answers.</p>

                <p>Bolo Indya enables people to select language of their choice, ask question through audio/video on any topic of interest, and get its answer through audio and video - and learn from each other - making internet world the more valuable place to spend time, promoting an eco system which encourages healthy debates to arrive at definitive answers.</p>

                <p>Let us together unlock the knowledge of 100 crore Indians, bring together different perspectives, understand interest areas better and make Internet a better world to live in, without giving away our love for our native languages.</p>
               <br>
                Bolo Indya
            </div>
        </div>
    </div>
</div>

    {% endblock %}