{% extends "spirit/_new_layout_base.html" %}
{% load spirit_tags i18n %}
{% load i18n %}
{% load number_formate_change_tag %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style type="text/css">


    .careers .jumbotron, .careers-footer .jumbotron {
    background: #bee9ff;
    position: relative;
    margin-top: 81px;
}


@media screen and (min-width: 768px){
.jumbotron {
    border-bottom: 0;
}
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px){
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #eee;
}
.jumbotron, .jumbotron .h1, .jumbotron h1 {
    color: inherit;
}
.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron, .jumbotron .h1, .jumbotron h1 {
    color: inherit;
}
.img-responsive {
    display: initial;
}

.img-responsive, .img-thumbnail {
    height: auto;
    max-width: 100%;
}
.careers .jumbotron .content, .careers-footer .jumbotron .content {
    position: absolute;
    top: 40%;
    left: 80px;
    transform: translate(0,-40%);
    color: #000;
    font-weight: 700;
    max-width: 40%;
    text-align: left;
}
.careers .jumbotron .content h1, .careers-footer .jumbotron .content h1 {
    font-size: 45px;
    font-weight: 700;
}

@media screen and (min-width: 768px){
.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
}
}
.jumbotron, .jumbotron .h1, .jumbotron h1 {
    color: inherit;
}
.careers .jumbotron .content .btn-main, .careers-footer .jumbotron .content .btn-main {
    margin-top: 32px;
    padding: 14px 84px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.careers .btn-main, .careers-footer .btn-main {
    max-width: 100%;
    background: #ff9800;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 1px;
}

 .btn-main {
    margin-top: 32px;
    padding: 14px 84px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.btn-main {
    max-width: 100%;
    width: 150px;
    background: #1a1a1a;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 1px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dropdown-menu>li>a, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.careers .we-believe, .careers-footer .we-believe {
    margin: 0 200px;
    padding-top: 100px;
    padding-bottom: 120px;
}


.container, .container-fluid {

    margin-right: auto;
    margin-left: auto;
}
.careers .we-believe h1, .careers-footer .we-believe h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 100px;
}
.careers .we-believe h1, .careers .we-believe h2, .careers-footer .we-believe h1, .careers-footer .we-believe h2 {
    color: #000;
}

@media (min-width: 992px){
.col-md-4 {
    width: 33.3333333333%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}

.col-xs-6 {
    width: 50%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}
.careers .we-believe img, .careers-footer .we-believe img {
    height: 120px;
}
.careers .we-believe h2, .careers-footer .we-believe h2 {
    font-size: 30px;
}
.careers .we-believe h1, .careers .we-believe h2, .careers-footer .we-believe h1, .careers-footer .we-believe h2 {
    color: #000;
}
.careers .we-believe p, .careers-footer .we-believe p {
    font-size: 20px;
}
.careers .together-at-bobble, .careers-footer .together-at-bobble {
    background: #f2f2f2;
    text-align: center;
    padding-bottom: 64px;
    padding-top: 2rem;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.careers .together-at-bobble h1, .careers-footer .together-at-bobble h1 {
    font-size: 40px;
    margin: 30px;
    color: #000;
}
.careers .together-at-bobble .showcase, .careers-footer .together-at-bobble .showcase {
    margin: auto;
    display: flex;
    justify-content: center;
}
.careers .together-at-bobble .showcase .block-1, .careers .together-at-bobble .showcase .block-1-1-2, .careers .together-at-bobble .showcase .block-2, .careers-footer .together-at-bobble .showcase .block-1, .careers-footer .together-at-bobble .showcase .block-1-1-2, .careers-footer .together-at-bobble .showcase .block-2 {
    display: flex;
}
.careers .together-at-bobble .showcase img, .careers-footer .together-at-bobble .showcase img {
    width: 100%;
    padding: 5px;
}
.careers .reviews, .careers-footer .reviews {
    padding: 45px;
    max-width: 1280px;
    margin: auto;
}
.careers .reviews .user-review, .careers-footer .reviews .user-review {
    position: relative;
    padding: 15px 26px;
    min-height: 440px;
    max-width: 350px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
.careers .reviews .user-review .user-image, .careers-footer .reviews .user-review .user-image {
    max-width: 120px;
    margin: auto;
}
.careers .reviews .user-review .user-image img, .careers-footer .reviews .user-review .user-image img {
    border-radius: 100px;
}
.careers .reviews .user-review .user-image, .careers-footer .reviews .user-review .user-image {
    max-width: 120px;
    margin: auto;
}
.careers .reviews .user-review .review-contents, .careers-footer .reviews .user-review .review-contents {
    position: relative;
    margin: 12px auto;
    font-size: 18px;
}
.careers .reviews .user-review .review-contents:before, .careers-footer .reviews .user-review .review-contents:before {
    display: table;
    content: " ";
    position: absolute;
    top: -50px;
    min-height: 40px;
    min-width: 48px;
    background: url(/media/img/right-quote.da8afc2a.png);
    background-size: cover;
}
.careers .reviews .user-review .review-contents:after, .careers-footer .reviews .user-review .review-contents:after {
    display: table;
    content: " ";
    position: absolute;
    bottom: -40px;
    right: 0;
    min-height: 40px;
    min-width: 48px;
    background: url(/media/img/left-quote.40ce2b0a.png);
    background-size: cover;
}
.careers .reviews .user-review .reviewer, .careers-footer .reviews .user-review .reviewer {
    position: absolute;
    bottom: 14px;
}
.careers .reviews .user-review .reviewer .name, .careers-footer .reviews .user-review .reviewer .name {
    color: #000;
    margin-bottom: 0;
    font-weight: 700;
}

.careers .reviews .user-review .reviewer p, .careers-footer .reviews .user-review .reviewer p {
    font-size: 18px;
    margin-bottom: 4px;
}
.careers .reviews .user-review .reviewer p, .careers-footer .reviews .user-review .reviewer p {
    font-size: 18px;
    margin-bottom: 4px;
}
.careers .join-us, .careers-footer .join-us {
    padding: 1rem 10rem 5rem;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 4em;
}
.media:first-child {
    margin-top: 0;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}
.careers .join-us .media-left img, .careers-footer .join-us .media-left img {
    width: 500px;
}
.careers .join-us .media-body, .careers-footer .join-us .media-body {
    padding-left: 45px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.careers .join-us .media-body h1, .careers-footer .join-us .media-body h1 {
    color: #000;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 36px;
}
.careers .join-us .media-body p, .careers-footer .join-us .media-body p {
    max-width: 800px;
    font-size: 22px;
}
.careers .join-us .btn-main, .careers-footer .join-us .btn-main {
    margin-top: 3rem;
    padding: 1rem 3rem;
    font-size: 24px;
}
.careers .btn-main, .careers-footer .btn-main {
    max-width: 100%;
    background: #ff9800;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 1px;
}
.careers .press, .careers-footer .press {
    padding: 64px 0;
    background: #f2f2f2;
}
.careers .press .press-inner, .careers-footer .press .press-inner {
    display: flex;
    max-width: 900px;
    margin: auto;
}
.careers .press .press-inner .press-item, .careers-footer .press .press-inner .press-item {
    position: relative;
    display: inline-block;
    margin: 8px;
}
.careers .our-partners .our-partners-inner img, .careers .press .press-inner img, .careers-footer .our-partners .our-partners-inner img, .careers-footer .press .press-inner img {
    max-width: 100%;
}
.careers .press .press-inner .press-item .press-caption, .careers-footer .press .press-inner .press-item .press-caption {
    padding: 0 18px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.41);
}
.careers .press .press-inner .press-item, .careers-footer .press .press-inner .press-item {
    position: relative;
    display: inline-block;
    margin: 8px;
}
.careers .our-partners, .careers-footer .our-partners {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.careers .our-partners .our-partners-inner, .careers-footer .our-partners .our-partners-inner {
    margin: 0 200px;
    padding: 35px 0;
    display: flex;
    align-items: center;
}
.careers .our-partners .our-partners-inner .description, .careers-footer .our-partners .our-partners-inner .description {
    margin-right: 50px;
}
.careers .our-partners .our-partners-inner>*, .careers-footer .our-partners .our-partners-inner>* {
    width: 100%;
}
.careers .our-partners .our-partners-inner h2, .careers-footer .our-partners .our-partners-inner h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.careers .our-partners .our-partners-inner p, .careers-footer .our-partners .our-partners-inner p {
    color: #616161;
    font-size: 26px;
}
.careers .our-partners .our-partners-inner>*, .careers-footer .our-partners .our-partners-inner>* {
    width: 100%;
}
.careers .our-partners .our-partners-inner img, .careers .press .press-inner img, .careers-footer .our-partners .our-partners-inner img, .careers-footer .press .press-inner img {
    max-width: 100%;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 4em;
}
.careers .footer-description, .careers-footer .footer-description {
    font-weight: 700;
    font-size: 40px;
    color: #000;
}
.careers .footer-inner, .careers-footer .footer-inner {
    margin: 0 140px;
}
.careers .pad-bot, .careers-footer .pad-bot {
    margin-bottom: 4em;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 4em;
}
.careers .benefit, .careers-footer .benefit {
    padding: 0rem;
}
.careers .benefit .benefit-inner, .careers-footer .benefit .benefit-inner {
    min-height: 190px;
    margin: auto;
    padding: 1rem 3rem;
    text-align: justify;
}
.careers .benefit .benefit-inner .img-responsive, .careers-footer .benefit .benefit-inner .img-responsive {
    max-width: 200px;
}
.careers .benefit .benefit-inner h3, .careers-footer .benefit .benefit-inner h3 {
    font-size: 24px;
    color: #000;
}
.careers .benefit .benefit-inner p, .careers-footer .benefit .benefit-inner p {
    font-size: 18px;
    color: #000;
}
.careers .benefit, .careers-footer .benefit {
    padding: 0rem;
}
.careers .press .press-inner .press-item .press-caption, .careers-footer .press .press-inner .press-item .press-caption {
    padding: 0 18px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.41);
}
.careers .press .press-inner .press-item .press-caption h1, .careers-footer .press .press-inner .press-item .press-caption h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px; 
}
.careers .press .press-inner .press-item .press-caption p, .careers-footer .press .press-inner .press-item .press-caption p {
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
}
img {
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
.careers .together-at-bobble .showcase img, .careers-footer .together-at-bobble .showcase img {
    width: 100%;
    padding: 5px;
}
.careers .press .press-inner .press-item .press-caption, .careers-footer .press .press-inner .press-item .press-caption {
    padding: 0 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.41);
}
@media (max-width: 767px){
.careers .jumbotron, .careers-footer .jumbotron {
    padding-bottom: 30px;
}
.careers .jumbotron-img, .careers-footer .jumbotron-img {
    position: relative;
    height: 224px;
}
.careers .jumbotron-img img, .careers-footer .jumbotron-img img {
    max-width: inherit;
    width: 600px;
    position: absolute;
    right: 0;
    top: 0;
}
.careers .jumbotron .content, .careers-footer .jumbotron .content {
    position: unset;
    top: 0;
    left: 0;
    transform: translate(0,0);
    max-width: 100%;
    text-align: center;
}
.careers .jumbotron .content h1, .careers-footer .jumbotron .content h1 {
    font-size: 18px;
}
.careers .jumbotron .content .btn-main, .careers-footer .jumbotron .content .btn-main {
    font-size: 14px;
    padding: 8px 24px;
    margin-top: 20px;
}
.careers .we-believe, .careers-footer .we-believe {
    margin: 0;
    padding: 50px 0;
}
.careers .we-believe h1, .careers-footer .we-believe h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.careers .we-believe .belief, .careers-footer .we-believe .belief {
    margin-top: 30px;
}
.careers .we-believe h2, .careers-footer .we-believe h2 {
    font-size: 16px;
}
.careers .we-believe p, .careers-footer .we-believe p {
    font-size: 14px;
}
.careers .together-at-bobble .showcase, .careers-footer .together-at-bobble .showcase {
    margin: 0 20px;
    flex-direction: column;
}
.careers .reviews, .careers-footer .reviews {
    padding: 45px 15px;
}
.careers .join-us, .careers-footer .join-us {
    padding: 1rem 1rem 5rem;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 0;
}
.careers .join-us .media-left, .careers-footer .join-us .media-left {
    display: none;
}
.careers .join-us .media-body, .careers-footer .join-us .media-body {
    padding: 0;
    text-align: center;
}
.careers .join-us .media-body h1, .careers-footer .join-us .media-body h1 {
    font-size: 20px;
}
.careers .join-us .media-body p, .careers-footer .join-us .media-body p {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}
.careers .join-us .btn-main, .careers-footer .join-us .btn-main {
    font-weight: 700;
    margin-top: 3rem;
    padding: 10px 20px;
    font-size: 14px;
}
.careers .press, .careers-footer .press {
    padding: 32px 0;
}
.careers .press .press-inner, .careers-footer .press .press-inner {
    flex-direction: column;
}
.careers .press .press-inner .press-item img, .careers-footer .press .press-inner .press-item img {
    box-shadow: 0 4px 11px 0 rgba(0,0,0,.5);
}
.careers .our-partners .our-partners-inner, .careers-footer .our-partners .our-partners-inner {
    flex-direction: column;
    margin: 0 25px;
    text-align: center;
}
.careers .our-partners .our-partners-inner .description, .careers-footer .our-partners .our-partners-inner .description {
    margin: 0 0 16px;
}
.careers .our-partners .our-partners-inner h2, .careers-footer .our-partners .our-partners-inner h2 {
    font-size: 20px;
}
.careers .our-partners .our-partners-inner p, .careers-footer .our-partners .our-partners-inner p {
    font-size: 14px;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 0;
}
.careers .footer-inner, .careers-footer .footer-inner {
    margin: 0 1rem;
    text-align: center;
}
.careers .pad-top, .careers-footer .pad-top {
    margin-top: 0;
}
.careers .benefit .benefit-inner h3, .careers-footer .benefit .benefit-inner h3 {
    font-size: 16px;
}
.careers .benefit .benefit-inner p, .careers-footer .benefit .benefit-inner p {
    font-size: 12px;
}
}
.career-details-outer-container {
    /*background-color: #fffef0;*/
    margin-top: 80px;
}
.career-details-outer-container .inner-container .sticky-heading {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background-color: #1b1b1b;
    z-index: 200;
}
.career-details-outer-container .inner-container {
    max-width: 1024px;
    padding-top: 24px;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 {
    padding-bottom: 16px;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 .job-title {
    color: #fff;
    font-weight: 700;
}
.h3, h3 {
    font-size: 24px;
}
.career-details-outer-container .inner-container .row-2 {
    margin-top: 16px;
}
.career-details-outer-container .inner-container .banner-image-container {
    text-align: center;
}
@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}

.col-md-3 {
    width: 25%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12{
    width: 100%;
}

}
.career-details-outer-container .inner-container .row-2 .banner-image {
    height: 300px;
}
.img-responsive {
    display: initial;
}
.img-responsive, .img-thumbnail {
    height: auto;
    max-width: 100%;
}

img {
    vertical-align: middle;
}
.career-details-outer-container .inner-container .row-2 {
    margin-top: 16px;
}
.career-details-outer-container .inner-container {
    max-width: 1024px;
    padding-top: 24px;
}
@media screen and (min-width: 768px){
.container {
    max-width: 730px;
}
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
.career-details-outer-container .inner-container .sticky-heading {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: #1b1b1b;
    z-index: 200;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 {
    padding-bottom: 16px;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 .apply-now {
    margin-top: 16px;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 90%;
    text-align: center;
    color: #fff;
    padding: 8px 6px;
}
.career-details-outer-container .inner-container .card {
    margin-top: 32px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    background-color: #fff;
    padding: 24px;
    font-size: 16px;
    margin-bottom: 20px;
}
.career-details-outer-container .inner-container .row-2 .description {
    color: #fff;
    font-size: 18px;
    margin-top: 16px;
}

@media (max-width: 768px){
.career-details-outer-container .inner-container .sticky-heading {
    top: 100px;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 .apply-now {
    width: 50%;
    margin-bottom: 24px;
}
.career-details-outer-container .inner-container .row-2 .banner-image {
    height: 230px;
}


}
@media (max-width: 480px){
.career-details-outer-container .inner-container .sticky-heading {
    top: 100px;
    margin-top: -30px;
}
.career-details-outer-container .inner-container .sticky-heading .row-1 .apply-now {
    width: 50%;
    margin-bottom: 8px;
    margin-top: 0;
}
.career-details-outer-container .inner-container .row-2 .banner-image {
    height: 220px;
}


}
@media (max-width: 991px){
.container {
     position:unset;
    background-color: #1a1a1a;
}
.paddingOnMobile{
    padding: 10px;
}
.career-details-outer-container .inner-container .card {
    margin-top: 32px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    background-color: #fff;
    padding: 0 0 24px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

}

.applicationForm{
    margin: auto;width: 50%
}
.applicationForm .field{
    padding: 10px;
}

.applicationForm p label{
    padding: 0px;
}
.applicationForm p input{
    padding: 0px;

}
#id_name{
    margin-left:100px; 
}
#id_email{
    margin-left:132px; 
}
#id_mobile{
    margin-left:122px; 
}                    
#id_document{
    margin-left:104px; 
}
input[type=text], input[type=email], input[type=number], input[type=password]{
        height: 15px !important;
    padding: 10px;
}
textarea{
    border: 1px solid #ddd;
    color: #212121;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    height: 60px;
}

</style>
{{job_openings}}
<div class="container-fluid career-details-outer-container ng-scope" style="background: #f8f8f8;background-image: url(/media/background_eclipse.png);">
    <div class="container inner-container ">

        <div class="row paddingOnMobile">            
            <br>
            <div id="formId"></div>
            <div class="col-md-12 col-sm-12">

                <div class="card applicationForm"> 
                  <h2 style="padding-left: 10px;">Tell us how can we help you!</h2>
                    {% if message %}
                        <p style="margin-top: 60px;margin-bottom: 60px;"> <span style="color: green;">{{message}}</span></p>
                    {% else %} 
                        <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="field">
                                    <label for="id_name">Username:</label>
                                    
                                    <input type="text" placeholder="Username" name="name" id="id_name" maxlength="255">
                                    

                                </div>
                            
                                <div class="field">
                                    <label for="id_email">Email:</label>
                                    
                                    <input type="text" placeholder="Email" name="email" id="id_email" maxlength="255">
                                    

                                </div>
                            
                                <div class="field">
                                    <label for="id_mobile">Mobile:</label>
                                    
                                    <input type="text" placeholder="Mobile" name="mobile" id="id_mobile" maxlength="255">
                                    

                                </div>
                            
                                <div class="field">
                                    <label for="id_document">Message:</label>
                                    
                                    <textarea name="document" id="id_document" placeholder="Message"></textarea>
                                    

                                </div>
                            
                            <p style="text-align: center;"><button class="btn btn-main" type="submit">Send</button></p>
                            
                            
                        </form>
                    {% endif %}

                </div>
            </div>
            <br>

        </div>
    </div>

</div>

<script type="text/javascript">
function scrollToForm() {
  document.querySelector('#formId').scrollIntoView({behavior: 'smooth'});
}
</script>
<script type="text/javascript">
    $('#id_mobile').on('keypress',function(evt){
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
});

$('#id_mobile').on('change',function(evt){
    var phoneNo = document.getElementById('id_mobile');
    if (phoneNo.value == "" || phoneNo.value == null) {
      //alert("Please enter your Mobile No.");
      document.getElementById('id_mobile').focus();
      return false;
    }
    if (phoneNo.value.length < 10 || phoneNo.value.length > 10) {
        $("#id_mobile").parent().after("<div class='validation_mobile' style='color:red;margin-bottom: 20px;text-align: center;'>Mobile No. is not valid</div>");
        $('.validation_mobile').fadeOut(3000);

        document.getElementById('id_mobile').focus();
        return false;
    }
    $('.validation_mobile').html("");
    return true;
});

$('#id_email').on('change',function(evt){debugger;
    var emailID = document.getElementById('id_email');
    if (emailID.value == "" || emailID.value == null) {
      //alert("Please enter your Mobile No.");
      document.getElementById('id_email').focus();
      return false;
    }
    var statusEmail="";
    var emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if(!emailRegex.test(emailID.value)){
      $("#id_email").focus();
        statusEmail=false;
    }else{
        statusEmail=true;
    }

    if(statusEmail==false){
        document.getElementById('id_email').focus();
        $("#id_email").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;text-align: center;'>Please enter email address</div>");
        $('.validation').fadeOut(3000);
      return false;
    }    
    $('.validation').html();
    return true;
});

</script>

{% endblock %}
