<link rel="stylesheet" type="text/css" href="/media/css/popup.css">
<div class="box">
  <a class="button hide" id="openLoginPopup" href="#popup1"></a>
</div>

<div id="popup1" class="overlay">
  <div class="popup">
    
    <a class="close" href="#">×</a>
    <div class="content">
        <div class="cd-user-modal is-visible">
            <div class="cd-user-modal-container">

                <div id="cd-login" class="is-selected">

                  <div class="modal-base showModal">
                      <div class="modal-body">
                          <div class="modal-content-data">
                              <div class="pnl-manager mainLogin">
                                  <div class="login-container " >
                                    <div class="back-button hide activeNumberMode">
                                      <button type="button" class="backToMainLogin pointer"><span style='font-size:26px;'>&#8592;</span><i class="fa fa-arrow-left1"></i></button>
                                    </div>
                                      <div class="heading"><span class="heading-text mainLoginHeading " >Login to continue</span></div>
                                      <div class="heading"><span class="heading-text phoneLogin hide activeNumberMode">Continue using phone</span></div>
                                      <a href="javascript:void(0);" class="email-or-fb-signin dispMainLogin" >
                                          <div class="email-fb-button">Have a Facebook/Email account?</div>
                                      </a>
                                      <div class="or-div dispMainLogin" >or</div>
                                      <div class="phone-number-container" >
                                          <div class="phone-input"><span class="country-code">+91</span>
                                              <div class="form-group material-input" autocomplete="off">
                                                  <input maxlength="100" type="text" id="phoneNo" autocomplete="off" required="" name="phoneNo" class="form-control " pattern="[0-9]*" inputmode="numeric" value=""><span class="input-label no-floating">Enter your mobile number</span>
                                                  <div class="page-loader loader" style="display: none;"></div>
                                                   <p class="info dispMainLogin"></p> 
                                                  <p class="error-txt mobileErrorMsg hide activeNumberMode">Please enter your mobile number<i class="error-icon-triangle"></i></p>
                                                  <span class="errorMess"></span>
                                              </div>
                                          </div>
                                      <button type="button" onClick="sendOTP();" class="submit-button hide activeNumberMode pointer"> Continue <i class="fa fa-angle-right"></i> </button>
                                      <div class="attest-message hide activeNumberMode"><span class="attest-message-text">By Proceeding you agree to the <a href="/in/terms-of-use" target="_blank" rel="noopener noreferrer"> Terms of Use</a> and <a href="/in/privacy-policy" target="_blank" rel="noopener noreferrer"> Privacy Policy</a></span></div>                        
                                      </div>
                                  </div>

                              </div>

                              <div class="pnl-manager OTP_Panel hide" >
                                <form action="javascript:void()" id="optForm">
                                  <div role="presentation" class="otp-container">
                                      <div class="back-button">
                                          <button type="button" class="backToMainLogin pointer"><span style='font-size:26px;'>&#8592;</span></button>
                                      </div>

                                      <input type="hidden" name="rowId" id="rowId" value="">  
                                      <input type="hidden" name="userOtp" id="userOtp" value="">  

                                      <div class="otp-message"><span class="initial-text">Enter the 4-digit code sent to </span><span class="phone-no">+91******<span id="lastFourdigit"></span></span></div>
                                      <div class="otp-input digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                          <input type="text" id="digit-1" name="digit-1" data-next="digit-2" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                          <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
       
                                          <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" class="single-otp-input" type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" value="" />
                                      </div>
                                      <div class="resend-code">
                                          <button type="button" class="resendOTP">resend code</button>
                                          <div id="some_div" style="font-size: 14px;color: #83817e;"></div>
                                      </div>
                                      <button type="button" onclick="otp_verification()"  id="conOTPVerify" class="submit-button grey-btn pointer" disabled=""> Continue &nbsp;<i class="fa fa-angle-right"></i></button>
                                    </div>
                                  </form>
                              </div>

                              <div class="pnl-manager loginWithFbOrEmail hide">
                                  <div class="email-login-container">
                                     <div class="back-button ">
                                      <button class="backToMainLogin pointer" type="button"><span style='font-size:26px;'>&#8592;</span></button>
                                    </div>
                                      <div class="email-login-title"><span class="email-login-title-text">Have an Email or Facebook account?</span></div>
                                      <div class="form-wrapper">
                                          <div class="form-group material-input">
                                              <input maxlength="100" type="text" id="emailID" autocomplete="off" required="" name="emailId" class="form-control " value=""><span class="input-label no-floating">Email</span>
                                              <div class="page-loader loader" style="display: none;"></div>
                                              <p class="error-txt mail_vali_error activeEmailMode hide">Please enter your email<i class="error-icon-triangle"></i></p>
                                          </div>
                                          <button type="button" class="submit-button pointer">continue &nbsp;<i class="fa fa-angle-right"></i></button>
                                          <div class="or-divider deActiveEmailMode"><span class="or-divider-text">or</span></div>
                                          <div class="fb-btn deActiveEmailMode">
                                              <div class="fb-wrap "><i class="fb-icon"></i><span>login with facebook</span></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="close-btn"></div>
                      </div>
                  </div>
                </div>
            </div> 
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    
  jQuery('.backToMainLogin').on('click',function(){debugger;
    var checkMainLoginHide=$(".mainLogin").hasClass('hide');
    if(checkMainLoginHide==false){
        $(".mainLogin").removeClass('hide');
        var loginWithFbOrEmail=$(".loginWithFbOrEmail").hasClass('hide');
        var otpPanelStatus=$(".OTP_Panel").hasClass('hide');
        if(otpPanelStatus==false){
            $(".OTP_Panel").addClass('hide');
        }
        if(loginWithFbOrEmail==false){
            $(".loginWithFbOrEmail").addClass('hide');
        }
        backTomainLoginFromNumber();
    }else{
      backTomainLoginFromEmail();
      $(".mainLogin").removeClass('hide');
      $(".loginWithFbOrEmail").addClass('hide');
      //$(".mainLogin").addClass('hide');
    }
  });

  function validateNo() {
    var phoneNo = document.getElementById('phoneNo');
    if (phoneNo.value == "" || phoneNo.value == null) {
      //alert("Please enter your Mobile No.");
      document.getElementById('phoneNo').focus();
      return false;
    }
    if (phoneNo.value.length < 10 || phoneNo.value.length > 10) {
      $('.mobileErrorMsg').html('<span style="font-size:16px;">Mobile No. is not valid, Please Enter 10 Digit Mobile No.</span>');
      document.getElementById('phoneNo').focus();
      return false;
    }
    
    $("#phoneNo").removeClass('success');
    $("#phoneNo").addClass('success');
    $('.mobileErrorMsg').html('<span></span>');
    //$('.mobileErrorMsg').html('<span style="color:green">Great...</span>');
    //$('.mobileErrorMsg').html('<span style="color:green">Great...</span>');
    return true;
  }



  jQuery('.email-or-fb-signin').on('click',function(){
    $(".loginWithFbOrEmail").removeClass('hide');
    var mainLoginStatus=$(".mainLogin").hasClass('hide');
    var otpPanelStatus=$(".OTP_Panel").hasClass('hide');
    if(otpPanelStatus==false){
        $(".OTP_Panel").addClass('hide');
    }
    if(mainLoginStatus==false){
        $(".mainLogin").addClass('hide');
    }
      
  });

  jQuery('.OTP_Panel').on('click',function(){
    $(".OTP_Panel").removeClass('hide');
    var mainLoginStatus=$(".mainLogin").hasClass('hide');
    var loginWithFbOrEmail=$(".loginWithFbOrEmail").hasClass('hide');
    if(loginWithFbOrEmail==false){
        $(".loginWithFbOrEmail").addClass('hide');
    }
    if(mainLoginStatus==false){
        $(".mainLogin").addClass('hide');
    }


  });

  function dispOTPPanel(){
      $(".OTP_Panel").removeClass('hide');
      var mainLoginStatus=$(".mainLogin").hasClass('hide');
      var loginWithFbOrEmail=$(".loginWithFbOrEmail").hasClass('hide');
      if(loginWithFbOrEmail==false){
          $(".loginWithFbOrEmail").addClass('hide');
      }
      if(mainLoginStatus==false){
          $(".mainLogin").addClass('hide');
      }

  }




  
  var checkClickStatus=0;
  jQuery('#phoneNo').on('click',function(){
    $("#phoneNo").removeClass('success');
    var errorCheckPhone=$("#phoneNo").hasClass('error');
      if(errorCheckPhone==false){
        checkClickStatus=1;
        $(".heading-text").removeClass('hide');
        $(".heading-text").addClass('hide');
        $(".phoneLogin").removeClass('hide');
        
        $(".email-or-fb-signin").removeClass('hide');
        $(".email-or-fb-signin").addClass('hide');
        $(".activeNumberMode").removeClass('hide');
        $(".dispMainLogin").addClass('hide');
        // mainLoginHeading 
        // phoneLogin
        document.getElementById('phoneNo').focus();
        $("#phoneNo").addClass('error');
      }else{
        if(checkClickStatus==0){
          $("#phoneNo").removeClass('error');
        }
      }
  }); 

$('#phoneNo').on('keypress',function(evt){
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
});

$('#phoneNo').on('change',function(evt){
    var phoneNo = document.getElementById('phoneNo');
    if (phoneNo.value == "" || phoneNo.value == null) {
      //alert("Please enter your Mobile No.");
      document.getElementById('phoneNo').focus();
      return false;
    }
    if (phoneNo.value.length < 10 || phoneNo.value.length > 10) {
      $('.mobileErrorMsg').html('<span style="font-size:16px;">Mobile No. is not valid, Please Enter 10 Digit Mobile No.</span>');
      document.getElementById('phoneNo').focus();
      return false;
    }
    
    $("#phoneNo").removeClass('success');
    $("#phoneNo").addClass('success');
    //$('.mobileErrorMsg').html();
    $('.mobileErrorMsg').html('<span></span>');
    //$('.mobileErrorMsg').html('<span style="color:green">Great...</span>');
    //$('.mobileErrorMsg').html('<span style="color:green">Great...</span>');
    return true;
});


$('#emailID').on('change',function(evt){debugger;
    var emailID = document.getElementById('emailID');
    if (emailID.value == "" || emailID.value == null) {
      //alert("Please enter your Mobile No.");
      document.getElementById('emailID').focus();
      return false;
    }
    var statusEmail=emailValidation();
    if(statusEmail==false){
      $("#emailID").addClass('error');
      $("#emailID").removeClass('success');

      return false;
    }    
    $("#emailID").removeClass('success');
    $("#emailID").addClass('success');
    $('.mail_vali_error').html('<span></span>');
    return true;
});

function emailValidation(){
  var emailid=$("#emailID").val();
  var emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if(!emailRegex.test(emailid)){
      $("#emailID").focus();
      $(".mail_vali_error").html('<span style="font-size:16px;">Please enter valid email id</span>');
       return false;
    }
    return true;
   
}




   var checkClickEmailStatus=0;
  jQuery('#emailID').on('click',function(){
    
    var errorCheckPhone=$("#emailID").hasClass('error');
      if(errorCheckPhone==false){
        checkClickEmailStatus=1;
        $(".activeEmailMode").removeClass('hide');
        $(".deActiveEmailMode").addClass('hide');
        // mainLoginHeading 
        // phoneLogin
        document.getElementById('emailID').focus();
        $("#emailID").addClass('error');
      }else{
        if(checkClickEmailStatus==0){
          $("#emailID").removeClass('error');
        }
      }
  });

  function backTomainLoginFromNumber(){
      var numActive=$(".activeNumberMode").hasClass('hide');
      if(numActive==false){
        $(".activeNumberMode").addClass('hide');
        $(".dispMainLogin").removeClass('hide');
        $(".heading-text").removeClass('hide');
        $(".phoneLogin").addClass('hide');
        $("#phoneNo").removeClass('error');
        $(".activeEmailMode").addClass('hide');
        $(".deActiveEmailMode").removeClass('hide');
        $("#emailID").removeClass('error');
    }

  }

  function backTomainLoginFromEmail(){
      var emailActive=$(".activeEmailMode").hasClass('hide');
      if(emailActive==false){
        $(".activeNumberMode").addClass('hide');
        $(".dispMainLogin").removeClass('hide');
        $(".heading-text").removeClass('hide');
        $(".phoneLogin").addClass('hide');
        $("#phoneNo").removeClass('error');
        $(".activeEmailMode").addClass('hide');
        $(".deActiveEmailMode").removeClass('hide');
        $("#emailID").removeClass('error');
    }

  }
function generateOTP() { 
          
    // Declare a digits variable  
    // which stores all digits 
    var digits = '0123456789'; 
    let OTP = ''; 
    for (let i = 0; i < 4; i++ ) { 
        OTP += digits[Math.floor(Math.random() * 10)]; 
    } 
    return OTP; 
} 
  


//===========================================================


$('.single-otp-input').on('keypress',function(evt){
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    $('.digit-group').find('input').each(function() {
      $(this).attr('maxlength', 1);
      $(this).on('keyup', function(e) {
        var parent = $($(this).parent());
        
        if(e.keyCode === 8 || e.keyCode === 37) {
          var prev = parent.find('input#' + $(this).data('previous'));
          
          if(prev.length) {
            $(prev).select();
          }
        } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
          var next = parent.find('input#' + $(this).data('next'));
          
          if(next.length) {
            $(next).select();
          } else {debugger;
            $('#conOTPVerify').prop('disabled', false);
            $('#conOTPVerify').removeClass('grey-btn');
            $('#some_div').hide();

            otp_verification();
            // if(parent.data('autosubmit')) {
            //   parent.submit();debugger;
            // }
          }
        }
      });
    });
});

jQuery(".resendCode").hide();
jQuery(".resendOTP").hide();
    var timeLeftResend = 120;
        var elemResend = document.getElementById('some_div');
        
        var timerIdResend = setInterval(countdownResend, 2000);
        
        function countdownResend() {
          if (timeLeftResend == 0) {
            jQuery(".resendOTP").show();
            jQuery(".resendCode").show();
            elemResend.innerHTML="";
          } else {
            var timeLeftTotal=timeLeftResend-1;
            elemResend.innerHTML = 'Resend code in: 00:'+timeLeftTotal;
            timeLeftResend--;
          }
        }

function showResendButton() {
  jQuery(".resendOTP").hide();
}



  function getResendOTPSTatus(){

    var mobileNumber = document.getElementById('mobileNumberId').value;
      var rowId = document.getElementById('rowId').value;
      var data= "rowId="+rowId+"&mobileNumber="+mobileNumber;
      var elem = document.getElementById('some_div');
      elem.innerHTML ='Please wait...';

      jQuery.ajax({
        url:"cuser/resendOTP",
        type:"POST",
        data:data,
        success: function(response){
          if(response==1){
            jQuery("#some_div").html('<span style="color:green;">Success! Please check yoour device</span>');
            resendStatus=0;
          }
        }

      });
  } 

  function changeNumberToRegister(){

    var mobileNumberNew = document.getElementById('mobileNumberVali').value;
      var rowId = document.getElementById('rowId').value;
      var data= "rowId="+rowId+"&mobileNumber="+mobileNumberNew;
      var elem = document.getElementById('some_div');
      elem.innerHTML ='Please wait...';

      jQuery.ajax({
        url:"cuser/changeNumberAndSendNewOTP",
        type:"POST",
        data:data,
        success: function(response){
          if(response==1){
            document.getElementById('mobileNumberId').value=mobileNumberNew;
            jQuery("#some_div").html('<span style="color:green;margin-bottom:20px;">Success! Please check your device</span>');
            resendStatus=0;
            backtoverify();
          }
        }

      });
  }




</script>