{% extends "spirit/_new_base.html" %}
{% load spirit_tags i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style type="text/css">
    .jwplayer.jw-stretch-uniform .jw-media video {
    object-fit: cover;
}
#player{
        height: 748px !important;
}
</style>
            <div class="jsx-639186511 page-with-header main-body">
                <div class="jsx-1929076256">
                    <div class="jsx-1929076256 about-content">
<!--                         <section class="jsx-1929076256 about-mobile-title">
                            <h1 class="jsx-1929076256 hideonMobile">Our Mission</h1></section> -->
                        <div class="jsx-1929076256 about-img">
                            <div class="jsx-1994528170 banner-video-container">

<script src="//content.jwplatform.com/libraries/SAHhwvZq.js"></script>

<script src="//content.jwplatform.com/libraries/SAHhwvZq.js"></script>

<div class="video-wall">




  <div class="header-bar">Popular Videos</div>

                            <div id="js-playlists" class="playlists">
                                <div class="playlist-switcher hideonMobile">
                                    <h4 class="js-playlist-link playlist-link"></h4>
                                </div>

                                <div id="customScroll" class="js-playlist playlist-container is-active" data-feedid="Q352cyuc1">
                                <div class="playlist _video_feed_container" id="playlist">


                                </div>
                                    <div class="_scroll_load_more_loading">
                                    <div class="boloindya-loading"></div>
                                </div>
                                </div>
                            </div>




</div>

<!--                                     <div class="video-background-demo">
                                          <div id="js-background-video-container" class="background-video-container">
                                                <div id="js-background-video"></div>
                                          </div>
                                    </div>
                                    <div class="video-background-demo">
                                          <div id="js-background-video-container1" class="background-video-container">
                                                <div id="js-background-video1"></div>

                                          </div>

                                    </div> -->


                                <!-- <canvas width="1440" height="1280" class="jsx-1994528170"></canvas> -->
                            </div>
                        </div>
                        <article class="jsx-1929076256 about-article">
                             <aside class="_base_layout_aside">
                                <div class="_base_layout_aside_sticky" style="">
                                    <div class="_base_layout_aside_wrapper">
                                        <div class="_list_component_">
                                            <h2 class="_list_component_title">Trending Hashtags</h2>
                                            <div class="_list_component_content">
                                                <div class="_list_item_">
                                                    <div class="_list_item_content">
                                                        <h3 class="_list_item_title"><a href="/tag/glowups?langCountry=en" title="glowups">#<!-- -->glowups</a></h3>
                                                        <p class="_list_item_description">145.7m views</p>
                                                    </div>
                                                </div>
                                                <div class="_list_item_">
                                                    <div class="_list_item_content">
                                                        <h3 class="_list_item_title"><a href="/tag/gocamping?langCountry=en" title="gocamping">#<!-- -->gocamping</a></h3>
                                                        <p class="_list_item_description">612.1m views</p>
                                                    </div>
                                                </div>
                                                <div class="_list_item_">
                                                    <div class="_list_item_content">
                                                        <h3 class="_list_item_title"><a href="/tag/thingsthathappened?langCountry=en" title="thingsthathappened">#<!-- -->thingsthathappened</a></h3>
                                                        <p class="_list_item_description">1343.2m views</p>
                                                    </div>
                                                </div>
                                                <div class="_list_item_">
                                                    <div class="_list_item_content">
                                                        <h3 class="_list_item_title"><a href="/tag/basketballchallenge?langCountry=en" title="basketballchallenge">#<!-- -->basketballchallenge</a></h3>
                                                        <p class="_list_item_description">164.2m views</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_base_layout_aside_wrapper">
                                        <div class="_download_">
                                            <h3 class="_download_title">Get the App</h3>
                                            <div class="_download_content_wrapper">
                                                <a rel="nofollow" target="_blank" class="_download_btn_" href="#"><img src="media/google_store.png" alt="google-store"></a>
                                                <a rel="nofollow" target="_blank" class="_download_btn_" href="#"><img src="media/amazon_store.png" alt="amazon-store"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>

                        </article>
                    </div>
                </div>
            </div>

<div style="display: none" id="modelPopup">
    <div class="_global_modal_">
        <div class="_global_modal_mask" style="background-color: rgba(22, 22, 22, 0.9);"></div>
        <div class="_global_modal_wrapper_content">
            <div class="_global_modal_content">
                <div class="_video_card_big_">
                    <div class="_image_card_ _video_card_big_left _video_card_mute_autoshow" style="border-radius: 4px;">
                        <div class="_video_card_play_btn_ _video_card_play_btn_light videoPlayButton"></div>

                           <div id="jwBox" class="jwBox" style = "bottom : 15px;">
                                <div class="video_close"></div>
                                <div id="player" >Loading ...</div>
                            </div>


                        <span class="_video_card_"></span><img onclick="muteAndUnmutePlayer();" class="_video_card_mute _video_card_mute_left_top" id="mutedImageId"  src="media/mute_icon.svg">
                    </div>

                </div>
            </div>
        </div><img class="_global_modal_cancel" src="media/cancel.svg"></div>
</div>

{% endblock %}