{% extends "spirit/_new_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}

<!-- Social Share Code -->
<link rel="canonical" href="" />      
<meta property="og:url" content=""/>
<meta property="og:type" content="website" />
<meta property='og:title' content='' />
<meta name="twitter:title" content="" />
<meta name="twitter:site" content="@BoloIndya" />
<meta name="twitter:creator" content="@BoloIndya" />
<meta name="twitter:card" content="summary" />
<meta property='og:description' content='Short Videos in Hindi, Tamil, Telugu and Other Local Languages of India' />       
<meta property='og:image' content='' />
<link rel="image_src" href=""/>
<!-- Social Share Code End -->

<div class="jsx-639186511 page-with-header main-body">
    <div class="jsx-1929076256">
        <div class="jsx-1929076256 about-content">
            <div class="jsx-1929076256 about-img">
                <div class="jsx-1994528170 banner-video-container">
                    <div class="video-wall">

                        <div class="header-bar">{% trans "Popular Videos" %}</div>
                        <div id="js-playlists" class="playlists">
                            <div class="playlist-switcher hideonMobile">
                                <h4 class="js-playlist-link playlist-link"></h4>
                            </div>

                            <div id="customScroll" class="js-playlist playlist-container is-active" data-feedid="Q352cyuc1">
                            <div class="playlist _video_feed_container" id="playlist">


                            </div>
                            <div class="ajax-load text-center" style="display:none;">
                                <p><img src="/media/loader.gif">Loading More post</p>
                            </div>
                            <div class="_scroll_load_more_loading">
                                <div class="boloindya-loading">Load More Content...</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <article class="jsx-1929076256 about-article">
                 <aside class="_base_layout_aside">
                    <div class="_base_layout_aside_sticky" style="">
                        <div class="_base_layout_aside_wrapper">
                            <div class="_list_component_">
                                <h2 class="_list_component_title">{% trans "Trending Categories" %}</h2>
                                <div class="_list_component_content">
                                    <div class="_list_item_">
                                        <div class="_list_item_content">
                                            <h3 class="_list_item_title"><a href="/tag/health/" title="glowups"><!-- -->health</a></h3>
                                            <p class="_list_item_description">3444166 {% trans "views" %}</p>
                                        </div>
                                    </div>
                                    <div class="_list_item_">
                                        <div class="_list_item_content">
                                            <h3 class="_list_item_title"><a href="/tag/fitness/" title="gocamping"><!-- -->fitness</a></h3>
                                            <p class="_list_item_description">2278862 {% trans "views" %}</p>
                                        </div>
                                    </div>
                                    <div class="_list_item_">
                                        <div class="_list_item_content">
                                            <h3 class="_list_item_title"><a href="/tag/career-and-jobs/" title="thingsthathappened"><!-- -->career-and-jobs</a></h3>
                                            <p class="_list_item_description">3868749 {% trans "views" %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_base_layout_aside_wrapper">
                            <div class="_download_">
                                <h3 class="_download_title">{% trans "Get the App" %}</h3>
                                <div class="_download_content_wrapper">
                                    <a rel="nofollow" target="_blank" class="_download_btn_" href="#"><img src="/media/google_store.png" alt="google-store"></a>
                                    <a rel="nofollow" target="_blank" class="_download_btn_" href="#"><img src="/media/amazon_store.png" alt="amazon-store"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

            </article>
        </div>
    </div>
</div>

<!-- List View Display Data -->
<script src="/media/js/landing_script.js"></script>
<!-----------End  ------------>

<!-- Start Comments Section -->
{% include "spirit/_video_play_and_comments.html" %}
<!-- End Load Comments  -->

{% endblock %}