{% extends "spirit/_new_base.html" %}
{% load spirit_tags i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}

            <div class="jsx-639186511 page-with-header main-body">
                <div class="jsx-1929076256">
                    <div class="jsx-1929076256 about-content">
                        <section class="jsx-1929076256 about-mobile-title">
                            <h1 class="jsx-1929076256">Our Mission</h1></section>
                        <div class="jsx-1929076256 about-img">
                            <div class="jsx-1994528170 banner-video-container">
                                    <div class="video-background-demo">
                                          <div id="js-background-video-container" class="background-video-container">
                                                <div id="js-background-video"></div>
                                          </div>
                                    </div>
                                    <div class="video-background-demo">
                                          <div id="js-background-video-container1" class="background-video-container">
                                                <div id="js-background-video1"></div>

                                          </div>

                                    </div>


                                <!-- <canvas width="1440" height="1280" class="jsx-1994528170"></canvas> -->
                            </div>
                        </div>
                        <article class="jsx-1929076256 about-article">
                            <div class="jsx-1929076256">
                                <h2 class="jsx-1929076256">Our Mission</h2>
                                <p class="jsx-1929076256 subtitle">boloindya is the leading destination for short-form mobile video. Our mission is to inspire creativity and bring joy.</p>
                                <p class="jsx-1929076256 text-body">boloindya has global offices including Los Angeles, New York, London, Paris, Berlin, Dubai, Mumbai, Singapore, Jakarta, Seoul, and Tokyo.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
{% endblock %}