{% extends "spirit/_index_base.html" %}
{% load spirit_tags i18n %}
{% block head-meta %}
<meta property="og:site_name" content="Bolo Indya">
<meta property="og:title" content= {{ topic.title }} />
<meta property="og:description" content="Showcase your knowledge of cricket and expertise in Predicting what will happen in the match. With every correct prediction, move closer to winning INR 10,000 cash." />
<meta property="og:image" itemprop="image" content="https://boloindya.com/media/img/boloindya.png">
<meta property="og:type" content="website" />

<meta property="title" content={{ topic.title }} />
<meta name="description" content="Showcase your knowledge of cricket and expertise in Predicting what will happen in the match. With every correct prediction, move closer to winning INR 10,000 cash." />
{% endblock %}
{% block title %}Bolo Indya{% endblock %}
{% block content %}
<style>
        .user_bar {
            padding: 10px;
            background: #FBEFEF;
            color: #B52828;
            font-size: 12px;
        }
        .bolo_action_count { 
            font-weight: 700;
            text-align: center;
        }
        .bolo_action_label {
            text-align: center;
        }
        .question_tab {
            padding: 10px;
        }
        .category {
            color: #B52828;
            font-weight: 600;
            font-size: 12px;
        }
        .fas.fa-circle {
            font-weight: 900;
            font-size: 5px;
            top: -2px;
            position: relative;
            color: #ccc;
        }
        .views {
            font-size: 12px;
            color: #c3c2c2;
        }
        .question_title {
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .lower {
            font-size: 13px;
            color: #B52828;
        }
        .line {
            margin-top: 5px;
            height: 1px;
            background: #ccc;
        }
        .single_comment {
            padding: 10px;
        }
        .user_details {
            font-size: 10px;
        }
        .created_at {
            color: #ccc;
        }
        .answer, .likes{
            font-size: 10px;
        }
        .music_player {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
            background: #FBEFEF;
        }
        .text { 
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .image {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .duration_and_time {
            height: 20px    ;
        }
        .circle {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background: white;
            padding: 5px;
        }
        .like_and_share {
            margin-top: 10px;
        }
        .video_frame {
            margin-top: 10px;
            position: relative;
        }
        .play_icon {
            position: absolute;
            top: 40%;
            left: 50%;
            color: white;
            font-size: 30px;
        }
         @media only screen and (min-width: 600px) {
            main {
                width: 33vw;
                border: 1px solid #e6e6e6;
                height: 100vh;
            }
            .left_main {
                width: 67vw;
                background-image: url("https://boloindya.s3.amazonaws.com/share_pages/share_topic.webp");
                background-repeat: no-repeat;
                background-position: center; 
                background-size: cover; 
            }
        }
    </style>
    <div class="row">
    <main onclick="showModal()">
    {% if user_profile != None %}
    <div class="row user_bar">
        <div class="col-2 pr-0 ">
            <img src="{% if user_profile.profile_pic %}{{ user_profile.profile_pic }} {% endif %} https://boloindya.s3.amazonaws.com/media/user.png" alt="User Image" class="img-fluid">
        </div>
        <div class="col-3 pr-0 mt-2">
            <div class="bolo_action_count">{{ user_profile.follower_count }}</div>
            <div class="bolo_action_label">Followers</div>
        </div>
        <div class="col-3 pr-0 mt-2">
            <div class="bolo_action_count">{{ user_profile.follow_count }}</div>
            <div class="bolo_action_label">Following</div>
        </div>
        <div class="col-3 pr-0 mt-2">
            <div class="bolo_action_count">{{ user_profile.bolo_score }}</div>
            <div class="bolo_action_label">Bolo Actions</div>
        </div>
    </div>
    {% endif %}
    <div class="question_tab">
        <div class="upper_part">
            <span class="category">{{ topic.category.title }}</span> <i class="fas fa-circle"></i> <span class="views"> {{ topic.view_count }} Views</span>  <i class="fas fa-ellipsis-h" style="float: right; margin-top: 5px;"></i>
        </div>
        <h5 class="question_title">
            {{ topic.title }}
        </h5>
        <div class="lower">
            <i class="fas fa-edit"></i> Post Answer
        </div>
        <div class="line"></div>
    </div>
    {% for comment in topic.topic_comment.all %}
    <div class="single_comment">
        <div class="row user_details mx-0">
            <div class="col-2 pl-0">
                <img src="{% if comment.user.profile_pic %}{{ comment.user.profile_pic }} {% endif %} https://boloindya.s3.amazonaws.com/media/user.png" alt="User Image" class="img-fluid">
            </div>
            <div class="col-8 px-0 mt-2">
                <div class="username">
                    {{ comment.user.username }}
                </div>
                <div class="created_at">
                    Answered {{ comment.date }}
                </div>
            </div>
            <div class="col-2 px-0">
            </div>
        </div>
        {% if comment.is_media %}
        {% if comment.is_audio %}
        <div class="row music_player mx-0">
            <div class="col-2 px-0">
                <img src="/media/img/ic_play.png" alt="" class="img-fluid" style="position: relative; top: 5px;height: 45px;">
            </div>
            <div class="col-7 px-0">
                <div class="seekbar">
                    <input type="range" name="" id="" value=0 max=100 min=0>
                </div>
                <div class="duration_and_time">
                    <span class="duration" style="float: left;font-size: 10px;">
                        {{ comment.media_duration }}
                    </span>
                    <span class="time" style="float: right;font-size: 10px;">
                        12:31 pm
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="circle">
                    <img src="{% if comment.user.profile_pic %}{{ comment.user.profile_pic }} {% endif %} https://boloindya.s3.amazonaws.com/media/user.png" alt="User Image" class="img-fluid">
                </div>
            </div>
        </div>
        {% else %}
        <div class="video_frame">
            <div class="video_image">
                <img src="{{ comment.thumbnail }}" alt="" width="100%">
            </div>
            <i class="fas fa-play-circle play_icon"></i>
        </div>
        {% endif %}
        {% else %}
        {% if 'data:image/png;' in comment.comment %}
        <div class="image">
            <img src="{{ comment.comment }}" alt="" width="100%">
        </div>
        {% else %}
        <div class="text">
            {{ comment.comment }}
        </div>
        {% endif %}
        {% endif %}
        <div class="row like_and_share">
            <div class="col-4 px-0 answer">
                <img src="/media/img/answer.svg" alt="" style="height: 18px;position: relative;top: 2px;"> 0 Answers
            </div>
            <div class="col-4 pr-0 likes">
                    <i class="far fa-thumbs-up" style="font-size: 18px;"></i> {{ topic.comment_count }} Likes
            </div>
            <div class="col-2">
                <img src="/media/img/whatsapp.svg" alt="User Image" class="img-fluid" style="height: 18px;position: relative;top: -4px;">                
            </div>
            <div class="col-2 pr-0">
                <i class="far fa-clone" style="float: right"></i>
            </div>
        </div>
        <div class="line"></div>
    </div>
    {% endfor %}
     </main>
    <div class="left_main">
    </div>
{% endblock %}