{% extends "spirit/_index_base.html" %}
{% load spirit_tags i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
.upper_tab {
    background: #f1f0f0;
    padding: 30px 0px;
}

.get_your_bolo_app {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.get_your_bolo_app span {
    font-weight: 600;
}

.get_your_bolo_app img {}

.card_profile .line {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    margin: 15px 0px;
}

.card_profile .description {
    font-size: 16px;
    padding-left: 5px;
}

.card_profile .profile_name {
    font-weight: 700;
}

.card_profile .profile_name span {
    font-weight: 400;
}

.card_profile .about {
    font-size: 13px;
}

.ask_question {
    text-align: center;
}

.ask_question .row .ask_english {
    background: white;
    padding: 10px 29%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.ask_question .row .ask_hindi {
    background: #BB3335;
    border-radius: 4px;
    color: white;
    padding: 10px 29%;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.play_store_pic {
    padding: 20px 0px;
}

.play_store_pic img {
    margin-left: 40px;
}

.lower_tab {
    padding: 30px 0px;
}

.lower_tab .container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.lower_tab .container .choose_language_tabs {
    text-align: center;
}

.lower_tab .container .choose_language_tabs .language {
    background: #f1f0f0;
    margin: 1%;
    width: 23%;
    font-size: 20px;
    padding: 10px 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.lower_tab .container .choose_language_tabs .language.active {
    background: #CB3B3D;
    color: white;
    font-weight: 600;
}

.lower_tab .container h4 {
    text-align: center;
    margin: 20px 0px;
}

.upcoming_languages {
    text-align: center;
    font-size: 18px;
}

.want_to_get_updated {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.want_to_get_updated span {
    opacity: 0.7;
}

form {
    margin-top: 20px;
    width: 70%;
}

form select {
    width: 100%;
    position: absolute;
    bottom: 0;
}

form .submit {
    width: 30%;
    margin-left: 35%;
    font-size: 13px;
}

.footer {
    background: #f1f0f0;
    padding: 30px 0px;
}

.social-icons li {
    background: #323F4E;
}

.social-icons li .fab {
    color: white;
}

.subscribe_form h4 {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 700;
}

.footer_links {
    padding: 10px;
}

.footer_links h6 {
    font-size: 14px;
    text-align: left;
}

.footer_links ul {
    padding: 0px;
}

.footer_links ul li {
    font-size: 12px;
    text-align: left;
}

.subscribe_form {
    width: 100%;
}

.form_group input[type=email] {
    width: 200px;
    font-size: 12px;
}

.form_group input[type=submit] {
    font-size: 12px;
    width: 120px;
    margin-left: 20px;
}

.play_store_image_footer {
    float: right;
}
.play_services_1{
    display: none;
}

@media (max-width:650px) {
    .get_your_bolo_app {
        font-size: 16px;
    }

    .get_your_bolo_app img {
        width: 150px;
    }

    .card_profile img {
        margin-bottom: 10px;
    }

    .ask_english {
        margin-bottom: 10px;
    }

    .play_store_pic img {
        margin-left: 15%;
        margin-bottom: 10px;
    }

    .lower_tab .container h2 {
        font-size: 24px;
    }

    .lower_tab .container .choose_language_tabs .language {
        width: 45%;
        margin-left: 3%;
        margin-bottom: 15px;
    }

    .lower_tab .container h4 {
        font-size: 20px;
        text-decoration: underline;
    }

    form {
        margin-left: 0px !important;
    }

    form .form_group {
        margin: 20px 0px;
    }

    form .submit {
        width: 60%;
        margin-left: 20%;
        font-size: 13px;
    }
    .play_services_1{
    display: block;
    
}
.play_services_2{
    display: none;
}
}
        

    </style>
<div class="upper_tab">
    <div class="container">
        <div style="text-align:center;font-size:30px;">Privacy Policy</div>
        <div class="row" style="text-align:justify;">
        <p>Please read this Privacy Policy very carefully, this privacy policy is applicable for the services provided through the mobile, desktop or web applications owned and operated by Career Anna Education Private Limited under the brand name Bolo Indya (hereinafter both the names interchangeably referred to as 'Bolo Indya').</p> 

        <p>By downloading, installing or using these products or services, you are consenting to the collection, transfer, storage, disclosure and other uses of Your information as set out in this Privacy Policy.</p> 

        <p>Bolo Indya may revise, alter, add, amend or modify this Privacy Policy at any time by updating this page. By downloading, installing and/or using this product, you agree to be bound by any such alteration, amendment, addition or modification.
        The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>

        <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Bolo Indya website as well unless otherwise defined in this Privacy Policy.</p>

        <h3>Information Collection and Use</h3>

        <p>For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to Name, Email ID, Phone Number, Address, City and Country. The information that we request will be retained by us and used as described in this privacy policy.</p>

        <p>The app does use third party services that may collect information used to identify you.</p>

        <p style="display:block;width:100%;">Link to privacy policy of third party service providers used by the app <a href="https://www.google.com/policies/privacy/" style="color:lightblue">Google Play Services</a> . </p>
        <h3>Log Data</h3>

        <p>We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>

        <h3>Cookies</h3>

        <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>

        <p>This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</p>

        <h3 >Service Providers</h3>

        <p style="display:block;width:100%;">We may employ third-party companies and individuals due to the following reasons:</p>

        <p style="display:block;width:100%;">To facilitate our Service;</p>
        <p style="display:block;width:100%;">To provide the Service on our behalf;</p>
        <p style="display:block;width:100%;">To perform Service-related services; or</p>
        <p style="display:block;width:100%;">To assist us in analyzing how our Service is used.</p>
        <p style="display:block;width:100%;">We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>

        <h3>Security</h3>

        <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

        <h3>Links to Other Sites</h3>

        <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

        <h3>Children’s Privacy</h3>

        <p>These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>

        <h3>Changes to This Privacy Policy</h3>

        <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>


        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row m-o">
            <div class="col-md-5 col-12">
                <div class="brand_name">
                    Bolo Indya
                </div>
                <div class="copy_right">
                    © Career Anna Education Pvt. Ltd. 2019
                </div>
                <ul class="social-icons">
                    <li><a href=" https://www.facebook.com/BoloIndya/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/bolo.indya/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Bolo_Indya"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCvj2ejaJ0VcjUoigQoW6BHg"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-7 col-12">
                <div class="row" style="float:right">
                    <div class="footer_links">
                        <h6>SUPPORT</h6>
                        <ul>
                            <li><a id="ga-2dc1d0" href="/about/">About Us</a></li>
                            <li><a id="ga-2dc1d0" href="/privacy-policy/">Privacy Policy</a></li>
                            <li><a id="ga-2dc1d0" href="/terms-of-service/">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}