{% extends "spirit/_index_base.html" %}
{% load spirit_tags i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
    .upper_tab {
            background: #f1f0f0;
            padding: 30px 0px;
        }
        .get_your_bolo_app {
            font-size: 65px;
        }
        .get_your_bolo_app span{
            font-weight: 600;
        }
        .get_your_bolo_app img {
            margin-left: 20px;
        }
        .card_profile .line{
            height: 1px;width: 100%;background: rgba(0,0,0,0.4);margin: 15px 0px;
        }
        .card_profile .description {
            font-size: 16px;
            padding-left: 5px;
        }
        .card_profile .profile_name {
            font-weight: 700;
        }
        .card_profile .profile_name span{
            font-weight: 400;
        }
        .card_profile .about {
            font-size: 13px;
        }
        .ask_question {
            text-align: center;
        }
        .ask_question .row .ask_english{
            background: white;
            padding: 10px 29%;
            border-radius: 4px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
        }
        .ask_question .row .ask_hindi{
            background: #BB3335;
            border-radius: 4px;
            color: white;
            padding: 10px 29%;
            transition: all 0.3s ease-in-out;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
        }
        .play_store_pic {
            padding: 20px 0px;
        }
        .play_store_pic img{
            margin-left: 40px;
        }
        .lower_tab {
            padding: 30px 0px;
        }
        .lower_tab .container h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        .lower_tab .container .choose_language_tabs {
            text-align: center;
        }
        .lower_tab .container .choose_language_tabs .language{
            background: #f1f0f0;
            margin: 1%;
            width: 23%;
            font-size: 20px;
            padding: 10px 0px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
        }
        .lower_tab .container .choose_language_tabs .language.active{
            background: #CB3B3D;
            color: white;
            font-weight: 600;
        }
        .lower_tab .container h4 { 
            text-align: center;
            margin: 20px 0px;
        }
        .upcoming_languages {
            text-align: center;
            font-size: 18px;
        }
        .want_to_get_updated {
            font-size: 18px;
            font-weight: 600;   
            margin-top: 30px; 
            text-align: center;
        }
        .want_to_get_updated span{
            opacity: 0.7;
        }
        form {
            margin-top: 20px;
            width: 70%;
        }
        form select {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        form .submit {
            width: 30%;
            margin-left: 35%;
            font-size: 13px;
        }
        .footer {
            background: #f1f0f0;
            padding: 30px 0px;
        }
        .social-icons li {
            background: #323F4E;
        }
        .social-icons li .fab{
            color: white;
        }
        .subscribe_form h4{
            opacity: 0.7;
            font-size: 20px;
            font-weight: 700;
        }
        .footer_links {
            padding: 10px;
        }
        .footer_links h6 {
            font-size: 14px;
            text-align: left;
        }
        .footer_links ul {
            padding: 0px;
        }
        .footer_links ul li {
            font-size: 12px;
            text-align: left;
        }
        .subscribe_form {
            width: 100%;
        }
        .form_group input[type=email]{
            width: 200px;
            font-size: 12px;
        } 
        .form_group input[type=submit]{
            font-size: 12px;
            width: 120px;
            margin-left: 20px;
        } 
        .play_store_image_footer {
            float: right;
        }
        @media (max-width:650px){
            .get_your_bolo_app {
                font-size: 16px;
            }
            .get_your_bolo_app img{ 
                width: 95px;
                margin-left: 10px;
            }
            .card_profile img{
                margin-bottom: 10px;
            }
            .ask_english {
                margin-bottom: 10px;
            }
            .play_store_pic img{
                margin-left: 15%;
                margin-bottom: 10px;
            }
            .lower_tab .container h2 {
                font-size: 24px;
            }
            .lower_tab .container .choose_language_tabs .language{
                width: 45%;
                margin-left: 3%;
                margin-bottom: 15px;
            }
            .lower_tab .container h4 { 
                font-size: 20px;
                text-decoration: underline;
            }
            form {
                margin-left: 0px !important;
            }
            form .form_group {
                margin: 20px 0px ;
            }
            form .submit {
                width: 60%;
                margin-left: 20%;
                font-size: 13px;
            }
        }

    </style>
<div class="upper_tab">
    <div class="container">
        <div style="text-align:center;font-size:30px;">Terms of Service</div>
        <div class="row m-0">
            <p>The following Terms of Use apply to all users of Bolo Indya, a brand of Career Anna Education Private Limited. The terms and conditions mentioned here apply to all users of www.boloindya.com, Bolo Indya Mobile Applications and other services that may be offered by Career Anna Education Pvt Ltd (referred hereafter as “Bolo Indya,” “us”, “we” and “our”) from time to time (collectively, the “Services”). BY USING THE SERVICES, YOU AGREE TO THESE TERMS OF USE; IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THE SERVICES.</p>
            <p>Bolo Indya reserves the right to change these Terms of Use from time to time at its sole discretion without notice to you. You agree to the changes to these Terms of Use by your continued use of the Services after we post notice of such changes. If you do not agree to any changes we make to the Terms of Use, you must cease use of the Services.</p>

            <h3>Your Use of the Services</h3>
            <p>You may not attempt to gain unauthorized access to any systems or networks connected to the Services, by hacking, password “mining” or any other illegitimate means. You may not probe, scan or test the vulnerability of any network connected to the Services, nor breach the security or authentication measures for the Services or any network connected to the Services. You agree that you will not take any action that imposes an unreasonable or disproportionately large burden on the infrastructure of Bolo Indya’s systems or networks, or any systems or networks connected to the Services. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of the Services or with any other person’s use of the Services.
            You may not manipulate identifiers in order to disguise the origin of any message you send through the Services.
            You may not pretend that you are, or that you represent, someone else, or impersonate any other individual or entity.
            You may not use, sell or otherwise exploit the Services for any commercial purposes.
            You may not use the Services for any purpose that is unlawful or prohibited by these Terms of Use.
            You may not use the Services to post or transmit any content that is libelous, defamatory, false, misleading, inaccurate, unlawful, obscene, racially or ethnically offensive, or objectionable, or that you have reason to believe infringes or otherwise violates the copyright, trade secret, patent, publicity, privacy or other intellectual property or proprietary rights of any person or entity. The Content you post or transmit may not contain profanity, intense violence, nudity or sexually explicit images, hate speech, graphic depiction of sexual activity or behavior, or the depiction of illegal drug use or the abuse of alcohol, drugs, or tobacco. 
            In the case of any violation of these Terms of Use, Bolo Indya reserves the right to 
            1) restrict or prohibit your use of the Services, and/or 2) seek all remedies available by law and in equity for such violations.</p>
            <h3>Privacy Policy</h3>
            <p>Bolo Indya’s Privacy Policy applies to personal information you provide in connection with the Services. By using the Services you agree to the terms of Bolo Indya’s Privacy Policy. Click Here to See it.</p>
            <h3>Content</h3>
            <p>Bolo Indya is a user generated content platform and does not endorse any views or opinions mentioned in the content posted by users on the platform. Any legal or other action taken on any user by any 3rd party because of any posted content shall not bear any impact on Bolo Indya. In such cases, Bolo Indya will follow the law of the land and cooperate in any procedures of the law for justice to be met to involved stakeholders. 
            Bolo Indya reserves the right to remove any published content if it is found inappropriate as per the platform guidelines.</p> 
            <h3>General Disclaimer</h3>
            <p>BOLO INDYA SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, CONSEQUENTIAL, OR INCIDENTAL DAMAGES INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR REVENUES, COSTS OF REPLACEMENT GOODS, LOSS OR DAMAGE TO DATA ARISING OUT OF THE USE OR INABILITY TO USE THE SERVICES, EVEN IF BOLO INDYA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

            <h3>Indemnification</h3>
            <p>You agree to defend, indemnify, and hold us, our affiliated companies, employees, representatives and agents harmless from all liabilities, claims, and expenses, including attorneys’ fees, that arise from your use or misuse of the Services.</p>

            <h3>International Use</h3>
            <p style="display:block;width:100%;">The use of services is only prohibited for those countries where the Services are illegal as per the law of the respective country.</p>

            <h3>General Terms</h3>
            <p>Bolo Indya may modify the Services or discontinue the Services at any time without notice. You agree that Bolo Indya shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Services.
            These Terms of Use and the relationship with you shall be governed by the laws of Government of India, and any dispute shall be settled in the court of law in the state of Haryana, at the court located in the city of Gurugram. 
            The failure of Bolo Indya to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. If for any reason a court finds that any provision or portion of these Terms of Use is unenforceable, the remainder of these terms will continue in force and effect.</p>

            Last Updated: May 9, 2019


        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row m-o">
            <div class="col-md-5 col-12">
                <div class="brand_name">
                    Bolo Indya
                </div>
                <div class="copy_right">
                    © Career Anna Education Pvt. Ltd. 2019
                </div>
                <ul class="social-icons">
                    <li><a href=" https://www.facebook.com/BoloIndya/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/bolo.indya/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Bolo_Indya"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCvj2ejaJ0VcjUoigQoW6BHg"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-7 col-12">
                <div class="row" style="float:right">
                    <div class="footer_links">
                        <h6>SUPPORT</h6>
                        <ul>
                            <li><a id="ga-2dc1d0" href="/about/">About Us</a></li>
                            <li><a id="ga-2dc1d0" href="/privacy-policy/">Privacy Policy</a></li>
                            <li><a id="ga-2dc1d0" href="/terms-of-service/">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}