{% extends "spirit/_new_layout_base.html" %}
{% load i18n %}
{% block title %}BoloIndya{% endblock %}
{% block content %}
<style>
    .upper_tab {
        /*background: #fff;*/
        padding: 30px 0px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(79, 82, 90);

    }


.base-layout-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 40px;
    margin: auto;
    background: var(--primary-bg-color);
}
.base-layout-container h1:first-child {

    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 48px;
}
.margin_bottom_20{
    margin-top: 20px;
    margin-bottom: 20px
}
@media(max-width: 991px){
    .margin_bottom_20{
        margin-top: 57px;
    }
}


</style>
<div class="jsx-193618068 base-layout-container" style="background: #f8f8f8;background-image: url(/media/background_eclipse.png);">
    <div class="upper_tab">
        <div class="container1" style="width: 100%">
            <div class="margin_bottom_20" style="text-align:center;font-size:30px;">Terms of Service</div>
            <div class="row m-0">
                {{terms_and_condition.page_description | safe}}

            </div>
        </div>
    </div>
</div>
</div>

    {% endblock %}