{% load i18n %}
<style type="text/css">
    .jwplayer.jw-stretch-uniform .jw-media video {
        object-fit: cover;
    }
    .jwplayer .jw-media video{
        cursor: pointer;
    }
    #player{
            height: 748px !important;
    }



    ._6w18 {
        display: flex;
        margin: 0 12px;
        padding: 4px 0;
    }
    ._6w1g {
        min-width: 29px;
        order: 2;
    }

    ._29ak {
        padding-left: 3px;
    }
    ._6w1h {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        order: 1;
    }
    ._18vi {
        align-items: center;
        display: flex;
        flex: 1 0;
        justify-content: center;
    }
    ._18vi {
        align-items: center;
        display: flex;
        flex: 1 0;
        justify-content: center;
    }
    ._18vi+._18vi::before {
        content: '\20\a0\20';
    }
    ._18vj._18vj {
        align-items: center;
        color: #606770;
        display: flex;
        flex: 1 0;
        font-weight: 600;
        height: 32px;
        justify-content: center;
        line-height: 14px;
        padding: 0 2px;
        position: relative;
        text-decoration: none;
        transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
    }

    ._666h {
        cursor: pointer;
    }
    ._42ft {
        cursor: pointer;
        float: right;
        display: inline-block;
        text-decoration: none;
        white-space: nowrap;
    }
    ._18vk::before {
        content: '';
        display: inline-block;
        height: 18px;
        margin: 0 6px -3px 0;
        min-width: 18px;
        position: relative;
        top: -2px;
        width: 18px;
    }

    ._666h::before {
        background-image: url(/media/CQy3OlLfs65.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 0 -156px;
    }
    ._18vj::after {
        bottom: -5px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
    }
    ._18vi {
        align-items: center;
        display: flex;
        flex: 1 0;
        justify-content: center;
    }
    ._18vi+._18vi::before {
        content: '\20\a0\20';
    }
    ._1j6m {
        display: flex;
        flex: 1 0;
        justify-content: center;
    }
    ._18vj._18vj {
        align-items: center;
        color: #606770;
        display: flex;
        flex: 1 0;
        font-weight: 600;
        height: 32px;
        justify-content: center;
        line-height: 14px;
        padding: 0 2px;
        position: relative;
        text-decoration: none;
        transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
    }

    ._1j6m ._2nj7 {
        align-items: center;
        display: flex;
        text-decoration: inherit;
        width: 100%;
    }
    ._18vk::before {
        content: '';
        display: inline-block;
        height: 18px;
        margin: 0 6px -3px 0;
        min-width: 18px;
        position: relative;
        top: -2px;
        width: 18px;
    }

    ._2nj7::before {
        background-image: url(/media/CQy3OlLfs65.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: -19px -175px;
    }
    ._18vj::after {
        bottom: -5px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
    }
    ._18vi {
        align-items: center;
        display: flex;
        flex: 1 0;
        justify-content: center;
    }
    ._666k {
        position: relative;
        width: 100%;
    }
    ._8c74 {
        position: relative;
    }
    ._18vj._18vj {
        align-items: center;
        color: #606770;
        display: flex;
        flex: 1 0;
        font-weight: 600;
        height: 32px;
        justify-content: center;
        line-height: 14px;
        padding: 0 2px;
        position: relative;
        text-decoration: none;
        transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
    }
    .sp_ddXiTdIB8vm.sx_44a25c {
        width: 18px;
        height: 18px;
        background-position: -38px -422px;
    }
    .sp_ddXiTdIB8vm.sx_44a25d {
        width: 18px;
        height: 18px;
        background-position: 1px -422px;
    }

    i.img {
        -ms-high-contrast-adjust: none;
    }
    ._6rk2 {
        display: inline-block;
        margin-right: 6px;
    }


    .sp_ddXiTdIB8vm {
        background-image: url(/media/iJGOBKN9vqK.png);
        background-size: auto;
        background-repeat: no-repeat;
        display: inline-block;
        height: 20px;
        width: 20px;
    }
    ._18vj::after {
        bottom: -5px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: -5px;
    }
    ._6w1g {
        min-width: 29px;
        order: 2;
    }
    ._29ak {
        padding-left: 3px;
    }
    ._2agf._4o_4 {
        display: inline-flex;
    }

    ._29ak a {
        align-items: center;
        border: none;
        display: flex;
        height: 32px;
    }
    ._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
        line-height: 22px;
    }
    ._59pe, form.async_saving ._59pe, a.async_saving._59pe, ._59pe._42fr {
        background: none;
        border-color: transparent;
    }
    ._517h, ._59pe:focus, ._59pe:hover {
        background-color: #f5f6f7;
        border-color: #ccd0d5;
        color: #4b4f56;
    }
    ._4jy0 {
        transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    }
    ._4jy0 {
        border: 1px solid;
        border-radius: 2px;
        box-sizing: content-box;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        justify-content: center;
        padding: 0 8px;
        position: relative;
        text-align: center;
        text-shadow: none;
        vertical-align: middle;
    }
    ._2agf {
        word-wrap: normal;
    }
    ._42ft {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        white-space: nowrap;
    }
    ._4jy0:before {
        content: '';
        display: inline-block;
        height: 20px;
        vertical-align: middle;
    }
    ._3-8_ {
        margin-right: 4px;
    }
    ._605a ._6vg {
        border-radius: 50%;
        overflow: hidden;
    }
    ._4jy0 .img {
        bottom: 1px;
        position: relative;
        vertical-align: middle;
    }
    ._3vum {
        align-items: center;
        border-bottom: 1px solid #dadde1;
        color: #606770;
        display: flex;
        line-height: 20px;
        margin: 10px 12px 0 12px;
        padding: 0 0 10px 0;
    }
    ._6w1l._6w1o {
        padding: 8px 12px 4px 12px;
    }
    ._6w1l._6w1m {
        padding: 2px 12px 8px 12px;
    }

    ._6w1l {
        padding: 4px 12px;
    }
    .clearfix {
        zoom: 1;
    }
    .lfloat {
        float: left;
    }
    ._3mf5 {
        border-radius: 50%;
        display: block;
        margin-right: 6px;
        position: relative;
    }
    ._3mf1 {
        height: 32px;
        width: 32px;
    }

    ._3me- {
        border-radius: 50%;
        display: block;
        overflow: hidden;
    }
    ._3mf5::after {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    ._42ef {
        overflow: hidden;
    }
    ._17pg {
        flex-grow: 1;
    }
    ._1rwk {
        flex-grow: 1;
    }
    ._129h {
        background-color: #f2f3f5;
        border: 1px solid #ccd0d5;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
    }
    ._4w79 {
        cursor: text;
        flex: 1 1 auto;
        line-height: 16px;
        overflow: hidden;
        padding: 8px 12px;
    }
    ._7c_r {
        color: #8d949e;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ._5rp7 {
        position: relative;
    }
    ._5rp7, ._5rpb, ._5rpu {
        height: inherit;
        text-align: initial;
    }
    ._3d2q ._1p1t {
        color: #8d949e;
    }
    ._7c_r ._1p1t {
        width: 100%;
    }
    ._1p1t {
        color: #90949c;
        position: absolute;
        z-index: 1;
    }
    ._7c_r ._1p1v {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }
    ._5rpb {
        background-color: rgba(255, 255, 255, 0);
        border-left: .1px solid transparent;
        position: relative;
        z-index: 1;
    }
    ._5rp7, ._5rpb, ._5rpu {
        height: inherit;
        text-align: initial;
    }
    ._3d2q ._5rpu {
        background-color: transparent;
        border: 0;
        resize: none;
        word-break: break-word;
    }
    ._5rpu[contenteditable="true"] {
        -webkit-user-modify: read-write-plaintext-only;
    }
    ._5rp7, ._5rpb, ._5rpu {
        height: inherit;

    }
    ._1mj {
        direction: ltr;
        text-align: left;
    }

    ._1mf {
        position: relative;
        white-space: pre-wrap;
    }
    ._1mj {
        direction: ltr;
        text-align: left;
    }
    ._1mj {
        direction: ltr;
        text-align: left;
    }
    ._4w79 {
        cursor: text;
        flex: 1 1 auto;
        line-height: 16px;
        overflow: hidden;
        padding: 8px 12px;
    }

    ._7c_r {
        color: #8d949e;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ._18vj._18vj:hover{
        background: #e9ebee;
    }
        
    .sbutton {
    position: relative;

    }
    .sbutton:hover{
        background: #e9ebee;
    }

    .smenu {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      left: 6px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 36px;
      -webkit-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    }

    .smenu:after {
      background-color: #FFF;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    top: -7px;
    content: '';
    display: inline-block;
    height: 10px;
    left: 50px;
    position: absolute;
    width: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
    }

    .smenu li {
      border-bottom: 1px solid #ccc;
      list-style-type: none;
      margin: 0;
      padding: 7px;
      width: 100px;
    }

    .smenu li:hover {
      background-color: #fafafa;
    }

    .smenu .facebook:hover {
    background-color: #4C66A4;
    color: #FFF !important;
    }

    .smenu .twitter:hover {
    background-color: #019AD2;
    color: #FFF !important;
    }

    .smenu .googleplus:hover {
    background-color: #D73D32;
    color: #FFF !important;
    }

    .smenu li:last-child {
      border-bottom: none;
    }

    .smenu li a {
      color: #E04006;
      text-decoration: none;
    }

    .smenu li:hover a {
      color:#fff !important;
    }

    .smenu.share {
      opacity: 1;
      /*top: 45px;*/
    }
    .comment_block .create_new_comment {
    width: 100%;
    padding: 20px 0;
    }
    .user_avatar {
        width: 65px;
        height: 65px;
        display: inline-block;
        vertical-align: middle;
    }
    .comment_block .create_new_comment .input_comment {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: calc(100% - 75px);
    }
    .comment_block .create_new_comment .input_comment input[type="text"] {
        width: 100%;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #f2f2f2;
    }
    .user_avatar img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    *, ::before, ::after {

        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        transition: all 0.2s ease;

    }
    .comment-add input {
        display: block;
        border: 1px solid #ccc;
        padding: 10px;
        width: calc(100% - 0px);
        outline: 0;
        background-color: #fafafa;
        border-radius: 3px;
    }
    .comment-add {
        display: block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .chars-counter {
        font-size: 12px;
        color: #aaa;
    }
    hr {
        border: none;
        border-top: 1px dotted #aaa;
    }
    #commentInputId .hide{
    transition-property: all;
    transition-duration: 1s;
    }
    .liked{
        color: rgb(32, 120, 244) !important;
    }

._6coi {
    color: #90949c;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
}
._6qw9 {
    margin-bottom: 3px;
    margin-left: 10px;
    min-height: 15px;
    padding-top: 3px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
._6coj {
    display: inline-block;
}
#facebook ._-kb span {
    font-family: inherit;
}
._6qw6 {
    display: inline-block;
    position: relative;
}

#facebook ._-kb div {
    font-family: inherit;
}
._8c74 {
    position: relative;
}
._77yo::before {
    bottom: 0;
    content: '';
    display: block;
    left: -6px;
    position: absolute;
    right: -6px;
    top: -4px;
}
#facebook ._-kb div {
    font-family: inherit;
}
#facebook .accessible_elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

._2r6l {
    left: 0;
    position: absolute;
    top: 0;
}
._8c74 a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
.liked a {
    color: rgb(32, 120, 244) !important;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}
.mask .outsharepanel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(67.96px);
    background-size: 100% 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 9px 9px 0px 0px;
}
.mask .outsharepanel .title {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
    text-align: center;
    color: rgb(22, 24, 35);
    padding: 12px 0px;
}
.mask .outsharepanel .icontainer {
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding: 0px 24px 16px;
}
.mask .outsharepanel .icontainer .platwrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 17.5px;
}

.mask .outsharepanel .icontainer .platwrap span {
    display: block;
    font-size: 11px;
    padding-top: 8px;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
}
.mask .outsharepanel .icontainer .platwrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 17.5px;
}
.mask .outsharepanel .icontainer .platicon {
    width: 46px;
    height: 46px;
    background-size: contain;
    margin: 0px auto;
    background-repeat: no-repeat;
}
.mask .outsharepanel .icontainer:nth-child(3) {
    padding-top: 16px;
}

.mask .outsharepanel .icontainer {
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding: 0px 24px 16px;
}
.mask .outsharepanel .btns {
    position: relative;
}
.mask .outsharepanel .btns button {
    height: 52px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 18px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.loadMoreComment a{
    font-size: 13px;
    color: #385898;
}

.top-banner.show {
    -webkit-transform: translateY(54px);
    -ms-transform: translateY(54px);
    transform: translateY(54px);
}
.top-banner {
    position: fixed;
    width: 100%;
    height: 35px;
    left: 0;
    top: 0px;
    background: rgba(0,0,0,0.85);
    z-index: 1001;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 14px 10px 16px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.top-banner p {
    font-size: 15px;
    line-height: 15px;
}
.top-banner p:last-child {
    font-size: 12px;
}
.top-banner button {
    width: 64px;
    height: 28px;
    left: 297px;
    border: none;
    top: 13px;
    background: #FE2C55;
    border-radius: 2px;
    color: #fff;
}

@media(min-width: 992px){
    .mobileDownPopup{
        display: none;
    }
}

._video_card_big_user_info_handle{
    display: inline-block;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%
}


.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  position: absolute;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.userNameMargin{
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
}


.mentions-input-box {
  position: relative;
  background: #fff;
}

.mentions-input-box textarea {
  width: 100%;
  display: block;
  padding: 9px;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  overflow: hidden;
  background: transparent;
  position: relative;
  outline: 0;
  resize: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mentions-input-box .mentions-autocomplete-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.mentions-input-box .mentions-autocomplete-list li:last-child {
  border-radius:5px;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.mentions-input-box .mentions-autocomplete-list li em {
  font-weight: bold;
  font-style: none;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
  background-color: #f2f2f2;
}

.mentions-input-box .mentions-autocomplete-list li b {
  background: #ffff99;
  font-weight: normal;
}

.mentions-input-box .mentions {
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
  padding: 9px;
  color: #fff;
  overflow: hidden;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.mentions-input-box .mentions > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
}

.mentions-input-box .mentions > div > strong {
  font-weight:normal;
  background: #d8dfea;
}

.mentions-input-box .mentions > div > strong > span {
    color: #fff0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}


</style>


<script type="text/javascript">
    var indexRowId=0;
    var indexRowId=$("indexId").val();

</script>
<style type="text/css">
    .videoCentered {
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
}

    .tags-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    width: 100%;
    min-height: 34px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.6;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 1px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tag:first-child {
    margin-left: 0;
}
.tag {
    position: relative;
    margin: 8px 2px 8px 0;
    padding: 1px 15px 1px 8px;
    font-size: inherit;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #317CAF;
    border-radius: 3px;
    transition: background-color .3s ease;
    cursor: default;
}
.tag__name {
    margin-right: 3px;
}
.tag__remove {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 400;
    transition: opacity .3s ease;
    opacity: .5;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: #fff;
    line-height: 1;
}
input.tag-input {
    flex: 3;
    border: 0;
    outline: 0;
}

.video-meta-title.jsx-191376589 {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #161823;
}

.ytd-commentbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: right;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.ytd-button-renderer {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .007px;
    cursor: pointer;

}
 #submit-button.ytd-commentbox {
    background-color: #ccc;
    color: #000;
    padding: 5px;
}
#cancel-button.ytd-commentbox{
    margin-top: -5px !important;
}

#cancel-button.ytd-commentbox, #submit-button.ytd-commentbox {
    margin-left: 8px;
    margin-top: -10px;
}

.ytd-button-renderer.style-primary[disabled][is-paper-button] {
    background-color: #ccc;
    color: #000;
    padding: 5px;
}

@media(max-width: 991px){
    #player{
        height: 94vh !important
    }
}

.video-meta-title a{
    color: blue;
}






/*    New CSS     */
.video-card-big.browse-mode.jsx-1870413825 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.video-card-big.jsx-1870413825 {
    display: flex;
    flex-direction: row;
    position: relative;
    background: rgb(255, 255, 255);
}

div {
    display: block;
}
body.safari {
    -webkit-font-smoothing: antialiased;
}

.browse-mode.jsx-1870413825 .video-card-container.jsx-1870413825 {
    padding: 0px 80px;
}

.video-card-container.jsx-1870413825 {
    position: relative;
    background: black;
    flex: 1 1 896px;
    overflow: hidden;
}
.video-card-container-warn.jsx-1870413825 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
}
.background-image.jsx-2126139261 {
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
}
.background-image.jsx-2126139261 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-card-browse.jsx-2656360626 {
    width: 100%;
    height: 100%;
    position: relative;
    background: center center / contain no-repeat;
}
.video-card-browse.jsx-2656360626 .video-player {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

video.horizontal.jsx-3382097194 {
    object-fit: contain;
}
.video-card-browse.jsx-2656360626 .play-button {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.play-button.jsx-3529817232 {
    background-size: 30%;
    background-image: url('/media/play-button.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.video-card-browse.jsx-2656360626 .event-delegate-mask.jsx-2656360626 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.arrow-right.jsx-2126139261 {
    right: 20px;
    margin-top: -24px;
    transform: rotate(180deg);
}

.control-icon.jsx-2126139261 {
    width: 48px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.close.jsx-2126139261 {
    top: 20px;
    left: 20px;
}

.control-icon.jsx-2126139261 {
    width: 48px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.logo.jsx-2126139261 {
    top: 20px;
    left: 84px;
    cursor: default;
}

.control-icon.jsx-2126139261 {
    width: 48px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.mute-icon.jsx-2126139261 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 20px;
    left: 183px;
    cursor: pointer;
    opacity: 0;
    background: url('/media/mute_icon.svg') center center / contain no-repeat;
    transition: opacity 0.3s ease 0s;
}

.arrow-left.jsx-2126139261 {
    left: 20px;
    margin-top: -24px;
}

.control-icon.jsx-2126139261 {
    width: 48px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.close.jsx-2126139261 {
    top: 20px;
    left: 20px;
}
.modal {
    display: none;
}
.modal .modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
}
.modal .modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(22,22,22,0.9);
}
.modal .modal-wrapper .close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #ffffff;
    cursor: pointer;
}
.modal .modal-wrapper .modal-content {
    position: relative;
    border-radius: 8px;
    margin: auto;
}
.boloindya-loading-small.jsx-1188661504 {
    display: block;
    background-image: url();
    background-size: 32px;
    width: 32px;
    height: 32px;
    margin: 6px auto;
    animation: 1s steps(60, start) 0s infinite normal none running loading-small-jsx-1188661504;
}
.report-text.jsx-177938563 {
   
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 31px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.report-text.jsx-177938563::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: -23px;
    top: 1px;
    background: url('/media/report-icon.png') center center / contain no-repeat;
}
.content-container.jsx-1870413825 {
    display: flex;
    flex-direction: column;
    flex: 0 0 544px;
}
.user-info-container.jsx-1870413825 {
    padding: 32px 32px 0px;
}
.user-info.jsx-140423242 {
    display: flex;
    flex-direction: row;
    color: rgb(22, 24, 35);
    flex: 0 0 auto;
    padding: 22px 0px 15px;
}
.user-info.jsx-140423242 .user-avatar {
    margin-right: 12px;
    flex: 0 0 40px;
}

.avatar.jsx-3957300394 {
    position: relative;
}

.avatar-wrapper.round.jsx-3957300394 {
    border-radius: 50%;
}

.avatar-wrapper.jsx-2517402465 {
    display: block;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
}

.avatar-wrapper.jsx-203739285 {
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    border-image: initial;
}

.avatar-wrapper.jsx-3957300394 {
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background: center center / cover no-repeat padding-box padding-box;
}
.user-info.jsx-140423242 .user-username.jsx-140423242 {
    
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0px;
}
.user-info.jsx-140423242 .user-nickname.jsx-140423242 {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
}
.video-infos-container.jsx-1870413825 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0px 32px;
    overflow: scroll;
}
h1.video-meta-title.jsx-1305565323 {
    
    font-size: 16px;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-weight: normal;
    margin-bottom: 0px;
    flex: 0 0 auto;
}
.music-info.jsx-2923443248 {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 6px;
    margin-top: 10px;
    flex: 0 0 auto;
}
.action-container.jsx-319872377 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 12px;
    position: relative;
    flex: 0 0 auto;
}
.action-left.jsx-319872377 {
    
    font-weight: 600;
    font-size: 16px;
    line-height: 56px;
    flex: 0 0 auto;
}
.action-left.jsx-319872377 .action-wrapper.like-part.jsx-319872377 {
    cursor: pointer;
}
.action-left.jsx-319872377 .icons.like.jsx-319872377 {
    background-image: url(/media/like-button.svg);
}

.action-left.jsx-319872377 .icons.jsx-319872377 {
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background: center center / contain no-repeat;
}
.action-left.jsx-319872377 .icons.comment.jsx-319872377 {
    background-image: url(/media/comment.svg);
    margin-left: 20px;
}

.action-left.jsx-319872377 .icons.jsx-319872377 {
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background: center center / contain no-repeat;
}
.share-group.jsx-885361899 {
    text-align: right;
    font-size: 0;
}
.share-group.jsx-3852217983 a.jsx-3852217983 {
    width: 32px;
    height: 32px;
}

.share-group.jsx-885361899 a.jsx-885361899 {
    display: inline-block;
}
.share-group.jsx-2933355696 a.jsx-2933355696 + a.jsx-2933355696 {
    margin-left: 8px;
}
.share-group.jsx-3852217983 a.jsx-3852217983 {
    width: 32px;
    height: 32px;
}

.share-group.jsx-885361899 a.jsx-885361899 {
    display: inline-block;
}
.share-group.jsx-2933355696 a.jsx-2933355696 + a.jsx-2933355696 {
    margin-left: 8px;
}
.share-group.jsx-3852217983 a.jsx-3852217983 {
    width: 32px;
    height: 32px;
}
.share-group.jsx-885361899 a.jsx-885361899 {
    display: inline-block;
}
.share-group.jsx-885361899 a.jsx-885361899 img.jsx-885361899 {
    display: block;
    width: 100%;
    height: 100%;
}

.comment-container.jsx-1870413825 {
    position: relative;
    display: flex;
    flex: 1 1 auto;
}
.comment-container.jsx-1870413825:not(.no-top-line)::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    transform: scaleY(0.5);
    top: 0px;
    border-top: 1px solid rgba(18, 18, 18, 0.12);
}
.logout-container.jsx-1138200114 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 0%;
    padding: 0px 60px;
}
.logout-container.jsx-1138200114 h3.jsx-1138200114 {
    
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
}
.logout-container.jsx-1138200114 .desc.jsx-1138200114 {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.75);
    margin-bottom: 20px;
}
.logout-container.jsx-1138200114 .button.jsx-1138200114 {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #b62927;
    color: rgb(255, 255, 255);
    
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    width: 100%;
    max-width: 360px;
    align-self: center;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 2px;
}
.logout-container.jsx-1138200114 .sign-up.jsx-1138200114 {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(22, 24, 35);
}
.logout-container.jsx-1138200114 .sign-up.jsx-1138200114 a {
    
    font-weight: 600;
    color: rgb(254, 44, 85);
}
._comments_:after, ._comments_:before{
    display: none;
}
.action-left.jsx-319872377 .icons.like.liked.jsx-319872377 {
    background-image: url(/media/liked-icon.svg);
}

.action-left.jsx-319872377 .action-wrapper.comment-part.jsx-319872377 {
    cursor: pointer;
}
._comments_ {
    position: relative;
    margin: -39px 0;
}
.video-card-container:hover .mute-icon.jsx-2126139261 {
    opacity: 1;
}
.mute-icon.muted.jsx-2126139261 {
    background-image: url('/media/volum_mute.svg');
}
.dspHide{
    color: #fff;
    border: 1px solid #fff;
}
</style>

{% trans "download" as Download %}
{% trans "like" as like %}
{% trans "video" as video %}

<input type="hidden" name="totalLikeCount" id="totalLikeCount" value="">
<input type="hidden" name="totalCommentCount" id="totalCommentCount" value="">



<div style="display: none;" id="modelPopup">
    <input type="hideon" name="indexId" id="indexId" value="">
    <input type="hideon" name="currentPlayUserId" id="currentPlayUserId" value="">
    <div class="_global_modal_">
        <div class="_global_modal_mask" style="background-color: rgba(22, 22, 22, 0.9);">
            
        </div>
        <div class="_global_modal_wrapper_content">
            <div class="_global_modal_content">
                <div class="jsx-1270455008 top-banner mobileDownPopup hide">
                    <div class="jsx-1270455008"><p class="jsx-1270455008">Boloindya</p><p class="jsx-1270455008">{% blocktrans %} {{Download}} the app to {{like}} this {{video}} {% endblocktrans %}</p></div><div class="jsx-1270455008"><button onclick="downloadAppLink()" class="jsx-1270455008 jsx-download-app">{% trans "Get" %}</button></div>
                </div>
<div class="jsx-1870413825 video-card-big browse-mode">
    <div class="jsx-1870413825 video-card-container">
        <div class="jsx-1870413825 video-card-container-warn"></div>
        <div class="jsx-2126139261 background-image">
            <img src="" class="jsx-2126139261">
        </div>
        <div class="jsx-2656360626 video-card-browse backgroundImg"  >
            <video id="player" playsinline="" loop="" src="" preload="metadata" class="jsx-3382097194 horizontal video-player"></video>
            <div class="jsx-3529817232  play-button theme videoPlayButton" style="background-size: 100px;"></div>
            <span class="jsx-2656360626 event-delegate-mask" onclick="delegetPlayStatus()" ></span>
        </div>
            <img src="/media/arrow-c.svg" class="jsx-2126139261 control-icon arrow-left" onclick="previousVideoPlay();">
            <img src="/media/arrow-right.svg" class="jsx-2126139261 control-icon arrow-right" onclick="nextVideoPlay();">
            <img src="/media/close-icon.svg" class="jsx-2126139261 control-icon _global_modal_cancel close video_close" onclick="removeDataFromURL();"><
        <div class="jsx-2126139261 mute-icon browse-mode " onclick="muteAndUnmutePlayer1();" id="mutedImageId"></div>
        <div class="jsx-2879973316 modal">
            <div class="jsx-2879973316 modal-wrapper">
                <div class="jsx-2879973316 modal-mask">
                    <div class="jsx-2879973316 close"></div>
                </div>
                <div class="jsx-2879973316 modal-content">
                    <div class="jsx-1188661504 boloindya-loading-small"></div>
                </div>
            </div>
        </div>
        <div class="jsx-177938563 report-text">Report</div>
        <div class="jsx-2879973316 modal">
            <div class="jsx-2879973316 modal-wrapper">
                <div class="jsx-2879973316 modal-mask" style="background: rgba(0, 0, 0, 0.5);"></div>
                <div class="jsx-2879973316 modal-content">
                    <div class="jsx-478265696 boloindya-loading"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="jsx-1870413825 content-container">
        <div class="jsx-1870413825 user-info-container">
            <a tag="a" class="jsx-140423242 user-info userProfileURL" href="#">
                <div class="jsx-3957300394 jsx-203739285 jsx-2517402465 avatar user-avatar" >
                    <!-- <span id="profileImageUserId"></span> -->
                    <img id="profileImageUserId1" src="" class="jsx-3957300394 jsx-203739285 jsx-2517402465 avatar-wrapper round">
                </div>
                <div class="jsx-140423242 user-info-content">
                    <h2 class="jsx-140423242 user-username "></h2>
                    <h2 class="jsx-140423242 user-nickname"></h2></div>
            </a>
        </div>
        <div class="jsx-1870413825 video-infos-container">
            <h1 class="jsx-1305565323 video-meta-title"></h1>
            <div class="jsx-319872377 action-container">
                <div class="jsx-319872377 action-left">
                    <span class="jsx-319872377 action-wrapper like-part" >
                        <span class="jsx-319872377 icons like" data-testid="UReactionLink" id="UReactionLink"></span>
                        <strong class="jsx-319872377 like-text"></strong>
                    </span>
                    <span class="jsx-319872377 action-wrapper comment-part">
                        <span class="jsx-319872377 icons comment" testid="UFI2CommentLink" title="Leave a comment" id="UCommentLink"></span>
                        <strong class="jsx-319872377 comment-text" ></strong>
                    </span>

                </div>



                <div class="jsx-319872377 action-right">
                    <div class="jsx-885361899 jsx-3852217983 jsx-2933355696 share-group">
                        <a href="javascript:void(0)" onclick="social_share('facebook_share')" target="_blank" class="jsx-885361899 jsx-3852217983 jsx-2933355696"><span><img src="/media/facebook_mobile.svg" class="jsx-885361899 jsx-3852217983 jsx-2933355696"></span></a>
                        
                        <a href="#" target="_blank" onclick="social_share('twitter_share')" class="jsx-885361899 jsx-3852217983 jsx-2933355696"><span><img src="/media/twitter_mobile.svg" class="jsx-885361899 jsx-3852217983 jsx-2933355696"></span></a>

                        <a href="#" target="_blank" onclick="social_share('whatsapp_share')" class="jsx-885361899 jsx-3852217983 jsx-2933355696"><span><img src="/media/whatsapp.svg" class="jsx-885361899 jsx-3852217983 jsx-2933355696"></span></a>


                        <a href="#" onclick="copyShareLink();" class="jsx-885361899 jsx-3852217983 jsx-2933355696"><span><img src="/media/copy_url_link.svg" class="jsx-885361899 jsx-3852217983 jsx-2933355696"></span></a>

                    </div>
                    <span class="linkCopies1"></span>
                </div>
            </div>
            <div class="jsx-1870413825 comment-container">
                        <div class="_comments_ _comments_top _video_card_big_comments">
                            <div class="_comments_comments_tunnel">
                                <div class="_comments_comments_scroll comment_block">
                                    <div>
                                        <div class="_video_card_big_meta_info_">

                                            <div class="_video_card_big_meta_info_count1"> </div>
                                            <input type="hidden" name="tpoicId" id="topicID" value="" >
                                            <input type="hidden" name="topicCreatorUsername" id="topicCreatorUsername" value="" >
                                        </div>
 

                                        <hr style="margin-bottom: 10px;">

                                        <div class="_6w1l _6w1m _6w1o clearfix clearfix hide"  data-testid="UFI2Composer/root" id="commentInputId" direction="left">


                                            <div class="">
                                                
                                                <div class="comment-add ">


                                                    <textarea class='mention' id="comment-input" autocomplete="off" maxlength="60" placeholder="Say something nice.."></textarea>

     
                                                </div>

                                                <div id="buttons1" class="style-scope ytd-commentbox">
                                                    <div id="cancel-button" class="style-scope ytd-commentbox style-text size-default ytd-button-renderer" >
                                                        <a class="yt-simple-endpoint style-scope ytd-button-renderer" tabindex="-1">
                                                            Cancel
                                                        </a>
                                                    </div>
                                                    <div id="submit-button" class="style-scope ytd-commentbox style-primary size-default ytd-button-renderer" >
                                                        <a class="yt-simple-endpoint style-scope ytd-button-renderer" tabindex="-1">
                                                            Comment
                                                        </a>
                                                    </div>

                                                </div>
                                                <span class="chars-counter"><span id="chars-current">0</span>/60</span>
                                                <span class="commentError"></span>
                                            </div>
                                        </div>
                                        <div class="_scroll_load_more_loading">
                                            <div class="boloindya-loading"></div>
                                        </div>
                                        <span class="commentErrorStatus"></span>
                                        <div id="currentCommentId"></div>
                                        <div class="videoCommentId"></div>
                                        <div class="_scroll_load_more_loading_comment">
                                            <div class="boloindya-loading"></div>
                                        </div>
                                        <div class="loadMoreComments"></div>

                                    </div>
                                </div>
                            </div>

                        </div>


<!--                 <div class="jsx-1138200114 logout-container">
                    <h3 class="jsx-1138200114">Login to see comments</h3>
                    <p class="jsx-1138200114 desc">Login to see comments and like the video.</p>
                    <button type="button" class="jsx-1138200114 button">Log in</button>

                </div> -->

            </div>
        </div>
    </div>
    <div class="jsx-2879973316 modal">
        <div class="jsx-2879973316 modal-wrapper">
            <div class="jsx-2879973316 modal-mask">
                <div class="jsx-2879973316 close" ></div>
            </div>
            <div class="jsx-2879973316 modal-content modal-phone-sms">
                <div class="jsx-1830994819 download-content download-sms">
                    <h2 class="jsx-1830994819">Text yourself a link to download boloindya</h2>
 
                    <div class="jsx-1830994819 tips">
                        <div class="jsx-1830994819 download-tips">
                            <p class="jsx-1830994819">By clicking the "send" button, you confirm that you agree to our <a href="https://www.boloindya.com/en/terms-of-use" target="_blank">Terms of Use</a> and acknowledge you have read and understood our <a href="https://www.boloindya.com/en/privacy-policy" target="_blank"> Privacy Policy</a></p>
                        </div>
                    </div>
                    <div class="jsx-2879973316 modal">
                        <div class="jsx-2879973316 modal-wrapper">
                            <div class="jsx-2879973316 modal-mask">
                                <div class="jsx-2879973316 close" ></div>
                            </div>
                            <div class="jsx-2879973316 modal-content">
                                <div id="pc_slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
            <img class="_global_modal_cancel" onclick="removeDataFromURL();" src="/media/cancel.svg">
        </div>
    </div>
</div>
<div class="boloindya-share openShareTabId hide">
    <div class="jsx-2679382212 outshare mask share-transiton-enter-done">
        <div class="jsx-2679382212 outsharepanel">
            <div class="jsx-2679382212 title">{% trans "Share to" %}</div>
            <div class="jsx-2679382212 icontainer">
                <div class="platwrap" >
                    <div onclick="copyShareLinkMobile();" class="platicon i-copylink" style="background-image: url(/media/copy.svg);"></div><span>{% trans "Copy Link" %}</span>
                    <input readonly=""  class="jsx-1861775669 jsx-537314381 hide" id="shareInputboxMobile" value="https://www.boloindya.com/@karansingharoraofficial/video/6758860880575827202">
                </div>

                <div class="platwrap" onclick="social_share('facebook_share')">
                    <div class="platicon i-facebook"  style="background-image: url(/media/facebook_mobile.svg);"></div><span> Facebook</span></div>
                <div class="platwrap" onclick="social_share('twitter_share')">
                    <div class="platicon i-twitter" style="background-image: url(/media/twitter_mobile.svg);"></div><span> Twitter</span></div>
                <div class="platwrap" onclick="social_share('whatsapp_share')">
                    <div class="platicon i-pinterest" style="background-image: url(/media/whatsapp.svg);"></div><span> Whatsapp</span></div>
                <p class="linkCopies"></p>
            </div>


            <div class="jsx-2679382212 btns">
                <button class="jsx-2679382212 hideShareOnMobile">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>
<input readonly=""  class="jsx-1861775669 jsx-537314381 dspHide" id="shareInputbox" value="">
<a href="/login/?next={{ request.get_full_path }}" id="gotoLoginPage" ></a> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' type='text/javascript'></script>
<script src='/media/js/jquery.events.input.js' type='text/javascript'></script>
<script src='/media/js/jquery.elastic.js' type='text/javascript'></script>
<script src='/media/js/jquery.mentionsInput.js' type='text/javascript'></script>
<script type="text/javascript">

</script>
<!-----------  Comment Script  ------------>
<script src="/media/js/comment_and_play_trending.js"></script>
<!-----------End  ------------>


