amqp==2.5.2
appnope==0.1.0
argcomplete==1.11.1
backports.csv==1.0.7
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bf==1.11.0
billiard==3.6.1.0
bl==2.4.0
boto==2.49.0
boto3==1.9.138
botocore==1.12.138
bq==0.8.0
cachetools==3.1.0
celery==4.3.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
coreapi==2.3.3
coreschema==0.0.4
crcmod==1.7
cryptography==2.9.2
cssselect==1.1.0
cssutils==1.0.2
decorator==4.4.0
defusedxml==0.6.0
diff-match-patch==20181111
Django==1.11.20
django-admin-rangefilter==0.3.15
django-allauth==0.40.0
django-chartjs==1.5.0
django-djconfig==0.5.3
django-extensions==2.1.7
django-fcm==0.1.1
django-filter==1.1.0
django-grappelli==2.13.1
django-haystack==2.7.dev0
django-import-export==1.2.0
django-infinite-scroll-pagination==0.2.0
django-jet==1.0.8
django-rest-swagger==2.2.0
django-tinymce==2.8.0
djangorestframework==3.9.2
djangorestframework-datatables==0.5.1
djangorestframework-filters==0.9.0
djangorestframework-simplejwt==3.3
docutils==0.14
elasticsearch==2.3.0
enum34==1.1.6
et-xmlfile==1.0.1
fasteners==0.15
funcsigs==1.0.2
future==0.18.2
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
gcs-oauth2-boto-plugin==2.5
google-api-core==1.17.0
google-apitools==0.5.31
google-auth==1.15.0
google-cloud==0.34.0
google-cloud-core==1.3.0
google-cloud-speech==1.0.0
google-cloud-storage==1.28.1
google-cloud-vision==0.38.1
google-gax==0.12.5
google-reauth==0.1.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.19.0
gsutil==4.51
httplib2==0.17.4
idna==2.8
imageio==2.4.1
importlib-metadata==0.23
ipaddress==1.0.23
ipython==5.8.0
ipython-genutils==0.2.0
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.4
kombu==4.6.6
libsass==0.20.0
MarkupSafe==1.1.1
mistune==0.7.4
mock==2.0.0
monotonic==1.5
more-itertools==5.0.0
moviepy==1.0.0
neo4j==1.7.4
neobolt==1.7.13
neotime==1.7.4
newrelic==5.14.1.144
numpy==1.16.2
oauth2client==4.1.3
oauthlib==3.1.0
odfpy==1.4.0
olefile==0.46
openapi-codec==1.3.2
opencv-python==4.1.0.25
opencv-contrib-python==4.2.0.32
openpyxl==2.6.2
pandas==0.24.2
pathlib2==2.3.3
pbr==5.4.5
pexpect==4.6.0
phonenumbers==8.12.5
pickleshare==0.7.5
Pillow==4.2.1
ply==3.8
postgres==2.2.2
proglog==0.1.9
prompt-toolkit==1.0.15
protobuf==3.7.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.20
Pygments==2.3.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pysolr==3.8.1
python-dateutil==2.8.0
python-magic==0.4.13
python-openid==2.2.5
pytz==2018.9
pyu2f==0.1.4
PyYAML==5.1
redis==3.3.11
requests==2.21.0
requests-oauthlib==1.3.0
retry-decorator==1.1.1
rsa==4.0
s3transfer==0.2.0
scandir==1.10.0
sentry-sdk==0.17.4
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
SocksiPy-branch==1.1
soupsieve==1.9.2
spirit==1.8.6
tablib==0.13.0
tqdm==4.31.1
traitlets==4.3.2
typing==3.6.6
uni-slugify==0.1.4
Unidecode==1.0.23
Unum==4.1.4
uritemplate==3.0.0
urllib3==1.24.1
vine==1.3.0
wcwidth==0.1.7
wget==3.2
Whoosh==2.7.4
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
redis-py-cluster==2.0.99rc2
grequests==0.6.0
pycrypto==2.6.1
paytmchecksum==1.7.0
django-jsonfield==1.4.0
django-simple-history