<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <style>
        .center {
            text-align: center;
        }
        .failed_icon{
            height: 50px;
        }
        .payment-body{
            background: #100B20;
            color: white;
            font-family: Avenir;
            font-style: normal;
        }
    </style>
</head>
<body class="payment-body">
    <div class="center">
        <img class="failed_icon" src="/media/img/payment/failed_icon.png" alt="">
        <div>Payment Failed</div>
    </div>
</body>
</html>