{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
    <style>

    </style>
</head>
<body>
    <div>
        <img src="/media/img/payment/success_banner.png" alt="">
    </div>
    <div>
        <span>Your payment is confirmed</span>
        <img src="/media/img/payment/success_icon.png" >
    </div
    <div>
        <p>
            Morbi et blandit urna. Nam malesuada quam in ultricies finibus. Aliquam sit amet condimentum felis. Ut mauris sapien, luctus ac sodales id, placerat a libero. Vestibulum et risus arcu. Donec eget vehicula dui. Aliquam a scelerisque quam. Curabitur pellentesque lacus vitae purus ultricies, quis pellentesque odio fermentum. Nam at vehicula enim, ac convallis nisl.
        </p>
    </div>
    <div>
        <a href="/bookings/" ><img src="/media/img/payment/check_booking_button.png" ></a>
    </div>
</body>
</html>