{% load spirit_tags i18n %}
{% load static from staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="/media/img/favicon.ico">

<!--     <title>Bolo Indiya</title>
    <meta name="description" content="{{ config.site_description }}"> -->
    <title>Bolo Indya -  Questions Answers and Discussions Platform in Local Languages</title>
    <meta name="description" content="Share Knowledge through Questions & Answers and Discussions on topic of your choice, in Indian Languages using voice and video." />
    <meta name="keywords" content="Hindi Videos, Hindi Content Platform, Local Languages Content, Love Questions, Sex Questions, Relationship Questions, Life questions, English Videos, Questions and Answers, GK Answers, Politics Discussion, Entertainment, Tamil Videos, Tamil Questions, Tamil Answers, Telugu Questions, Telugu Answers, Exams, UPSC Videos, UPSC Questions, Kannada Questions, Kannada Videos, Punjabi Videos, Punjabi Questions, Gujarati Questions, Gujarati Videos, bengali questions, bengali videos" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="{% static "spirit/stylesheets/styles.all.min.css" %}">-->
    <link rel="stylesheet" href="{% static "spirit/stylesheets/main.css" %}">


    <!--<script src="{% static "spirit/scripts/all.min.js" %}"></script>-->

    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link href="{% static "spirit/stylesheets/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  
    {% comment %} <link href="assets/css/style.css" rel="stylesheet"> {% endcomment %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="/media/js/bootstrap.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

    <script>

	$( document ).ready(function() {
        $('.perform_search').click(function(){
            window.location = '/topic/search/?q=' + $('[name="search"]').val();
        });
        $('[name="search"]').keypress(function (e) {
            var key = e.which;
            if(key == 13){
                $('.perform_search').click();
                return false;  
            }
        }); 
        // $.tab();

        // $( 'a.js-post' ).postify( {
        //     csrfToken: "{{ csrf_token }}",
        // } );

        // $('.js-messages').messages();

        {% if user.is_authenticated %}
            $.notification( {
                notificationUrl: "{% url "spirit:topic:notification:index-ajax" %}",
                notificationListUrl: "{% url "spirit:topic:notification:index-unread" %}",
                mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
                commentTxt: "{% trans "{user} has commented on {topic}" %}",
                showAll: "{% trans "Show all" %}",
                empty: "{% trans "No new notifications, yet" %}",
                unread: "{% trans "unread" %}",
            } );
        {% endif %}

	});

	</script>

    {% block head-extra %}{% endblock %}

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body style="margin-left:0px; margin-right: 0px;max-width:100%;">
    {% include 'spirit/_index_header.html' %}
    {% render_messages messages %}
    {% block content %}{% endblock %}
    {% include 'spirit/_index_footer.html' %}

  </body>

</html>
