{% load spirit_tags i18n %}
<style type="text/css">
    /* css for header */
    .item1{margin-top: 7px !important;}
 a,a:hover,a:active,a:visited{text-decoration:none;color: inherit; }
.navbar .navbar-nav li a.lang_link:after {
    content: '';
    position: absolute;
    background: url(/media/img/icons/arrow_down_black.svg) no-repeat;
    width: 14px;
    height: 12px;
    right: -18px;
    top: 16px;
    background-size: contain;
}
.videoBtn{
    color: #fff !important ;
    background-color: #dc3545;
    border-color:#dc3545;
    padding-left: 14px !important;
        margin-right: 20px;
}   
.navbar .navbar-nav a{
    font-size:15px;
    color:#000;
    position:relative;
    padding:0.5rem 1rem 0.5rem 0.5rem;
    transition: 0.3s ease;
}
.videoBtn{border-radius: 3px;}
.navbar .navbar-nav a:hover{color: #7b7474;}

.navbar .navbar-nav a.profile_link{padding:0.5rem 1.5rem;}
.navbar .navbar-nav li .sub-menu{
    padding:0px;
    border:none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, display 0s linear 0.3s, z-index 0s linear 0.01s;
}
.navbar .navbar-nav li:hover  .sub-menu{
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    display: block;
}
.navbar .navbar-nav .sub-menu li a{background:#262626;color:#fff ;padding: 0.45rem 1.5rem;}
.navbar .navbar-nav .sub-menu li a:hover{background:#2581DC;}
.navbar .navbar-nav li a.profile_link:before{
    content: '';
    position: absolute;
    background: url(/media/img/icons/user_profile.svg) no-repeat;
    width: 21px;
    height: 20px;
    left: -3px;
    top: 9px;
    background-size: cover;
}
.navbar .navbar-nav li a.profile_link:after{
    content: '';
    position: absolute;
    background: url(/media/img/icons/arrow_down_black.svg) no-repeat;
    width: 14px;
    height: 12px;
    right: 0px;
    top: 17px;
    background-size: contain;
}
@media (max-width:767px){
   
    .navbar .navbar-nav li .sub-menu{position: relative;}
    .navbar .navbar-nav li .sub-menu.active{display:block;}
}

</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.perform_search').click(function(){
            window.location = '/topic/search/?q=' + $('[name="search"]').val();
        });
        $('[name="search"]').keypress(function (e) {
            var key = e.which;
            if(key == 13){
                $('.perform_search').click();
                return false;  
            }
        }); 
    });
</script>
<nav class="navbar navbar-light  navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/" title="Bolo Indiya">
            <img src="/media/img/boloindya_logo.png" class="" style="width: 172px;height: 57px;" alt="Bolo Indiya Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <input type="text" name="search" value="" placeHolder="Search" style="height: 34px;width: 150px;font-size: 12px;margin-right: 10px;position: relative;top: 2px;border: 1px solid #cecece;">
                    <a href="#" class="perform_search" style="color:grey;position: relative;margin-left: -39px;left: -8px;top: 3px;border-left: 1px solid #cecece;"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item item1">
                    <a class="videoBtn"  href="/topic/discussion/" >Q/A</a>
                </li>
                <li class="nav-item dropdown item1" style="margin-right: 20px;">
                    <a href="" class="lang_link">Change Language </a>
                    <ul class="sub-menu list-unstyled">
                        <li><a href="/topic/discussion/?language=english&lid=1" class="dropdown-item change_language" lcode="1">English</a></li>
                        <li><a href="/topic/discussion/?language=hindi&lid=2" class="dropdown-item change_language" lcode="2">Hindi</a></li>
                        <li><a href="/topic/discussion/?language=tamil&lid=3" class="dropdown-item change_language" lcode="3">Tamil</a></li>
                        <li><a href="/topic/discussion/?language=telugu&lid=4" class="dropdown-item change_language" lcode="4">Telugu</a></li>
                    </ul>
                </li>

                {% if user.username %}
                <li class="nav-item dropdown">
                    <a href="" class="nav-link profile_link">{{ user.username }}</a>
                    <ul class="sub-menu list-unstyled">
                        <!-- <li><a href="#" class="dropdown-item">Profile</a></li> -->
                        <li><a href="/user/logout/" class="dropdown-item">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="/user/login/?next=/user/login/%3Fnext%3D/st/admin/" class="dropdown-item">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
