
{% load i18n %}
<div class="jsx-157630181 footer-container">
            <div class="jsx-1541511338 download-container">
                <div class="jsx-1541511338 download-content download-link">
                    <h2 class="jsx-1541511338">{% trans "Download" %}</h2>
                    <div class="jsx-1541511338 download-wrapper">
<!--                         <a href="#" target="_blank" rel="nofollow"><img src="/media/apple_store.png" alt="apple-store" class="jsx-1541511338"></a> -->
                        <a href="https://play.google.com/store/apps/details?id=com.boloindya.boloindya&hl=en_IN" target="_blank" rel="nofollow"><img src="/media/google_store.png" alt="google-store" class="jsx-1541511338"></a>
<!--                         <a href="#" target="_blank" rel="nofollow"><img src="/media/amazon_store.png" alt="amazon-store" class="jsx-1541511338"></a> -->

                    </div>
                </div>
            </div>

                <div class="jsx-157630181 footer-content-wrapper">
                    <h1 class="jsx-157630181 boloindya-logo"><div class="jsx-832362280 logo-container"><!-- <img src="" class="jsx-832362280 logo-icon"> --><img src="/media/boloindya_logo.png" class="jsx-832362280 logo-text"></div><strong class="jsx-157630181">boloindya</strong></h1>
                      <div class="footer-content-column">
                        <h2>{% trans "Company" %}</h2>
                        <h3><a class="" href="{{site_base_url}}about/">{% trans "About" %}</a></h3>
                        <h3><a class="" href="{{site_base_url}}careers/">{% trans "Careers" %}</a></h3>
                      </div>
                    <div class="footer-content-column">
                        <h2>{% trans "Programs" %}</h2>
                        <h3><a class="" href="{{site_base_url}}about/contact/">{% trans "Discover" %}</a></h3>

                      </div>
                    <div class="footer-content-column">
                        <h2>{% trans "Support" %}</h2>
                        <h3><a class="" href="{{site_base_url}}help_support">{% trans "Help Center" %}</a></h3>
                        <!-- <h3><a class="" href="{{site_base_url}}en/safety">{% trans "Safety Center" %}</a></h3> -->

                    </div>
                    <div class="footer-content-column">
                        <h2>{% trans "Legal" %}</h2>
                        <h3><a class="" href="{{site_base_url}}terms-of-service">{% trans "Terms of Service" %}</a></h3>
                        <h3><a class="" href="{{site_base_url}}privacy-policy">{% trans "Privacy Policy" %}</a></h3>
                    </div>
                </div>
                <div class="jsx-157630181 footer-bottom-wrapper">
                    <div class="jsx-1724846817 jsx-1667329752 language-selection">



                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                        {% if language.code == LANGUAGE_CODE %}
                          <p class="jsx-1724846817 jsx-1667329752">{{ language.name_local }}</p>
                        {% endif %}
                      {% endfor %}

                        <li class="dropdown " id="language-switcher" style="list-style: none;position: unset;">
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />

                                <select class="selectpicker jsx-1724846817 jsx-1667329752 language-selection-form " name="{% trans 'language' %}"  onchange="this.form.submit()">
                                  {% get_current_language as LANGUAGE_CODE %}
                                  {% get_available_languages as LANGUAGES %}
                                  {% get_language_info_list for LANGUAGES as languages %}
                                  {% for language in languages %}

                                      <option
                                        value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                                        data-content='<img src="/static/img/flags/{{ language.code }}.png"></span>
                                        <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                                          {{ language.name_local }}
                                          <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                                        </span>'>
                                        {{ language.name_local }}
                                      </option>

                                  {% endfor %}
                                </select>
                            </form>
                        </li>

                    </div>
                    <div class="jsx-157630181 copyright">© 2020 boloindya</div>
                </div>
            </div>
        </div>
    </div>

<input type="hidden" name="onLoadPlayCheck" id="onLoadPlayCheck" value="0">


<!-- End of Registration Modal -->

<script src="/media/js/common.js"></script>




