{% load spirit_tags i18n %}
    <div id="__next">
        <div class="jsx-639186511 ">
            <div class="jsx-3563400267 header-container">
                <div class="jsx-3563400267 header-content">
                    <h1 class="jsx-475503780 logo-container"><a title="boloindya" class="jsx-475503780" href="https://www.boloindya.com/en">
                        <img src="/media/boloindya_logo.png" alt="boloindya" class="jsx-475503780 logo-text">
                        <strong class="jsx-475503780">boloindya</strong></a></h1>
                          <ul class="jsx-3143951235 menu-wrapper" >
                              <li class="jsx-3143951235">
                                  <h2 class="menu-item-link menu-item-link-active"><a href="https://www.boloindya.com/en" class="jsx-2922828392">Home</a></h2></li>
                              <li class="jsx-3143951235">
                                  <h2 class="menu-item-link"><a href="https://www.boloindya.com/about/" class="jsx-2922828392">About</a></h2></li>
                               <li class="jsx-3143951235">
                                  <h2 class="menu-item-link"><a href="https://www.boloindya.com/trending" class="jsx-2922828392">Trending</a></h2></li> 
                              <li class="jsx-3143951235" id="boloSideMenu">
                                    <span class="bolo-642826668 boloSideMenuClass hamburger-menu">
                                          <span class="bolo-642826668 hamburger-menu-wrapper">
                                                <span class="bolo-642826668"></span>
                                                <span class="bolo-642826668"></span>
                                                <span class="bolo-642826668"></span>
                                          </span>
                                  </span>
                              </li>
                          </ul>
                </div>
                <div class="jsx-461239781">
                  <div class="jsx-461239781 drawer-mask drawer-enter-done hide"></div>
                    <div class="jsx-461239781 drawerOpenAndClose drawer-content drawer-exit drawer-exit-active">
                        <h1 class="jsx-461239781 drawer-icon">

                              <img src="https://www.boloindya.com/media/img/boloindya_logo.png" alt="boloindya" class="jsx-461239781 logo-text"><strong class="jsx-461239781">boloindya</strong></h1>
                        <h2 class="to-home active"><a class="jsx-461239781" href="https://www.boloindya.com/en">Home</a></h2>
                        <div class="footer-content-column">
                            <h2>Company</h2>
                            <h3><a class="" href="https://www.boloindya.com/about/">About</a></h3>
                            <h3><a class="" href="https://newsroom.boloindya.com/">Newsroom</a></h3>
                            <h3><a class="" href="https://www.boloindya.com/about/contact?lang=en">Contact</a></h3></div>
                        <div class="footer-content-column">
                            <h2>Programs</h2>
                            <h3><a class="" href="https://www.boloindya.com/forgood" target="_blank">boloindya for Good</a></h3>
                            <h3><a class="" href="https://ads.boloindya.com/?refer=boloindya_web" target="_blank">Advertise on boloindya</a></h3></div>
                        <div class="footer-content-column">
                            <h2>Support</h2>
                            <h3><a class="" href="https://support.boloindya.com/en">Help Center</a></h3>
                            <h3><a class="" href="https://www.boloindya.com/en/safety">Safety Center</a></h3>
                            <h3><a class="" href="https://support.boloindya.com/en/privacy-safety/community-policy-en">Community Guidelines</a></h3></div>
                        <div class="footer-content-column">
                            <h2>Legal</h2>
                            <h3><a class="" href="https://www.boloindya.com/en/terms-of-use">Terms of Service</a></h3>
                            <h3><a class="" href="https://www.boloindya.com/en/privacy-policy">Privacy Policy</a></h3>
                            <h3><a class="" href="https://www.boloindya.com/en/law-enforcement">Law Enforcement</a></h3>
                            <h3><a class="" href="https://www.boloindya.com/en/copyright-policy">Copyright Policy</a></h3></div>
<!--                         <div class="jsx-1724846817 jsx-1667329752 language-selection">
                            <p class="jsx-1724846817 jsx-1667329752">English</p>
                            <select class="jsx-1724846817 jsx-1667329752 language-selection-form">
                                <option value="id">Bahasa Indonesia</option>
                                <option value="de">Deutsch</option>
                                <option value="en">English</option>
                                <option value="es">Español</option>
                                <option value="fr">Français</option>
                                <option value="it">Italiano</option>
                                <option value="pl">Polski</option>
                                <option value="pt_BR">Português</option>
                                <option value="vi">Tiếng Việt</option>
                                <option value="tr">Türkçe</option>
                                <option value="ru">Русский</option>
                                <option value="hi">हिन्दी</option>
                                <option value="ko">한국어</option>
                                <option value="ja">日本語</option>
                                <option value="zh_Hant">繁體中文</option>
                                <option value="ar">العربية</option>
                            </select>
                        </div> -->
                    </div>
                </div>
            </div>