<div class="jsx-157630181 footer-container">
            <div class="jsx-1541511338 download-container">
                <div class="jsx-1541511338 download-content download-link">
                    <h2 class="jsx-1541511338">Download</h2>
                    <div class="jsx-1541511338 download-wrapper">
                        <a href="#" target="_blank" rel="nofollow"><img src="media/apple_store.png" alt="apple-store" class="jsx-1541511338"></a>
                        <a href="#" target="_blank" rel="nofollow"><img src="media/google_store.png" alt="google-store" class="jsx-1541511338"></a>
                        <a href="#" target="_blank" rel="nofollow"><img src="media/amazon_store.png" alt="amazon-store" class="jsx-1541511338"></a>
                    </div>
                </div>
            </div>

                <div class="jsx-157630181 footer-content-wrapper">
                    <h1 class="jsx-157630181 boloindya-logo"><div class="jsx-832362280 logo-container"><img src="" class="jsx-832362280 logo-icon"><img src="" class="jsx-832362280 logo-text"></div><strong class="jsx-157630181">boloindya</strong></h1>
                    <div class="footer-content-column">
                        <h2>Company</h2>
                        <h3><a class="" href="https://www.boloindya.com/about?lang=en">About</a></h3>
                        <h3><a class="" href="https://newsroom.boloindya.com/">Newsroom</a></h3>
                        <h3><a class="" href="https://www.boloindya.com/about/contact?lang=en">Contact</a></h3></div>
                    <div class="footer-content-column">
                        <h2>Programs</h2>
                        <h3><a class="" href="https://www.boloindya.com/forgood" target="_blank">boloindya for Good</a></h3>
                        <h3><a class="" href="https://ads.boloindya.com/?refer=boloindya_web" target="_blank">Advertise on boloindya</a></h3></div>
                    <div class="footer-content-column">
                        <h2>Support</h2>
                        <h3><a class="" href="https://support.boloindya.com/en">Help Center</a></h3>
                        <h3><a class="" href="https://www.boloindya.com/en/safety">Safety Center</a></h3>
                        <h3><a class="" href="https://support.boloindya.com/en/privacy-safety/community-policy-en">Community Guidelines</a></h3></div>
                    <div class="footer-content-column">
                        <h2>Legal</h2>
                        <h3><a class="" href="https://www.boloindya.com/en/terms-of-use">Terms of Service</a></h3>
                        <h3><a class="" href="https://www.boloindya.com/en/privacy-policy">Privacy Policy</a></h3>
                        <h3><a class="" href="https://www.boloindya.com/en/law-enforcement">Law Enforcement</a></h3>
                        <h3><a class="" href="https://www.boloindya.com/en/copyright-policy">Copyright Policy</a></h3></div>
                </div>
                <div class="jsx-157630181 footer-bottom-wrapper">
                    <div class="jsx-1724846817 jsx-1667329752 language-selection">
                        <p class="jsx-1724846817 jsx-1667329752">English</p>
                        <select class="jsx-1724846817 jsx-1667329752 language-selection-form">
                            <option value="id">Bahasa Indonesia</option>
                            <option value="de">Deutsch</option>
                            <option selected="" value="en">English</option>
                            <option value="es">Español</option>
                            <option value="fr">Français</option>
                            <option value="it">Italiano</option>
                            <option value="pl">Polski</option>
                            <option value="pt_BR">Português</option>
                            <option value="vi">Tiếng Việt</option>
                            <option value="tr">Türkçe</option>
                            <option value="ru">Русский</option>
                            <option value="hi">हिन्दी</option>
                            <option value="ko">한국어</option>
                            <option value="ja">日本語</option>
                            <option value="zh_Hant">繁體中文</option>
                            <option value="ar">العربية</option>
                        </select>
                    </div>
                    <div class="jsx-157630181 copyright">© 2019 boloindya</div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
jQuery("#boloSideMenu").click(function(e){
      e.stopPropagation();

      var checClass="";
       checClass=jQuery(".boloSideMenuClass").hasClass('hamburger-menu-active');
        if(checClass){
            jQuery(".boloSideMenuClass").removeClass('hamburger-menu-active');  
            jQuery(".drawerOpenAndClose").removeClass('drawer-enter drawer-enter-active');
            jQuery(".drawerOpenAndClose").addClass('drawer-exit drawer-exit-active');  
            jQuery(".drawer-enter-done").addClass('hide');
      }else {
            jQuery(".boloSideMenuClass").addClass('hamburger-menu-active'); 
            jQuery(".boloSideMenuClass").removeClass('drawer-exit drawer-exit-active');
            jQuery(".drawerOpenAndClose").addClass('drawer-enter drawer-enter-active');
            jQuery(".drawer-enter-done").removeClass('hide');
      }

});
jQuery('body,html').click(function(e){

      var checClass="";
       checClass=jQuery(".boloSideMenuClass").hasClass('hamburger-menu-active');
        if(checClass){
            jQuery(".boloSideMenuClass").removeClass('hamburger-menu-active');  
            jQuery(".drawerOpenAndClose").removeClass('drawer-enter drawer-enter-active');
            jQuery(".drawerOpenAndClose").addClass('drawer-exit drawer-exit-active');  
            jQuery(".drawer-enter-done").addClass('hide');
      }
});

</script>

<script type="text/javascript">

   var videoPlayListJosn= {
"title":"",
"feed_instance_id":"b160878b-7ba7-4186-97f5-35968820eeec",
"playlist":[
{
"mediaid":"oSRD4xzP",
"description":"",
"pubdate":1473868206,
"tags":"smoke,homepage,background",
"image":"http://content.jwplatform.com/v2/media/oSRD4xzP/poster.jpg?width=720",
"title":"",
"variations":{
},
"custom":{
"accent_color":"#3D3841"
},
"duration":34,
"tracks":[
{
"kind":"thumbnails",
"file":"http://content.jwplatform.com/strips/oSRD4xzP-120.vtt"
}
],
"link":"http://content.jwplatform.com/previews/oSRD4xzP",
"images":[
{
"src":"http://content.jwplatform.com/v2/media/oSRD4xzP/poster.jpg?width=320",
"type":"image/jpeg",
"width":320
},
{
"src":"http://content.jwplatform.com/v2/media/oSRD4xzP/poster.jpg?width=480",
"type":"image/jpeg",
"width":480
},
{
"src":"http://content.jwplatform.com/v2/media/oSRD4xzP/poster.jpg?width=640",
"type":"image/jpeg",
"width":640
},
{
"src":"http://content.jwplatform.com/v2/media/oSRD4xzP/poster.jpg?width=720",
"type":"image/jpeg",
"width":720
}
],
"accent_color":"#3D3841",
"sources":[
{
"duration":35,
"type":"application/vnd.apple.mpegurl",
"file":"http://content.jwplatform.com/manifests/oSRD4xzP.m3u8"
},
{
"label":"180p",
"width":320,
"file":"http://content.jwplatform.com/videos/oSRD4xzP-SyCRnvZV.mp4",
"duration":34,
"height":180,
"type":"video/mp4"
},
{
"label":"270p",
"width":480,
"file":"http://content.jwplatform.com/videos/oSRD4xzP-qFvRTtrd.mp4",
"duration":34,
"height":270,
"type":"video/mp4"
},
{
"label":"406p",
"width":720,
"file":"http://content.jwplatform.com/videos/oSRD4xzP-YD5xecpW.mp4",
"duration":34,
"height":406,
"type":"video/mp4"
},
{
"label":"720p",
"width":1280,
"file":"http://content.jwplatform.com/videos/oSRD4xzP-St99WDS4.mp4",
"duration":34,
"height":720,
"type":"video/mp4"
},
{
"label":"1080p",
"width":1920,
"file":"http://content.jwplatform.com/videos/oSRD4xzP-4DcfvmWH.mp4",
"duration":34,
"height":1080,
"type":"video/mp4"
}
]
}
],
"kind":"single item",
"description":""
};


var videoContainer = $('#js-background-video-container'),
    fullPlaylist;

function setupPlayer() {
  // This flag is used to prevent unnecessary cycles with the time event
  var isReady = false;

  var backgroundVideo = jwplayer('js-background-video').setup({
    autostart: true,
    controls: false,
    playlist: fullPlaylist,
    mute: true,
    repeat: true,
    stretching: 'fill',
    events: {
                onTime: function(e){
                    if(!e.viewable){
                        this.pause();
                    }
                }
            },
    height: '100%',
    width: '100%'
  });


  var backgroundVideo1 = jwplayer('js-background-video1').setup({
    autostart: true,
    controls: false,
    playlist: fullPlaylist,
    mute: true,
    repeat: true,
    stretching: 'fill',
    events: {
                onTime: function(e){
                    if(!e.viewable){
                        this.pause();
                    }
                }
            },
    height: '100%',
    width: '100%'
  });

  /**
   * When the next playlist item is triggered, we can remove the video's opacity
   */
  backgroundVideo.on('firstFrame', function(e) {
    videoContainer.removeClass('is-fading');
  });

  backgroundVideo1.on('firstFrame', function(e) {
    videoContainer.removeClass('is-fading');
  });
  /**
   * We use the video container's CSS transition-end event to queue up the next
   * video's poster image.
   */
  videoContainer.on('transitionend', function(e) {
    if (!videoContainer.hasClass('is-fading')) {
      setPosterImage();
      setPosterImage1();
    }
  }).trigger('transitionend');


  /**
   * Two seconds before the video ends, we take the poster image of the next-up
   * video and set it as the background of the container.
   */
  backgroundVideo.on('time', function(e) {
    if (e.position >= (e.duration - 2) && !isReady) {
      isReady = true;
      videoContainer.addClass('is-fading');
    }
  });

   backgroundVideo1.on('time', function(e) {
    if (e.position >= (e.duration - 2) && !isReady) {
      isReady = true;
      videoContainer.addClass('is-fading');
    }
  }); 
  /**
   * When the video is done, we reset the isReady flag to make sure we can check
   * the time event properly for the next video.
   */
  backgroundVideo.on('complete', function() {
    isReady = false;
  });

  backgroundVideo1.on('complete', function() {
    isReady = false;
  });

  /**
   * setPosterImage just makes sure the poster image is loaded and ready to go
   * before setting the video container background and fading the video out.
   */
  function setPosterImage() {
    var posterImage;
    // Get the next video's playlist index, so we can set the poster image for
    // the fadeout animation
    var nextIndex = backgroundVideo.getPlaylistIndex() + 1;
    nextIndex = nextIndex >= fullPlaylist.length ? 0 : nextIndex;
    posterImage = fullPlaylist[nextIndex]['image'];

    $('<img>').attr('src', posterImage).load(function() {
      $(this).remove();
      videoContainer.css('background-image', 'url(' + posterImage + ')');
    });
  }

  function setPosterImage1() {
    var posterImage;
    // Get the next video's playlist index, so we can set the poster image for
    // the fadeout animation
    var nextIndex = backgroundVideo1.getPlaylistIndex() + 1;
    nextIndex = nextIndex >= fullPlaylist.length ? 0 : nextIndex;
    posterImage = fullPlaylist[nextIndex]['image'];

    $('<img>').attr('src', posterImage).load(function() {
      $(this).remove();
      videoContainer.css('background-image', 'url(' + posterImage + ')');
    });
  }

}


/**
 * If we grab the playlist feed before setting up the player, we can manipulate
 * the playlist object and set up any specific adjustments. For instance, you
 * could shuffle the order of the playlist items.
 */

  fullPlaylist = videoPlayListJosn;
  //fullPlaylist = data.playlist;
  setupPlayer();

</script>