  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="/media/js/bootstrap.min.js"></script>
  <script src="https://content.jwplatform.com/libraries/GpYvcHPU.js"></script>
  <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
  <script src="/media/js/script_qa.js" %}"></script>

  {% block js %}{% endblock %}

  <script type="text/javascript">
    
$('audio,video').bind('play', function() {
	activated = this;
	$('audio,video').each(function() {
		if(this != activated) this.pause();
	});
});

</script>
   
  </body>
</html>