{% extends "payment/base.html" %}
{% load static %}
{% block local_css %}
    <link href="https://vitalets.github.io/x-editable/assets/poshytip/tip-yellowsimple/tip-yellowsimple.css" rel="stylesheet"/>
    <link href="https://vitalets.github.io/x-editable/assets/x-editable/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>

    <style type="text/css">
    .glyphicon-ok:before {
        content: "\f00c";
    }
    .glyphicon-remove:before {
        content: "\f00d";
    }
    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    </style>
{% endblock local_css %}


{% block center_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
                            <h3 class="profile-username text-center">{{ object.name }}</h3>

                            <p class="text-muted text-center">BoloIndya User</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <b>Followers</b> <a class="pull-right">{{ detail.follower_count }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Video Created</b> <a class="pull-right">{{ detail.video_count }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Video Playtime</b> <a class="pull-right">{{ detail.playtime }}</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Views Count</b> <a class="pull-right">{{ detail.view_count }}</a>
                                </li>
                            </ul>
                        </div>
                    <!-- /.box-body -->
                    </div>
                </div>
 

            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#bank_details" data-toggle="tab" aria-expanded="true">Bank Details</a></li>
                        <li class=""><a href="#schedule_payments" data-toggle="tab" aria-expanded="false">Schedule Payments</a></li>
                        <li><a href="#transaction" data-toggle="tab">Past Transactions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="bank_details">
                            <table class="table table-striped">
                                <input type="hidden" name="pk" id="pk" value="{{ object.id }}">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td><a id="name">{{ object.name }}</a></td> 
                                    </tr>
                                    <tr>
                                        <td>Boloindya ID</td>
                                        <td><a id="boloindya_id">{{ object.boloindya_id }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>Payment Method</td>
                                        <td><a id="payment_method" data-value="{{ object.payment_method }}" data-text="{{ object.payment_method.get_payment_method_display }}" data-pk="{{ object.id }}">{{ object.get_payment_method_display }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>Paytm Number</td>
                                        <td><a id="paytm_number">{{ object.paytm_number }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>UPI</td>
                                        <td><a id="upi">{{ object.upi }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>Bank Account Number</td>
                                        <td><a id="account_number">{{ object.account_number }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>Bank IFSC</td>
                                        <td><a id="bank_ifsc">{{ object.bank_ifsc }}</a></td>
                                  
                                    </tr>
                                    <tr>
                                        <td>Active</td>
                                        <td><a id="is_active">{{ object.is_active }}</a></td>
                                  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="schedule_payments">
                            <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#modal-default"><b>Set Schedule Payment</b></a>
                            <div id="scheduledPaymentTable"></div>
                        </div>

                        <div class="tab-pane" id="transaction">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% include "payment/partner/components/schedule_payment_form.html" %}
{% endblock center_content %}


{% block local_js %}
    <script src="https://vitalets.github.io/x-editable/assets/poshytip/jquery.poshytip.js"></script>
    <script src="https://vitalets.github.io/x-editable/assets/x-editable/jquery-editable/js/jquery-editable-poshytip.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.ajaxOptions = {type: "PATCH"};
            $.fn.editable.defaults.url = '/api/v1/payment/beneficiary/' + $('#pk').val() + '/'
            $.fn.editable.defaults.send = "always";
            $.fn.editable.defaults.params = function(vals){
                    console.log("vals====", vals)
                    let modified_vals = {}
                    modified_vals[vals.name] = vals.value
                    return modified_vals
                }

            $('#name').editable({type: 'text'});
            $('#boloindya_id').editable({type: 'number'});
            $('#payment_method').editable({
                type: 'select',
                source: [{
                    value: 'paytm_wallet',
                    text: 'Paytm Wallet'
                },{
                    value: 'upi',
                    text: 'UPI'
                },{
                    value: 'account_transfer',
                    text: 'Account Transfer'
                }],
            });
            $('#paytm_number').editable({type: 'number'});
            $('#upi').editable({type: 'text'});
            $('#account_number').editable({type: 'number'});
            $('#bank_ifsc').editable({type: 'text'});
            $('#is_active').editable({
                type: 'select', 
                source: [{
                        value: true,
                        text: 'True'
                    },{
                        value: false,
                        text: 'False'
                }]
            });

        });

    </script>


<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery(document).on('click', '#set_payment', function(){
            jQuery.ajax(`/api/v1/payment/beneficiary/${ $('[name=beneficiary_id]').val() }/schedule-payment/`, {
                method: 'POST',
                data: {
                    payment_date: $('#day_of_payment').val(),
                    amount: $('#amount').val(),
                    beneficiary: $('[name=beneficiary_id]').val()
                },
                success: function(response){
                    Swal.fire(
                      'Success!',
                      'Payment scheduled successfully!',
                      'success'
                    )
                }
            })
        })
    });
</script>
<script type="text/javascript">
    
    let days_choices = []

    for(let i=1; i<=31; i++)
        days_choices.push({
            text: i.toString(),
            value: i
        })

    console.log("days_choices", days_choices)

    $("#scheduledPaymentTable").jsGrid({
    width: "100%",
    height: "400px",

    inserting: false,
    editing: true,
    sorting: true,
    paging: true,
    pageLoading: true,
    autoload: true,
    fields: [
        { title: "ID", name: "id", type: "number", visible:false },
        { title: "Created At", name: "created_at", type: "text", width: 90, editing: false },
        { title: "Amount", name: "amount", type: "number", width: 50 },
        { title: "Payment Day", name: "payment_date", type: "select", width: 50, 
            items: days_choices,
            valueField: "value",             // name of property of item to be used as value
            textField: "text", 
        },
        { title: "Created By", name: "created_by", type: "text", width: 50 },
        { title: "Active", type: "checkbox", name: "is_active", sorting: false, width:22 },
        { type: "control" }
    ],
    controller: {
        loadData: function(filter) {
            console.log("------ loadData ", filter)
            return $.ajax({
                type: "GET",
                url: "/api/v1/payment/beneficiary/"+$("[name=pk]").val()+"/schedule-payment/",
                data: filter
            });
        },
        
        updateItem: function(item) {
            return $.ajax({
                type: "PUT",
                url: "/api/v1/payment/beneficiary/"+$("[name=pk]").val()+"/schedule-payment/" + item.id + '/',
                data: item
            });
        },
        
        deleteItem: function(item) {
            console.log("------ item ", item)
            return $.ajax({
                type: "DELETE",
                url: "/api/v1/payment/beneficiary/"+$("[name=pk]").val()+"/schedule-payment/" + item.id,
                data: item
            });
        }
    }
});
</script>
{% endblock local_js %}