{% extends "jarvis/layout/base.html" %}
{% load jarvis_tag %}
{% block content %}
<section class="content">
<div style="text-align:center;">
    <div class="mp4_player">
        <video width="400" controls>
          <source src="{{ my_video.s3_file_url }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
    </div>
    <div>
        <h3>MP4 file URL</h3>
        <p class="lead" id="mp4url">{{ my_video.s3_file_url}}</p>
        <a href="#" data-clipboard-target="#mp4url" class="copy-text">Copy URL</a>
    </div>
    <!-- <div>
        <h3>Transcoded file URL</h3>
        <p class="lead" id="m3u8url">{{ my_video.transcoded_file_url}}</p>
        <a href="#" data-clipboard-target="#m3u8url" class="copy-text">Copy URL</a>
    </div> -->
    <div>
        <h3>CDN file URL</h3>
        <p class="lead" id="cdnurl">{{ my_video.s3_file_url | convert_video_cdn}}</p>
        <a href="javascript:void(0)" data-clipboard-target="#cdnurl" class="copy-text">Copy URL</a>
    </div>
    <div>
        <form id="edit_upload">
            {% csrf_token %}
            <input type="hidden" name="video_id" value="{{my_video.id}}">
            {{ video_form.as_p }}
            <button type="button" class="btn btn-primary save_entry" video_id="{{my_video.id}}"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Save</button>
        </form>

    </div>
</div>
</section>
{% endblock content %}  
{% block center_js %}
<script>
    var clipboard = new Clipboard('.copy-text');
    $('.save_entry').on('click',function(){
        var data = new FormData($('#edit_upload').get(0));
        console.log(data);
        $.ajax({
            url: '/jarvis/edit_upload/',
            type: 'POST',
            data: data,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                if (data.message == 'fail') {
                    alert(data.reason)
                } else if (data.message == 'success') {
                    var url = '/jarvis/upload_details/?id=' + data.video_id
                    // do your redirect
                    window.location = url
                }
            },
            error: function(data) {
                console.log(data)
            },

        });
    })
</script>

{% endblock center_js %}      
        