{% extends "jarvis/layout/base.html" %}
{% block styles %}
<style>
    #overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.percentcomplete{
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    transform: translate(-50%,-50%);
}
.video_elements{
    display: none;
}
.display_none{
    display: none;
}
</style>
{% endblock styles %}
{% block content %}
<section class="content">
    <form id="upload" action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
                <input type="file" name="media_file" id="media_file" required="True" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Category:</label>
            <div class="col-md-8">
                <input list="category_options" id="category_choice" name="category_choice" />
                <datalist id="category_options">
                    {% for each_category in all_category %}
                    <option value="{{ each_category.category_name }}">
                        {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="form-group display_none">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Bucket</label>
            <div class="col-md-8">
                <select name="bucket_name" id="bucket_name" required="True" class="form-control">
                    <!---<option value="boloindya">Boloindya</option>
                    <option value="in-boloindya">Boloindya Prod</option>-->
                    <option value="careeranna" selected>CareerAnna</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Folder Prefix</label>
            <div class="col-md-8">
                <input type="text" list="folder_options" id="folder_prefix" name="folder_prefix" id="folder_prefix" class="form-control" placeholder="optional: NAME ANY FOLDER OR CREATE ANYFOLDER TO PUT FILE IN IT">
                <datalist id="folder_options">
                    {% for each_upload in all_upload %}
                    <option value="{{ each_upload.folder_to_upload }}">
                        {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="form-group">
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Is Free Video?</label>
                    <div class="col-md-8">
                        <input type="checkbox" name="free_video" style="width:30px;height:30px;" id="free_video" class="free_video">
                    </div>
        </div>
        <div class="video_elements">
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Video Title</label>
                <div class="col-md-8">
                    <input type="text" name="video_title" id="video_title" class="form-control" placeholder="Enter The Title of the Video">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Video Descrption</label>
                <div class="col-md-8">
                    <textarea rows="4" cols="50" type="text" name="video_descp" id="video_descp" class="form-control" placeholder="Enter The Descreption of the Video"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Meta Title</label>
                <div class="col-md-8">
                    <input rows="4" cols="50" type="text" name="meta_title" id="meta_title" class="form-control" placeholder="Enter The Meta title of the Video">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Meta Description</label>
                <div class="col-md-8">
                    <textarea rows="4" cols="50" type="text" name="meta_descp" id="meta_descp" class="form-control" placeholder="Enter The Meta Descreption of the Video"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Meta Keywords</label>
                <div class="col-md-8">
                    <input rows="4" cols="50" type="text" name="meta_keywords" id="meta_keywords" class="form-control" placeholder="Enter The comma separted meta Keywords for the Video">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div>
        </div>
    </form>
    <div id="overlay">
        <div class="text"><br>
            <br><span style="font-size:50px;" class="percentcomplete"></span></div>
    </div>
    <div id="csv_table">
    </div>
</section>
{% endblock content %}
{% block center_js %}
<script>
function upload(event) {
    if ($('.submit_from_button').hasClass("opened")) {
        return false;
    } else {
        $('.submit_from_button').addClass("opened");
        event.preventDefault();
        $('#overlay').show();
        var data = new FormData($('#upload').get(0));
        var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
        var all_data = []
        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %');
                        if (percentComplete === 1) {
                            $('.percentcomplete').text('Processing and Transcoding');
                        }
                    }
                }, false);
                xhr.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %')
                    }
                }, false);
                return xhr;
            },
            url: '/jarvis/upload_n_transcode/',
            type: 'POST',
            data: data,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                if (data.message == 'fail') {
                    alert(data.reason)
                } else if (data.message == 'success') {
                    var url = '/jarvis/upload_details/?id=' + data.file_id
                    // do your redirect
                    window.location = url
                }
                $('.submit_from_button').removeClass("opened");
                console.log(data)
            },
            error: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                console.log(data)
                alert(data)
                alert('Consult Tech')
            },

        });
        return false;
    }
}


$(function() {
    $('#upload').submit(upload);
    $('#free_video').click(function() {
    if ($(this).is(':checked')) {
      $('.video_elements').show();
    }
    else{
        $('.video_elements').hide()
    }
  });
});
</script>
{% endblock center_js %}