{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags admin_urls static admin_list %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}
    <style type="text/css">
      .controls{text-align: center;}
      input[type="submit"],input[type="reset"]{margin-top: 8px;height: 28px;}
      
      th, td{text-align: center !important;}
      #result_list .field-m2mcategory{display: block;max-height: 65px;overflow: auto;text-align: left !important;min-width: 150px;
        padding: 5px 2px 10px 8px;}
      #result_list ul li{list-style-type: none;}
      #result_list .field-m2mcategory input[type=checkbox]{display: inline-block;}
      .field-title{max-width: 360px !important;text-align: left !important;width: 100% !important;}
      .field-title input[type="text"]{max-width: 320px !important;width: 310px !important;}
      #date-form{margin-top: 5px;padding-right: 10px;}
      #grp-content{top:0;}
      header#grp-header{display: none;}
      table.grp-table td, table.grp-table th{font-size: 12px;}
      table.grp-table tbody tr td, table.grp-table tbody tr th{vertical-align: middle !important;}
      .grp-pulldown-content .grp-module{margin-left: -15px;width: 113%;}
      .close_edit_box{margin-top: 10px;float: right;}
      #id_date__lte{margin-bottom: 6px;}
      .field-boosted_till input[type="text"]{width: 50px !important;}
      .field-show_thumbnail{padding:0px !important;}
      .field-date{min-width: 100px !important;max-width: 100px !important;}
      .field-language_id select{min-width: 90px !important;width: 90px !important;}
      .field-vb_score{width: 40px !important;max-width: 40px !important;padding: 5px !important;}
      .title_box{word-break: break-all;}
    </style>
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {{ media.js }}
    {% if cl.formset or action_form %}
        {% url 'admin:jsi18n' as jsi18nurl %}
        <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/'}}"></script>
    {% endif %}
    {% if action_form %}
        <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    $("tr input.action-select").actions();
                });
            })(grp.jQuery);
        </script>
    {% endif %}
    {% if cl.formset %}
        <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    grappelli.initDateAndTimePicker();
                    var prefix = "form";
                    var related_lookup_fields_fk = {% get_related_lookup_fields_fk cl.model_admin %};
                    var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m cl.model_admin %};
                    var related_lookup_fields_generic = {% get_related_lookup_fields_generic cl.model_admin %};
                    var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk cl.model_admin %};
                    var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m cl.model_admin %};
                    var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic cl.model_admin %};
                    $.each(related_lookup_fields_fk, function() {
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                        .grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
                    });
                    $.each(related_lookup_fields_m2m, function() {
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                        .grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
                    });
                    $.each(related_lookup_fields_generic, function() {
                        var content_type = this[0],
                            object_id = this[1];
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this[1] + "']")
                        .each(function() {
                            var ct_id = "#id_" + prefix + "-" + $(this).attr("id").split("-")[1] + "-" + content_type,
                                obj_id = "#id_" + prefix + "-" + $(this).attr("id").split("-")[1] + "-" + object_id;
                            $(this).grp_related_generic({content_type:ct_id, object_id:obj_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                        });
                    });
                    $.each(autocomplete_fields_fk, function() {
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                        .each(function() {
                            $(this).grp_autocomplete_fk({
                                lookup_url:"{% url 'grp_related_lookup' %}",
                                autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                            });
                        });
                    });
                    $.each(autocomplete_fields_m2m, function() {
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                        .each(function() {
                            $(this).grp_autocomplete_m2m({
                                lookup_url:"{% url 'grp_m2m_lookup' %}",
                                autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                            });
                        });
                    });
                    $.each(autocomplete_fields_generic, function() {
                        var content_type = this[0],
                            object_id = this[1];
                        $("div.grp-changelist-results")
                        .find("input[name^='" + prefix + "'][name$='-" + this[1] + "']")
                        .each(function() {
                            var i = $(this).attr("id").match(/-\d+-/);
                            if (i) {
                                var ct_id = "#id_" + prefix + i[0] + content_type,
                                    obj_id = "#id_" + prefix + i[0] + object_id;
                                $(this).grp_autocomplete_generic({
                                    content_type:ct_id,
                                    object_id:obj_id,
                                    lookup_url:"{% url 'grp_related_lookup' %}",
                                    autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                                });
                            }
                        });
                    });
                    // reset actions select box
                    $('.grp-changelist-actions select').val(-1);
                    // find errors and move (because errors should be below form elements)
                    $("ul.errorlist").each(function() {
                        $(this).parents("td").append($(this));
                    });
                    // HACK: get rid of currently/change with URL–fields. F**K!!!
                    $('p.url').each(function() {
                        $(this).find("a").remove();
                        var text = $(this).html();
                        text = text.replace(/^\w*: /, "");
                        text = text.replace(/<br>.*: /, "");
                        $(this).html(text);
                    });
                    // HACK: remove input types
                    var clean_input_types = "{% grappelli_clean_input_types %}";
                    if (clean_input_types == "True") {
                        grappelli.cleanInputTypes();
                    };
                });
            })(grp.jQuery);
        </script>
    {% endif %}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'), sParameterName, i;
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
            function arr_diff (a1, a2) {
                var a = [], diff = [];
                for (var i = 0; i < a1.length; i++) {
                    a[a1[i]] = true;
                }
                for (var i = 0; i < a2.length; i++) {
                    if (a[a2[i]]) {
                        delete a[a2[i]];
                    } else {
                        a[a2[i]] = true;
                    }
                }
                for (var k in a) {
                    diff.push(k);
                }
                return diff;
            }
            $(document).ready(function() {
                grappelli.initSearchbar();
                grappelli.initFilter();
                $('.field-date').removeClass('nowrap');

                $('.add-another').on("click", function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').on("click", function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
                jQuery('.field-is_monetized').find('input[type="checkbox"]:checked').parents('td').next('td.field-is_removed')
                    .find('input[type="checkbox"]:not(:checked)').prop('disabled', 'disabled');
                jQuery('.field-is_removed').find('input[type="checkbox"]:checked').parents('td').prev('td.field-is_monetized')
                    .find('input[type="checkbox"]:not(:checked)').prop('disabled', 'disabled');

                jQuery('.field-is_monetized input[type="checkbox"]').change(function(){
                    var attr_disabled = false;
                    if($(this).is(':checked')){
                        attr_disabled = true;
                    }
                    $(this).parents('td').next('td.field-is_removed').find('input[type="checkbox"]:not(:checked)').prop('disabled', attr_disabled);
                });
                jQuery('.field-is_removed input[type="checkbox"]').change(function(){
                    var attr_disabled = false;
                    if($(this).is(':checked')){
                        attr_disabled = true;
                    }
                    $(this).parents('td').prev('td.field-is_monetized').find('input[type="checkbox"]:not(:checked)').prop('disabled', attr_disabled);
                });

                jQuery('.grp-pulldown-content').find('.grp-module').appendTo("#date-form");
                jQuery('.admindatefilter').find('.controls').insertAfter('.admindatefilter .grp-module:last');
                jQuery('.grp-filter-choice').off('change');
                jQuery('#date-form').find('input[type="submit"]').prop("onclick", null).off("click");
                jQuery('#date-form').find('input[type="reset"]').prop("onclick", null).off("click");

                jQuery(document).on('click', '#date-form input[type="reset"]', function(e){
                    window.location = window.location.pathname;
                });

                jQuery.each( jQuery('#date-form .grp-filter-choice'), function(i, each_select){
                    var first_opt = $(each_select).find('option:eq(0)').val().replace(/\?/gi, '').split('&');
                    var second_opt = $(each_select).find('option:eq(1)').val().replace(/\?/gi, '').split('&');
                    var diff_var = arr_diff(first_opt, second_opt);
                    if( diff_var.length ){
                        $(each_select).attr('fid', diff_var[0].split('=')[0]);
                    }
                });

                jQuery(document).on('submit', '#date-form', function(e){
                    e.preventDefault();
                    var temp_qs = jQuery(this).serialize();
                    var filter_all = [];
                    jQuery.each( jQuery('#date-form .grp-filter-choice').find('option:selected'), function(i, each_opt){
                        if( $(each_opt).text().toLowerCase() == 'all' ){
                            var fid = $(each_opt).parents('.grp-filter-choice').attr('fid');
                            if( getUrlParameter(fid) ){
                                filter_all.push( fid );
                            }
                        }
                        temp_qs += $(each_opt).val();
                    });
                    temp_qs = temp_qs.replace(/\?/gi, '&').split('&');
                    var qs_dict = {};
                    for( i = 0; i < temp_qs.length; i++){
                        var tkey = temp_qs[i].split('=')[0];
                        var tval = temp_qs[i].split('=')[1];
                        if( jQuery.inArray(tkey, filter_all) == -1 && tval ){
                            if( !(tkey in qs_dict) ){
                                qs_dict[tkey] = tval;
                            }
                            else{
                                var url_val = getUrlParameter(tkey);
                                if( url_val != tval ){
                                    qs_dict[tkey] = tval;
                                }
                            }
                        }
                    }
                    if( !$('#id_date__gte').val() ){ delete qs_dict['date__gte']; }
                    if( !$('#id_date__lte').val() ){ delete qs_dict['date__lte']; }
                    var final_qs = '?';
                    for(key in qs_dict){
                        final_qs += key + '=' + qs_dict[key] + '&';
                    }
                    window.location = window.location.pathname + final_qs;
                });
                
                jQuery(document).on('click', '.edit_title', function(e){
                    e.preventDefault();
                    jQuery(this).parents('td').find('.title_box').hide();
                    jQuery(this).parents('td').find('input[type="text"], .close_edit_box').show();
                    var text_field = jQuery(this).parents('td').find('input[type="text"]');
                    var title = $(text_field).val();
                    $(text_field).val( title.replace( /(<([^>]+)>)/ig, '') );
                });

                jQuery(document).on('click', '.close_edit_box', function(e){
                    e.preventDefault();
                    jQuery(this).parents('td').find('.title_box').show();
                    jQuery(this).parents('td').find('input[type="text"], .close_edit_box').hide();
                });

                jQuery.each( jQuery('.field-title'), function(i, each_field){
                    var title = $(each_field).find('input[type="text"]').val();
                    $(each_field).find('input[type="text"]').hide();
                    $(each_field).append('<a href="#" class="close_edit_box" style="display:none;">close</a>');
                    $(each_field).append('<div class="title_box">' + title + '&nbsp;&nbsp;<a href="#" class="edit_title">edit</a></div>');
                    // $(each_field).find('input[type="text"]').val( title.replace( /(<([^>]+)>)/ig, '') );
                });

                jQuery.each( jQuery('.field-m2mcategory'), function(i, each_element){
                    var tr_height = jQuery(this).parents('tr').height();
                    console.log(tr_height);
                    jQuery(each_element).css('max-height', tr_height + 'px');
                });

            });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}grp-change-list{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRUMBS -- >
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
            <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
    <h1>{{ cl.opts.verbose_name_plural|capfirst }}</h1>
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
    <ul class="grp-object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <li><a href="{% add_preserved_filters add_url is_popup to_field %}" class="grp-add-link grp-state-focus">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="grp-module">
        <div class="grp-row">
            <div class="l-2cr-fluid {% if cl.has_filters and cl.search_fields %}l-d-12{% else %}{% if cl.has_filters or cl.search_fields %}l-d-6{% endif %}{% endif %}">
                {% if cl.has_filters or cl.search_fields %}
                    {% block aside %}
                        <aside class="c-1">
                            <header style="display:none"><h1>{% if cl.search_fields %}Search{% if cl.has_filters %} &amp; {% endif %}{% endif %}{% if cl.has_filters %}Filters{% endif %}</h1></header>
                            <!-- SEARCH -->
                            {% if cl.search_fields %}
                                {% block search %}
                                    <div id="search" class="g-d-6 g-d-f">
                                        {% search_form cl %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                            <!-- FILTERS -->
                            {% if cl.has_filters %}
                                {% block filters %}
                                    <div id="grp-filters" class="g-d-6 g-d-l">
                                        <div class="grp-filter">
                                            <div class="grp-pulldown-container">
                                                <a href="javascript://" class="grp-button grp-pulldown-handler">{% trans 'Filter' %}</a>
                                                <div class="grp-pulldown-content" style="display: none;">
                                                    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}
                        </aside>
                    {% endblock %}
                {% endif %}
                {% block pagination_top %}
                    <div class="c-2">
                        <!-- PAGINATION TOP -->
                        {% pagination cl %}
                    </div>
                {% endblock %}

            </div>
        </div>
        <!-- DATE HIERARCHY -->
        {% block date_hierarchy %}
            {% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}
        {% endblock %}
    </div>
    <form id="grp-changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        <section id="grp-changelist" class="{% if cl.list_editable %} grp-editable{% endif %}">
            <header style="display:none"><h1>Results</h1></header>
            <!-- POPUP -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            <!-- ERRORS -->
            {% if cl.formset.errors %}
                <p class="errornote">
                    {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ cl.formset.non_form_errors }}
            {% endif %}
            <!-- MANAGEMENT FORM -->
            {% if cl.formset %}
                {{ cl.formset.management_form }}
            {% endif %}
            <!-- CHANGELIST-RESULTS -->
            {% block result_list %}
                {% result_list cl %}
            {% endblock %}
        </section>
        <!-- PAGINATION BOTTOM -->
        {% if not cl.result_count == 0 %}
            {% block pagination_bottom %}
                <div class="grp-module" style="margin-bottom: 32px;">
                    <div class="grp-row">{% pagination cl %}</div>
                </div>
            {% endblock %}
        {% endif %}
        <!-- SUBMIT ROW -->
        {% if cl.formset or action_form %}
            <footer id="submit" class="grp-module grp-submit-row grp-fixed-footer">
                <header style="display:none"><h1>Submit Options</h1></header>
                <ul>
                    {% if action_form %}<li class="grp-float-left grp-changelist-actions">{% admin_actions %}</li>{% endif %}
                    {% if cl.formset %}<li><input type="submit" class="grp-button grp-default" name="_save" value="{% trans "Save" %}"/></li>{% endif %}
                </ul>
            </footer>
        {% endif %}
    </form>
{% endblock %}
