{% extends "spirit/_base_index_ques.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Publish comment" %}{% endblock %}

{% block content %}
<style>
  label[for="id_comment"]{display: none;}
  #id_comment{height: 130px;}
  h2 {left: 100px;position: relative;}
  .marginTop{margin-top: 10px;}
  .marginRight10{margin-right: 10px;}
  .cnlRight{float: right;}
  .record_info{color:#138c13;font-weight: 100;}
  .colorCHange{color:#fff !important;}
  .hide{display: none;}
  .field{margin-bottom: 0;}
</style>
<script src="/media/js/RecordRTC.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script>
  $('#upload').click(function(){
    $(this).hide();
    $('#recordVid').hide();
    $('#gum').hide();
    $('#record_again').show();
    $('#upload_file').show();
  });
  $('#record_again').click(function(){
    $('#upload').show();
    $('#recordVid').show();
    $('#upload_file').hide();
    $('#gum').show();
    $('#record_again').hide();
  });
  $('#submit_file').click(function(){
    if($('#choose').get(0).files.length == 0) {
      alert('Please Select File First!')
    } else {
      $('#submit_file').text('Uploading...')
      setTimeout(function () {
          $('#exampleModal').show();
      }, 5000);
      
    }
  });
  $('#close1').click(function(){
    $('#exampleModal').hide();
    window.location.assign('/topic/discussion/');
  });
  $('#close').click(function(){
    $('#exampleModal').hide();
    window.location.assign('/topic/discussion/');
  });
</script>

<main role="main">
  <section class="main_wrapper qa_sec">
    <div class="row">
      <!-- Left section for QA Category -->
      <div class="col-md-3 left_sec">
          <div class="inner_head">Q/A Categories</div>
          <!-- category accordian or collapse section -->
          <div id="accordion">
          {% include "spirit/topic/_ques_and_ans_side_categories.html" with category=None categories=categories %}
          </div>
      </div>
        <!-- Middle section for main content -->
      <div class="col-md-6 mid_sec">
        <div class="quest_feed">
          
          <div class="question">{% trans "Publishing comment on" %} "{{ topic.title }}"</div>
          {% if type == 'video' %}
            <!-- <button class="btn btn-danger" id="upload"><i class="fa fa-upload marginRight10" aria-hidden="true"></i>Upload Video</button> -->
            <button class="btn btn-danger" style="display: none;" id="record_again"><i class="fa fa-video-camera marginRight10" aria-hidden="true"></i>Record Video</button>
            <div id="upload_file" style="display: none;margin-top: 20px;">
                <input type="file" class="btn btn-primary" id="choose" />
                <button class="btn btn-success" id="submit_file"><i class="fa fa-upload marginRight10" aria-hidden="true"></i>Submit</button>
            </div>
              
            <div class="modal" tabindex="-1" role="dialog" id="exampleModal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">File Uploaded</h5>
                    <button type="button" class="close" data-dismiss="exampleModal" aria-label="Close" id="close1"> 
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Your video has been submitted. Our content team would review and publish it shortly. You will get notified once the video goes live.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="exampleModal" id="close">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <input type="file" name="video" accept="video/*" capture="camcorder">-->
            <video id="gum" autoplay muted></video>
            <video id="recorded" autoplay loop controls hidden></video>
            <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
            <div class="marginTop">
              <button class="btn btn-danger" id="recordVid"><i class="fa fa-video-camera marginRight10" aria-hidden="true"></i>Start Recording</button>
              <button class="btn btn-danger hide" id="play" disabled><i class="fa fa-play marginRight10" aria-hidden="true"></i>Play</button>
              <button id="download" disabled hidden>Download</button>
              <a href="/topic/discussion/" style="position: relative;top:3px;left:5px;">Cancel</a>
              <button class="btn btn-dangers" style="float: right;font-size: 12px;padding: 10px 0px 0px 0px;" id="upload"><i class="fa fa-upload marginRight10" aria-hidden="true"></i>Upload Video</button>
            </div>
            <script src="/media/js/video_record.js"></script>   
          {% endif %}
          {% if type == 'audio' %}
            <hr><p>
              <button class="btn btn-danger" id="btn-start-recording"><i class="fa fa-microphone" aria-hidden="true"></i> Start Recording</button>
              <button class="btn btn-danger" id="btn-stop-recording" disabled><i class="fa fa-microphone-slash" aria-hidden="true"></i> Stop Recording</button>
              <button class="hide" id="btn-release-microphone" disabled>Release Microphone</button>
              <button class="hide" id="btn-download-recording" disabled>Download</button>
            </p>
            <div><audio controls autoplay playsinline></audio></div>
            <script src="/media/js/audio_record.js"></script>
          {% endif %}

          <form action="." method="post" class="js-reply">
            {% csrf_token %}
            {% include "spirit/_form.html" %}
            {% if type != 'text' %}
              <style>
                #id_comment {display:none;}
                .reply-markdown{display:none;}
              </style>
              <input type="text" value="1" name="is_media" hidden>
              {% if type == 'audio' %}    
                <input type="text" value="1" name="is_audio" hidden>
              {% endif %}
            {% endif %}
            {% include "spirit/comment/_editor.html" %}   
            <input class="btn btn-danger  button reply-button" style="{% if type != 'text' %} display: none; {% endif %}margin-top: 10px;" id="btnPublish" type="submit" value="{% trans "Publish" %}" /><br>
            <span class="record_info"></span>
          </form>
        </div>
      </div>
        
        <!-- Right section for Questions -->
        <div class="col-md-3 right_sec">
            <div class="inner_head">Recent Questions</div>
            <div class="que_bank">
                <ul>
                    <li>
                        <a href="/topic/983/">
                            क्यों Smartphone समय के साथ SLOW होते हैं ?
                        </a>
                    </li>
                    <li>
                        <a href="/topic/982/">
                            क्यों भारतीय स्मार्टफोन ब्रांड हुए  विफल ?
                        </a>
                    </li>
                    <li>
                        <a href="/topic/980/">
                            क्रिप्टोफोन क्या है? Privacy के लिए बेस्ट फ़ोन कौनसा है ?
                        </a>
                    </li>
                    <li>
                        <a href="/topic/979/">
                            माइक्रो SD कार्ड खरीदने से पहले क्या देखें ?
                        </a>
                    </li>
                    <li>
                        <a href="/topic/978/">
                            2019 में कौनसे स्मार्टफोन आने वाले हैं ?
                        </a>
                    </li>
                    <li>
                        <a href="/topic/977/">
                            पॉपुलर स्क्रीन टेक्नोलॉजी कौनसी है ?
                        </a>
                    </li>
                        
                </ul>
            </div>
        </div>
    </div>
  </section>
</main>    
{% endblock %}
