.header {
    padding: 10px 30px 10px 30px;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 1px 0px #00000026;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.15);
    margin-bottom: 0px;
} 
.banner_sec {
    background: #CA3B3D;
    padding: 60px 0px;
    box-shadow: inset 0px 0px 8px 2px #964344;
}
.sub_cate_sec .sub_cate_head {
    color: #1E313A;
    background: #F1F0F0;
    padding: 50px 0px;
}
.sub_cate_sec .sub_cate_head h3 {
    font-size: 24px;
    text-align: right;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.row {
    margin-right:0px !important;
    margin-left:0px !important;
}
/* common css for website */
.padding0{padding: 0px;}
.margin0{margin:0px;}
.padding-left0{padding-left: 0px;}
.padding-right0{padding-right: 0px;}
.margin-left0{margin-left: 0px;}
.margin-right0{margin-right: 0px;}
.fill_start{
    background: url(/media/img/icons/fill_start.svg) no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.unfill_start{
    background: url(/media/img/icons/unfill_start.svg) no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
}

/* css for header */
.navbar .navbar-nav .nav-link{
    font-size:17px;
    color:#000;
    position:relative;
    padding:0.5rem 1.5rem;
}
.navbar .navbar-nav li .sub-menu{
    padding:0px;
    border:none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, display 0s linear 0.3s, z-index 0s linear 0.01s;
}
.navbar .navbar-nav li:hover  .sub-menu{
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    display: block;
}
.navbar .navbar-nav .sub-menu li a{background:#262626;color:#fff ;padding: 0.45rem 1.5rem;}
.navbar .navbar-nav .sub-menu li a:hover{background:#2581DC;}
.navbar .navbar-nav li a.profile_link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.navbar .navbar-nav li a.profile_link:before{
    content: '';
    position: absolute;
    background: url(/media/img/icons/user_profile.svg) no-repeat;
    width: 21px;
    height: 20px;
    left: -3px;
    top: 9px;
    background-size: cover;
}
.navbar .navbar-nav li a.profile_link:after{
    content: '';
    position: absolute;
    background: url(/media/img/icons/arrow_down_black.svg) no-repeat;
    width: 14px;
    height: 12px;
    right: 0px;
    top: 17px;
    background-size: contain;
}

/* Banner section */
.banner_sec{background:#CA3B3D;padding:60px 0px;box-shadow:inset 0px 0px 8px 2px #964344;}
.banner_sec .inner_content{background:#CA3B3D;}
/*.banner_sec .inner_content .swiper-slide img{height: 210px;}*/

/* sub cate section */
.sub_cate_sec .sub_cate_head{color:#1E313A;background:#F1F0F0;padding:50px 0px;}
.sub_cate_sec .sub_cate_head h3{font-size:24px;text-align:right;margin: 0px;}
.sub_cate_sec .sub_cate_head p{font-size:18px;margin: 0px;line-height:normal;}
.sub_cate_sec .cate_listing {padding: 30px 0px;color: #000;}
.sub_cate_sec .cate_listing h4{font-size:20px;margin: 0px;font-weight:400;}
.sub_cate_sec .cate_listing .rating_star{margin:10px 0px 0px;}
.sub_cate_sec .cate_listing .post_date{font-size:13px;margin: 0px;font-weight:500;}
.sub_cate_sec .cate_listing .author{font-size:13px;margin: 0px;}
.sub_cate_sec .cate_listing .row>div{margin-bottom:15px;padding-left: 0px;}
.sub_cate_sec .cate_listing .img_sec img{height:120px;width:100%;}
.sub_cate_sec .cate_listing .viewMore a{
    position:relative;
    color: #CA3B3D;
    width:100%;
    text-align:right;
    font-weight:500;
    padding-right:15px;
}
.sub_cate_sec .cate_listing .viewMore a:before{
    content: '';
    background: url('/media/img/icons/arrow_right_red.svg') no-repeat;
    width: 11px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 6px;
    background-size: cover;
}
.sub_cate_sec .cate_listing .img_sec{position: relative;}
.sub_cate_sec .cate_listing .img_sec:after {
    content: '';
    background: url(/media/img/icons/play_button.svg) no-repeat;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 35%;
    top: 31%;
}
.sub_cate_sec .cate_listing .img_sec:before {
    content: '';
    position: absolute;
    background: #0006;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.sub_cate_tab_layout {
    display: block;
    overflow-x: scroll;
}
.sub_cate_tab {
    display: inline-block;
    padding:10px;
    font-size: 18px;
}
.sub_cate_tab.active {
    border-bottom: 1px solid #CA3B3D;
    color: #CA3B3D;
}
.load_more{
    float:right;
    cursor: pointer;
    color: #CA3B3D;
}
/* Media query */
@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}
@media (min-width:768px)and (max-width:991px){
    .sub_cate_sec .cate_listing .img_sec:after {
        left: 22%;
    }
}
@media (max-width:767px){
    .banner_sec{padding: 30px 0px;}
    .sub_cate_sec .cate_listing .row>div{padding-left: 15px;}
    .banner_sec .inner_content .swiper-slide img{width: 100%;height: 150px;}
    .navbar .navbar-nav li .sub-menu{position: relative;}
    .navbar .navbar-nav li .sub-menu.active{display:block;}
    .sub_cate_sec .cate_listing .img_sec:after{left:40%;}
}

.ask_question h2{
    background: #CA3B3D;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 44px;  
    margin: 0px;
}

.bolo_user_tab {
    background: #CA3B3D;
    padding: 40px;
}

.user_info_inside_tab{
    color: white;
    text-align: center;
    padding: 30px;
}

.user_info_inside_tab img {
    margin-bottom: 20px;
    border: 10px solid #fff;
    border-radius: 50%;
}

.google_play {
    padding: 40px;
}

.google_info {
    font-size: 24px;
}

.bolo_user_count_tabs {
    background: #273544;
    padding: 30px;    
}
.bolo_user_count_tab{
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 25px;
}

.bolo_user{
    color: white;
    text-align: center;
}

.get_id {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #CA3B3D;
    color: white;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 35%;
}

.login_card {
    margin: 50px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 40px;
    width: 55%;
    margin-left: 20% !important;
}

.header_info {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

input{
    padding: 10px;
    font-size: 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    outline: none;
}
input[type=submit]{
    background: #CA3B3D;
    border: none;
    outline: none;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    border-radius: 10px;
}
.card_profile {
    margin: 50px;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
    border-radius: 6px;
    background: #fff;
}

.info{
    font-size: 13px;
    font-weight: 500;
}

.user_about {
    font-size: 13px;
}

.name {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600; 
}
.address{
    font-size: 12px;
}

.Footer {
    background: #496375;
    padding: 2rem 40px;
    width: 100%;
    text-align: left;
}
.student_tabs {
    padding: 40px;
}
.student_tabs .left_tab .line{
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000;
    width: 100%;
}
.student_tabs .left_tab .what_student {
    font-size: 24px;
}

.student_tabs .left_tab .what_student .lower{
    font-weight: 600;
}
li {
    list-style: none;
}
.left_wrapper {
    color: #FFFF;
    width: 35%;
}
.brand_name {
    font-size: 2rem;
    font-weight: 900;
}
.social-icons {
            margin: 0;
            padding: 1.2rem 0;
            list-style: none;
}
.social-icons li {
                display: inline-block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-right: 12px;
                color: #496375;   
                text-align: center;
                line-height: 40px;
                background: #FFF;
            }
            .social-icons li a {
                color: #496375;    
            }

            .social-icons form {
            padding-top: 1.5rem;
            }
            .social-icons form .heading {
                padding-bottom: 0.5rem;
                font-weight: 700;
                font-weight: 1.1rem;
            }
            .social-icons form #email {
                width: 63%;
                outline: none;
                font-size: 0.8rem;
                border-radius: 4px;
                padding: 0.4rem;
            }
            .social-icons form .submit {
                font-weight: 800;
                margin-left: 5px;
                color: white;
                background: #496375;
                border-radius: 4px;
                padding: 10px 25px;
            }
            .social-icons form .row {
                margin: 0px;
            }
    .Footer .right_wrapper {
        width: 65%;
        padding-left: 6rem;
    }
        .Footer .right_wrapper .footer_links {
            color: white;
            padding-right: 20px;
        }
        .Footer .right_wrapper .footer_links h6 {
                font-size: 14px;
                font-weight: 900;   
            }
            .Footer .right_wrapper .footer_links ul {
                padding: 0;
            }
            .Footer .right_wrapper .footer_links ul li a {
                        font-size: 12px;
                        color: white;
                        text-decoration: none;
                    }

@media (max-width: 600px){
    .left_wrapper {
        width: 100%;
    }
    .Footer .right_wrapper {
        padding: 0px;
        width: 100%;
    }
    .ask_question h2{
        font-size: 20px;
    }
    .bolo_user_tab {
        padding: 10px;
    }
    .card_profile {
        margin: 10px;
    }
    .info {
        margin-top: 10px;
    }
    .login_card {
        margin: 20px;
        width: 80%;
        padding: 10px;
        margin-left: 10% !important; 
    }
    .bolo_user_count_tab {
        font-size: 15px;
        padding: 10px;
    }
    .bolo_user {
        font-size: 24px;
    }

}