body{
    font-family: 'Roboto', sans-serif;
}
a,a:hover,a:active,a:visited{text-decoration:none;color: inherit; }
.navbar .navbar-nav li a.lang_link:after {
    content: '';
    position: absolute;
    background: url(/media/img/icons/arrow_down_black.svg) no-repeat;
    width: 14px;
    height: 12px;
    right: -18px;
    top: 17px;
    background-size: contain;
}
.videoBtn{
    color: #fff !important ;
    background-color: #dc3545;
    border-color:#dc3545;
    padding-left: 14px !important;
        margin-right: 20px;
}
/* common css for website */
.padding0{padding: 0px;}
.margin0{margin:0px;}
.padding-left0{padding-left: 0px;}
.padding-right0{padding-right: 0px;}
.margin-left0{margin-left: 0px;}
.margin-right0{margin-right: 0px;}
.fill_start{
    background: url(/media/img/icons/fill_start.svg) no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.unfill_start{
    background: url(/media/img/icons/unfill_start.svg) no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
}

/* css for header */
.navbar .navbar-nav a{
    font-size:17px;
    color:#000;
    position:relative;
    padding:0.5rem 1rem 0.5rem 0.5rem;
    transition: 0.3s ease;
}
.navbar .navbar-nav a:hover{color: #7b7474;}

.navbar .navbar-nav a.profile_link{padding:0.5rem 1.5rem;}
.navbar .navbar-nav li .sub-menu{
    padding:0px;
    border:none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, display 0s linear 0.3s, z-index 0s linear 0.01s;
}
.navbar .navbar-nav li:hover  .sub-menu{
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    display: block;
}
.navbar .navbar-nav .sub-menu li a{background:#262626;color:#fff ;padding: 0.45rem 1.5rem;}
.navbar .navbar-nav .sub-menu li a:hover{background:#2581DC;}
.navbar .navbar-nav li a.profile_link:before{
    content: '';
    position: absolute;
    background: url(/media/img/icons/user_profile.svg) no-repeat;
    width: 21px;
    height: 20px;
    left: -3px;
    top: 9px;
    background-size: cover;
}
.navbar .navbar-nav li a.profile_link:after{
    content: '';
    position: absolute;
    background: url(/media/img/icons/arrow_down_black.svg) no-repeat;
    width: 14px;
    height: 12px;
    right: 0px;
    top: 17px;
    background-size: contain;
}

/* QA section */
.qa_sec{background: #F1F0F0;padding: 15px 20px;}
.qa_sec  .inner_head{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.qa_sec .left_sec #accordion{
    background: #fff;
    padding: 7px;
    border-radius: 5px;
}
.qa_sec .left_sec .card{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    border-bottom: 1px solid #989494;
}
.qa_sec .left_sec .card-header{
    padding: 0;
    border: none;
    border-radius: 3px;
}
.qa_sec .left_sec .card-link{
    display: block;
    padding: 12px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    position: relative;
    transition: all 0.5s ease 0s;
}

.qa_sec .left_sec .card-link:before,
.qa_sec .left_sec .card-link.collapsed:before{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #000;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 2px;
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
}
.qa_sec .left_sec .card-link.collapsed:before{
    color: #000;
    transform: rotate(0);
}

.qa_sec .left_sec .card-body{
    padding: 5px 10px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
    background: #F1F0F0;
}
.qa_sec .left_sec .card-body ul{list-style: none;padding: 0px;margin:0px;}
.qa_sec .left_sec .card-body ul li{}
.qa_sec .left_sec .card-body ul li label{
    text-transform:capitalize; 
    margin-bottom: 0px;
    display: block;
    font-size: 13px;
    color: #716a6a;
    font-weight: 500;
}
    
.qa_sec .left_sec .card-body ul .radio input[type="radio"] + .radio-label:before{
    border:1px solid #fff;background: #fff;
}
.qa_sec .left_sec .card-body ul .radio input[type="radio"]:checked + .radio-label:before{
    background-color: #CA3B3D;
}
.qa_sec .right_sec .que_bank{
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
}
.qa_sec .right_sec .que_bank ul{list-style: none;padding: 0px;}
.qa_sec .right_sec .que_bank ul li{
    border-bottom: 1px solid #000;
    margin-bottom:10px;
    padding-bottom: 10px;
    line-height: 17px;
    padding-left: 20px;
    position: relative;
}
.qa_sec .right_sec .que_bank ul li:before{content:'Q.';position: absolute;left:0px;}
.qa_sec .right_sec .que_bank ul li a{font-size: 14px;color:#000;font-weight:400;}

.qa_sec .mid_sec .user_info{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
}
.qa_sec .mid_sec .user_info .user_image{
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    border-radius: 50%;}
.qa_sec .mid_sec .user_info .user_name{margin-top:2px;margin-left: 8px;}

.qa_sec .mid_sec .write_quest_sec{background: #BB3335;border-radius:4px;padding:30px;}

.qa_sec .mid_sec .write_quest_sec .write_sec .quest_text{
    color:#B5B5B5;
    background: #fff;
    font-size:36px;
    padding: 10px;
    position: relative;
    padding-left: 75px;
    border-radius: 4px;
}
.qa_sec .mid_sec .write_quest_sec .write_sec .quest_text span{font-weight: 600;}
.qa_sec .mid_sec .write_quest_sec .write_sec .quest_text:before{
    content: '';
    background: url('/media/img/icons/pencil_text.svg') no-repeat;
    position: absolute;
    left: 20px;
    top: 16px;
    width: 100%;
    height: 100%;
}

.qa_sec .mid_sec .quest_feed{background:#fff;padding:30px;}
.qa_sec .mid_sec .quest_feed .quest_user_info{display: flex;margin-bottom:20px;}
.qa_sec .mid_sec .quest_feed .quest_user_info .quest_user_info_img img{width:30px;height:30px;border-radius:50%;}
.qa_sec .mid_sec .quest_feed .quest_user_info .quest_user_detail{margin-left:10px;}
.qa_sec .mid_sec .quest_feed .quest_user_info .quest_user_detail .user_name{font-size:14px;color:#000;line-height:normal;font-weight:500;}
.qa_sec .mid_sec .quest_feed .quest_user_info .quest_user_detail .feed_post_date{font-size:11px;color:#716a6a;line-height:normal;}

.qa_sec .mid_sec .quest_feed .question{margin-bottom:20px;line-height:20px;font-size:20px;color:#000;font-weight:500;position:relative;padding-left:25px;}
.qa_sec .mid_sec .quest_feed .question:before{content:'Q.';position: absolute;left:0px;}

.qa_sec .mid_sec .answer_option{display:flex;margin-bottom:20px;}
.qa_sec .mid_sec .answer_option .ans_opt_list{
    position:relative;
    transition:0.3s ease;
    padding:12px 20px;
    display:flex;
    /* background:#F1F0F0; */
    background:linear-gradient(to right, #BB3335 50%, #F1F0F0 50%);
    font-size:14px;
    font-weight:bold;
    background-size: 201% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color:#BB3335;width: 33%;}

@media only screen and (max-width: 768px) {
  .qa_sec .mid_sec .answer_option .ans_opt_list {
    width: 100%;
  }
  .left_sec, .right_sec{display: none;}
  .ans_opt_text{display: none !important;}
  .ans_opt_list a{margin: auto;}
  .qa_sec{padding:0;}
  .qa_sec .mid_sec .quest_feed{padding: 10px;}
  .qa_sec .mid_sec .write_quest_sec .write_sec .quest_text{font-size: 25px;padding: 10px;position: relative;padding-left: 70px;border-radius: 4px;}
}

.qa_sec .mid_sec .answer_option .ans_opt_list:hover{cursor: pointer;color:#fff;background-position: left bottom;}
.qa_sec .mid_sec .answer_option .ans_opt_list:hover img{filter:brightness(600%);}
.qa_sec .mid_sec .answer_option .ans_opt_list .ans_opt_text{margin-left:10px;margin-top:4px;display: inline;}
.qa_sec .mid_sec .answer_option .ans_opt_list:not(:last-child){margin-right:15px;}

.qa_sec .mid_sec .common_ans_area{margin-bottom: 20px;}
.qa_sec .mid_sec .common_ans_area .inner_ans_area{background: #F1F0F0;border-radius:4px;padding:15px;}
.qa_sec .mid_sec .user_ans_text .inner_ans_area .ans_text{font-size:13px;color:#000;line-height:18px;font-weight:500;}
.qa_sec .mid_sec .common_ans_area .show_more{text-align:right;margin-top:15px;}
.qa_sec .mid_sec .common_ans_area .show_more a{position: relative;;color:#BB3335;font-size:13px;font-weight:500;padding-right:13px;}
.qa_sec .mid_sec .common_ans_area .show_more a:hover{color:#8c3032;}
.qa_sec .mid_sec .common_ans_area .show_more a:before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 600;
    color: #BB3335;
    position: absolute;
    top: 0px;
    right: 2px;
}
.qa_sec .mid_sec .user_ans_video .head_text{font-size: 14px; font-weight: 600; margin-bottom: 10px;}
.qa_sec .owl-item .item img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-60%) translateX(-50%);
    /* z-index: -1; */
  }
.qa_sec .owl-item .item video {max-width:100%;max-height:100%;height:200px;}
.qa_sec .owl-carousel .owl-nav{position: absolute;top: 20%;left: 0;right: 0;}
.qa_sec .owl-carousel .owl-nav .owl-prev,
.qa_sec .owl-carousel .owl-nav .owl-next{
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.qa_sec .owl-carousel .owl-nav .owl-prev {left:-38px; outline: none;}
.qa_sec .owl-carousel .owl-nav .owl-next {right: -38px;outline: none;}
.qa_sec .mid_sec .common_ans_area  .posted_by{font-size:11px;font-weight:500;color:#000;}
.qa_sec .mid_sec .common_ans_area  .posted_by span{color:#716a6a;}
  
  
/*jw player*/

.qa_sec .mid_sec .jwplayer{border-radius:4px;}

/*radio element design */
 
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0.3em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197ee;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }
  /*radio element desing ene here*/

  /* Media query */
@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}
@media (min-width:768px)and (max-width:991px){
    
}
@media (max-width:767px){
   
    .navbar .navbar-nav li .sub-menu{position: relative;}
    .navbar .navbar-nav li .sub-menu.active{display:block;}
}

