{% extends "admin/jarvis/base.html" %}
{% block content %}
<form id="upload" action="" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
        <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        </div>
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Bucket</label>
        <div class="col-md-8">
            <select name="bucket_name" id="bucket_name" required="True" class="form-control">
              <option value="boloindya">Boloindya</option>
              <option value="careeranna">CareerAnna</option>
            </select>
        </div> 
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Folder Prefix</label>
        <div class="col-md-8">
            <input type="text" name="folder_prefix" id="folder_prefix" class="form-control" placeholder="optional: NAME ANY FOLDER OR CREATE ANYFOLDER TO PUT FILE IN IT">
        </div>                     
    </div>
    <div class="form-group" style="float:left;">                    
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
             <button type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
        </div> 
    </div>
</form>
<div id="csv_table">

</div>
<script>
        function upload(event) {
            if ($('.submit_from_button').hasClass("opened")) {
             return false;
        } else {
            $('.submit_from_button').addClass("opened");
            event.preventDefault();
            var data = new FormData($('#upload').get(0));
            var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
            var all_data = []
            $.ajax({
                url: '/jarvis/upload_n_transcode/',
                type: 'POST',
                data: data,
                cache: false,
                dataType:"json",
                processData: false,
                contentType: false,
                success: function(data) {
                    $('.submit_from_button').removeClass("opened");
                    if(data.message=='fail'){
                        alert(data.reason)
                    }
                    else if(data.message=='success'){
                        var url = '/jarvis/upload_details/?id='+data.file_id
                        alert(data.message)
                        alert(url)
                        // do your redirect
                        window.location=url
                    }
                    $('.submit_from_button').removeClass("opened");
                    console.log(data)
                },
                error: function(data) {
                    $('.submit_from_button').removeClass("opened");
                    console.log(data)
                    alert(data)
                    alert('Consult Tech')
                },

            });
            return false;
            }
        }
        
        $(function() {
        $('#upload').submit(upload);
        });
        
</script>
{% endblock content %}        
        