{% extends 'jarvis/new_layout/base.html' %}

{% load static %}

{% block title %}Bolo Indya | Analytics{% endblock title %}

{% block css %}
    <style>
        .jsgrid-grid-header{
            height: 60px !important;
        }


        #creatorNameFilterModal .search-icon, #creatorNameFilterModal .creatorNameList{
            background: black;
            color: white
        }

        #creatorNameFilterModal .creatorNameList{
            margin: 2px 20px;
            padding: 25px;
            max-height: 225px;
            overflow-y: scroll;
        }
.jsgrid-header-sortable:before {
            content: url('/static/img/icons/sortable-icon.png');
        }
        .jsgrid-header-sortable:before {
            content: url('/static/img/icons/sortable-icon.png');
        }
        .jsgrid-header-sort-desc:before {
            content: '' !important;
            border-width: 5px 5px 0;
            margin-top: 5px;
            border-color: #009a67 transparent transparent !important;
        }

        .jsgrid-header-sort-asc:before {
            content: "" !important;
            margin-top: -5px;
            border-width: 0 5px 5px;
            border-color: transparent transparent #009a67 !important;
        }
        .creatorFilterButton{
            height: 38px;
            width: 140px;
        }

        .fa.clear{
            display: none;
        }

        .datePickerApplied .clear, .creatorFilterApplied .clear{
            display: inline;
            position: absolute;
            right: 15%;
            top: 10px;
        }


        /* [data-id="allViewsSelect"], [data-id="allInstallsSelect"]{
            width: 50% !important;
        } */
    </style>
{% endblock css %}

{% block content %}

<div class="container main">
    <div class="row verticle-center header-row">
        <div class="col-7">
            <div class="page-title">
                Install Analytics Dashboard
            </div>
        </div>
        <div class="col-5">
            <div class="row">
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-3 " id="totalViews">
            <div class="count-div">
                <div class="row pt-2 avenir-font count-text text-center">
                    <div class="col ">
                        Total Views <span class="totalValueBrand"></span>
                    </div>
                </div>
                <div class="row pt-1 count  text-center">
                    <div class="col value-count">
                        -
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" id="totalInstalls">
            <div class="count-div">
                <div class="row pt-2 avenir-font count-text text-center">
                    <div class="col">
                        Total Installs<span class="totalValueBrand"></span>
                    </div>
                </div>
                <div class="row pt-1 count text-center" >
                    <div class="col value-count">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-5 mr-4">
            <div class="row justify-content-between">
                <div class="col-4" style="font-size: 20px;">
                    All Views
                </div>
                <div class="col-4" id="">
                    <select name="" id="allViewsSelect" class="selectpicker">
                        <option value="weekly">Daily</option>
                        <option value="monthly">Weekly</option>
                        <option value="yearly">Monthly</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <canvas id="allViewsChart"></canvas>
            </div>
            
        </div>
        <div class="col-5 mx-4">
            <div class="row justify-content-between">
                <div class="col-4" style="font-size: 20px;">
                    All Installs
                </div>
                <div class="col-4" id="">
                    <select name="" id="allInstallsSelect" class="selectpicker">
                        <option value="weekly">Daily</option>
                        <option value="monthly">Weekly</option>
                        <option value="yearly">Monthly</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <canvas id="allInstallsChart"></canvas>
            </div>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <select name="" id="" class="brandFilter">
                <option value="">All Brands</option>
            </select>
        </div>
        <div class="col-2">
            <div class="label-group mb-2 mr-sm-2 pointer">
                <div class="label-group-prepend showcreatorNameFilterModal">
                    <div class="label-group-text"><i class="fa fa-filter" aria-hidden="true"></i></div>
                </div>
                <div class="label-group-content creatorFilter">
                    <button class="btn creatorFilterButton textEllipsis showcreatorNameFilterModal">Creator Name</button>
                    <i class="fa fa-times-circle clear" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="label-group mb-2 mr-sm-2 pointer">
                <div class="label-group-prepend">
                    <div class="label-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                </div>
                <div class="label-group-content">
                    <input type="text" class="form-control" id="dateRange" placeholder="Date Range">
                    <i class="fa fa-times-circle clear" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-2" id="fileTypeDiv">
            <div class="label-group mb-2 mr-sm-2 pointer">
                <div class="label-group-prepend">
                    <div class="label-group-text">
                        <img src="{% static '/img/brand-dashboard/download-icon.svg' %}" class="recordCountIcon pointer" id="exportOrder">
                    </div>
                </div>
                <div class="label-group-content">
                    <select name="fileType" id="" class="selectpicker">
                        <option value="">File Type</option>
                        <option value="csv" selected>CSV</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="col-2" id="recordCountDiv">
            <div class="label-group mb-2 mr-sm-2 pointer">
                <div class="label-group-prepend">
                    <div class="label-group-text">
                        <img src="{% static '/img/brand-dashboard/record-icon.svg' %}" class="recordCountIcon" id="stockIcon">
                    </div>
                </div>
                <div class="label-group-content">
                    <select name="recordsCount" id="pageSize" class="selectpicker">
                        <option value="10">10 Records</option>
                        <option value="20">20 Records</option>
                        <option value="50">50 Records</option>
                        <option value="100">100 Records</option>
                        <option value="500">500 Records</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="" id="adStatsTable"></div>
    </div>
</div>

<div class="modal fade" id="creatorNameFilterModal" tabindex="-1" role="dialog" aria-labelledby="creatorNameFilterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creatorNameFilterModalLabel">Creator Name</h5>
                <div class="modalClose">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row avenir-font">
                    <div class="input-group m-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text search-icon"><img src="{% static '/img/brand-dashboard/search-icon-light.svg' %}" ></div>
                        </div>
                        <input type="text" class="form-control search-input avenir-font"  placeholder="Creators">
                    </div>
                </div>
                <div class="row avenir-font">
                    <div class="col creatorNameList">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <span class="apply-button pointer">Apply</span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script>
    let isDatePickerApplied = false;

    let createChart = function(chartName, canvas, labels, dataset){
        return new Chart(canvas, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: labels,
                datasets: [{
                    label: chartName,
                    backgroundColor: 'rgb(0, 0, 0)',
                    borderColor: 'rgb(0, 0, 0)',
                    data: dataset,
                    fill: false,
                }],

            },

            // Configuration options go here
            options: {}
        });
    }

    let getExtraFilterData = function(){
        let filters = {}

        let creatorIdList = []
        $.each($('.creatorNameList input[type=checkbox]:checked'), function(i, item){
            if($(this).val() != 'all')
                creatorIdList.push($(this).val())
        })

        if(creatorIdList.length > 0)
            filters['creators'] = creatorIdList.join(',')

        let brandFilter = $('.brandFilter').val()
        console.log('brand filter', brandFilter)

        if(brandFilter)
            filters['brand'] = brandFilter

        let dateRange = $('#dateRange').val()

        if(dateRange)
            filters['date_range'] = dateRange

        return filters;
    }

    const initTotalCounts = function(){
        let countList = ['ad_install_dashboard_total_installs', 'ad_install_dashboard_total_views']
        $.ajax('/api/v1/marketing/dashboard/counts/?queries='+countList.join(',') + '&' + $.param(getExtraFilterData()), {
            method: 'GET',
            success: function(response){
                $('#totalViews .value-count').text(response.ad_install_dashboard_total_views)
                $('#totalInstalls .value-count').text(response.ad_install_dashboard_total_installs)

                if(response.brand_name){
                    $.each($(".totalValueBrand"), function(i, element){
                        $(element).text(' (' + response.brand_name + ')')
                    })
                }
                else{
                    $.each($(".totalValueBrand"), function(i, element){
                        $(element).text('')
                    })
                }
            }
        })
    }

    const initiateTable = function(){
        $("#adStatsTable").jsGrid({
            width: "100%",
            height: "450px",

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            pageLoading: true,
            autoload: true,
            filtering: false,
            pagerFormat: "{first} {pages} {last}",
            pageButtonCount: 3,
            pageSize: $("#pageSize").val(),
            fields: [
                { title: "Sr. No.", name: "ad_id", type: "number", width: 30, align: "center", filtering: false, sorting: false,
                    itemTemplate: function(value, _){
                        let index = 0;
                        $.each(this._grid.data, function(i, item){
                            if(item.ad_id == value){
                                index = i;
                                return false
                            }
                        })
                        return index + 1
                    }
                },
                { title: "Brand", name: "ad__brand__name", type: "text", width: 60, align: "center", sorting: false},
                { title: "Ad ID", name: "ad_id", type: "text", width: 60, align: "center"},
                { title: "Creator Name", name: "ad__created_by__username", type: "text", width: 60, align: "center", sorting: false},
                { title: "Views", name: "view_count", type: "text", width: 60, align: "center"},
                { title: "Installs", name: "install_count", type: "text", width: 60, align: "center", css: "daterange-field"},
                { title: "CTR(%)", name: "ctr", type: "number", align: "center", width: 50, css: 'range-field'},
                { title: "Skips", name: "skip_count", type: "text", align: "center"},
                { title: "Full ad watched", name: "full_watched", type: "text", align: "center", width: 50},
                { title: "Avg. time before Install (Secs)", name: "average_install_time", type: "text", align: "center"},
                { title: "Avg. time before Skip (Secs)", name: "average_skip_time", type: "text", align: "center"},
            ],
            controller: {
                loadData: function(filter) {
                    filter['page'] = filter['pageIndex']
                    filter['page_size'] = $("#pageSize").val()

                    filter = Object.assign(filter, getExtraFilterData())
                    console.log("filter", filter)

                    return $.ajax({
                        type: "GET",
                        url: "/api/v1/marketing/ad/stats/",
                        data: filter,
                        headers: headers
                    });
                },
                
            },
            onDataLoaded: function(gridInstance){
                
            }
        });

        let grid = $("#adStatsTable").data("JSGrid");

        $(document).on('click', '#creatorNameFilterModal .apply-button', function(){
            grid.reset()
            $('#creatorNameFilterModal .close').click()

            let button = $(".creatorFilter button");
            let buttonName = []
            $.each($('.creatorNameList input[type="checkbox"]:checked:not(.creatorNameList input[type="checkbox"][value="all"])'), function(i, element){
                buttonName.push($(element).parent().find('label').text())
            });
            
            if(buttonName.length == 0)
                button.text("Creator Name")
            else{
                button.text(buttonName.join(', '))
                button.parent().addClass("creatorFilterApplied")
            }
        })

        $(document).on('click', '.creatorFilterApplied .clear', function(){
            $.each($('.creatorNameList input[type="checkbox"]:checked'), function(i, element){
                $(element).prop("checked", false);
            });
            $(".creatorFilter button").text("Creator Name").parent().removeClass("creatorFilterApplied")
            grid.reset()
        })

        $(document).on('change', '.brandFilter', function(){
            grid.reset()
            initTotalCounts()
        })

        $(document).on('click', '#dateRange', function(){
            if(isDatePickerApplied)
                return

            $('#dateRange').daterangepicker({
                opens: 'center',
                locale: {
                    format: 'DD/MM/YYYY'
                }
            }, function(start, end, label) {});

            $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
                grid.reset();
            });
            isDatePickerApplied = true
            $('#dateRange').parent().addClass('datePickerApplied')

            $(document).on('click', '.datePickerApplied .clear', function(){
                let dateRangeElement = $('#dateRange')
                dateRangeElement.data('daterangepicker').remove();
                dateRangeElement.parent().removeClass('datePickerApplied')
                dateRangeElement.val('')
                isDatePickerApplied = false
                grid.reset()
            })
        })
        


        $(document).on('change', '#pageSize', function(){
            grid.reset()
        })
    }

    const loadCreators = function(){
        const getCreators = function(q){
            $.ajax('/api/v1/marketing/ad/creator/?q='+q, {
                method: 'GET',
                headers: headers,
                success: function(response){
                    let creatorList = $('#creatorNameFilterModal .creatorNameList')
                    creatorList.html('')
                    creatorList.append(`<div class="row"><div class="form-group form-check">
                            <input type="checkbox" value="all" class="form-check-input"> 
                            <label class="form-check-label">All</label>
                        </div></div>`)
                    $.each(response.results, function(i, item){
                        creatorList.append(`<div class="row"><div class="form-group form-check">
                            <input type="checkbox" value="${ item.id }" class="form-check-input"> 
                            <label class="form-check-label">${ item.username }</label>
                        </div></div>`)
                    })
                    $(document).on('change', '.creatorNameList input[type="checkbox"][value="all"]', function(){
                        console.log("change")
                        if($('.creatorNameList input[type="checkbox"][value="all"]:checked').length > 0){
                            $.each($('.creatorNameList input[type="checkbox"]:not(.creatorNameList input[type="checkbox"][value="all"])'), function(i, element){
                                $(element).prop("checked", true);
                            });
                        }
                        else{
                            $.each($('.creatorNameList input[type="checkbox"]:not(.creatorNameList input[type="checkbox"][value="all"])'), function(i, element){
                                console.log("element", $(element))
                                $(element).prop("checked", false);
                            });
                        }
                    })
                }
            })
        }

        $(document).on('keyup', '#creatorNameFilterModal .search-input', function(){
            let text = $(this).val()

            if(text.length > 0 && text.lenght < 3)
                return
            
            getCreators(text)

        })
        getCreators('')
    }

    const loadBrands = function(){
        $.ajax('/api/v1/marketing/ad/brand/', {
            method: 'GET',
            headers: headers,
            success: function(response){
                let selectDiv = $('.brandFilter');

                $.each(response.results, function(i, item){
                    selectDiv.append(`<option value="${ item.id }"> ${ item.name } </option>`)
                })

                selectDiv.select2();
            }
        })
    }

    const loadCounts = function(){
        $.ajax('/api/v1/ad/dashboard-counts', {
            method: 'GET',
            success: function(response){
                $("#totalViews").find('.value-count').text(response.total_ad_views)
                $("#totalInstalls").find('.value-count').text(response.total_ad_installs)
            }
        })
    }

    const initChart = function(element, type, chartInstance){
        $(document).on('change', element, function(){
            $.ajax({
                type: "GET",
                url: "/api/v1/marketing/ad/install/chart/?chart_type=" + type + "&data_type=" + $(this).val(),
                headers: headers,
                success: function(response){
                    console.log("response", response)
                    chartInstance.data.labels = response.labels
                    chartInstance.data.datasets[0].data = response.dataset
                    chartInstance.update()
                }
            });
        })
    }

    const initDownloadCSV = function(){
        $(document).on('click', '#exportOrder', function(){
            let fileType = $('select[name=fileType]').val();
            let params = {}

            if(fileType)
                params['format'] = fileType
            
            params = Object.assign(params, getExtraFilterData())

            window.open('/report/ad/install/stats/download?' + $.param(params), '_self')
        });
    }

    $(document).ready(function(){
        initTotalCounts()
        initiateTable()
        loadCreators()
        loadBrands()
        initDownloadCSV()
        var allViewsChart = createChart('Views', document.getElementById('allViewsChart').getContext('2d'), [], []);
        var allInstallsChart = createChart('Install', document.getElementById('allInstallsChart').getContext('2d'), [], []);
        initChart('#allViewsSelect', 'views', allViewsChart)
        initChart('#allInstallsSelect', 'installs', allInstallsChart)
        $('#allViewsSelect').trigger('change')
        $('#allInstallsSelect').trigger('change')

        $(document).on('click', '.showcreatorNameFilterModal', function(){
            $('#creatorNameFilterModal').modal({'show': true})
        })
    })
</script>

{% endblock js %}
