{% extends "jarvis/layout/base.html" %}
{% block styles %}
<style>
    #overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.percentcomplete{
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    transform: translate(-50%,-50%);
}
.video_elements{
    display: none;
}
.selected_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    float:left;
    list-style: none;
    padding: 0px;
    border: 1px solid black;
    margin-top: 0px;
    width: 100%;
    max-height: 120px;
    display: block;
    overflow-y: scroll;
    background: white;
}
ul li {
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
#response li:hover{
    background: #1989CD;
    color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 30%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

</style>
{% endblock styles %}
{% block content %}

<section class="content">
    <form id="upload" action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}

        <!-- For banner -->
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Campaign Banner Image Upload: <br> (480 x 140) </label>
            <div class="col-md-8">
                <input type="file" name="banner_file" id="banner" class="form-control" onchange="readURL(this, '#selected_image');">
                <br>
                <input type="button" id="btnCrop" value="Crop" />
                <input type="button" id="btnSave" value="Save" />
                <input type="button" id="btnCancel" value="Cancel" />
                <br>
            </div>
        </div>

        <div>
            <img id="selected_image" class="selected_image" style="max-width: 100%;" />
        </div>


        <!-- For popup on the landing page -->
        <div class="form_group">
            <label for="name">Show popup on app main screen? </label>
            <input type="checkbox" id="popup_checkbox" name="popup_checkbox">
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Popup Image: <br> (960 x 1440) </label>
            <div class="col-md-8">
                <input type="file" name="popup_file" id="popup" class="form-control" onchange="readURL(this, '#selected_image_popup');" disabled="True">
            </div>
        </div>

        <div class="form-group">
                <img id="selected_image_popup"/>
        </div>

        <div class="">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Set associated hashtag: </label>
            <div class="col-md-8">
                <input type="text" name="hashtag_name" placeholder="Search Hashtags" id="search_id">
                <span><button id="bt_new_hashtag">Add new hashtag</button>
                    <span id="hashtag_status"></span>
                </span>
                <ul id="response">
                </ul>
            </div>
        </div>    

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Active From: </label>
            <div class="col-md-8">
                <input type="text" id="start_date" name="start_date" placeholder="Start Date" class="filter_text">
            </div>
            
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Active Till: </label>
            <div class="col-md-8">
                <input type="text" id="end_date" name="end_date" placeholder="End Date" class="filter_text">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Campaign Details/Rules: </label>
            <div class="col-md-8">
                <div class="col-md-8" style="background-color: #fff; border: thin; min-height: 50px" id="campaign_details" contenteditable="true">
            </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Select Language: </label>
            <div class="multiselect col-md-8">
                <div class="selectBox" id="selectBox">
                  <select>
                    <option>Select an option</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    {% for lang in lang_options %}
                        <input class="lang_options" name="lang_options" type="checkbox" id="lang_{{lang.id}}" value="{{lang.id}}">{{lang.value}}</br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group video_elements">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Bucket</label>
            <div class="col-md-8">
                <select name="bucket_name" id="bucket_name" required="True" class="form-control">
                    <option value="in-boloindya" selected>Boloindya Prod</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button id="create" type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Create Campaign </button>
            </div>
        </div>
    </form>
    <div id="overlay">
        <div class="text"><br>
            <br><span style="font-size:50px;" class="percentcomplete"></span></div>
    </div>
    <div id="csv_table">
    </div>
</section>
{% endblock content %}
{% block center_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js" integrity="sha512-XL8wKq9jUbb9LMyrezd19IPRrf41omJUvZpqTXlpGXREAFbmoulbt3yBv+Lw+L007NL5tL0HRfnlXeKtvlvITg==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js" integrity="sha512-mxCAjvjp0jvMdGRIEvAHOCGL6BOucqWpTBXwchElsPKNw7BEegHviDHPnYrOrzgzBiw3GD/Q1ibpA5nlFPYDMw==" crossorigin="anonymous"></script>

<script>
    
    $('#btnCrop').hide();
    $('#btnSave').hide();
    $('#btnCancel').hide();

    $('#bt_new_hashtag').click(
        function(){
            let hashtag_status = document.getElementById('hashtag_status')
            hashtag_status.innerHTML = '  Please wait...'

            const name = $('#search_id').val()
            $('#response').empty();

            console.log("Adding new hashtag", name);

            $.ajax({
                url: '/jarvis/search_and_add_hashtag/',
                method: 'POST',
                data: JSON.stringify({
                    'hashtag': name,
                }),
                dataType: "json",
                contentType: 'application/json',
                success: function(data) {
                    hashtag_status.innerHTML = '  Created!';
                    hashtag_id = data.id;
                    $('#search_id').val(String(data.hash_tag));
                }
            });     
            return false;       
        }    
    );
    

    function readURL(input, img_tag) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(img_tag)
                    .attr('src', e.target.result)
                    .css({
                        'width' : '30%',
                        'height' : '30%'
                    })

            };
            reader.readAsDataURL(input.files[0]);
            $('#btnCrop').show();
        }
    }

    $('#btnCrop').click(function() {
        // Get a string base 64 data url
        $("#selected_image").cropper({
            aspectRatio: 32/9,
            crop: function(event){
            }   
        });

        $('#btnCrop').hide();
        $('#btnSave').show();
        $('#btnCancel').show();
     });

    $('#btnCancel').click(function(){
        closeCropper();
    });

    $('#btnSave').click(function(){
        var croppedImageDataURL = $("#selected_image").cropper('getCroppedCanvas').toDataURL("image/png"); 
        download(croppedImageDataURL, "cropped_file.png", "image/png");
        closeCropper();
    });

    function closeCropper() {
        $("#selected_image").cropper('destroy');
        $('#btnCrop').show();
        $('#btnSave').hide();
        $('#btnCancel').hide();
    }

var hashtag_id = -1;

function upload(event) {

    console.log("uplaod called "+event)

    // Check if the date are valid
    if( $('#start_date').val() && $('#end_date').val() ){
    } else {
        alert("Please enter both dates");
        return false;
    }

    //Check if the hashtag is empty
    if(!$('#search_id').val() || hashtag_id == -1){
        alert("Invalid or empty hashtag");
        return false;
    }

    if ($('.submit_from_button').hasClass("opened")) {
        return false;
    } else {
        $('.submit_from_button').addClass("opened");
        event.preventDefault();
        $('#overlay').show();
        var data = new FormData($('#upload').get(0));
        var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
        var all_data = []
        var lang_options_data = []
        $("input:checkbox[name=lang_options]:checked").each(function(){
            lang_options_data.push($(this).val());
        });
        // data.append('lang_options', lang_options_data)
        data.append('hashtag_id', hashtag_id);
        data.append('is_show_popup', $("#popup_checkbox").is(':checked'));
        data.append('campaign_details', $("#campaign_details").html());

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                console.log(key + " -> " + data[key]);
            }
        }

        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %');
                        if (percentComplete === 1) {
                            $('.percentcomplete').text('Processing');
                        }
                    }
                }, false);
                xhr.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %')
                    }
                }, false);
                return xhr;
            },
            url: '/jarvis/add_campaign/',
            type: 'POST',
            data: data,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                if (data.message == 'fail') {
                    alert(data['reason'])
                } else if (data.message == 'success') {
                    $('#start_date').val('')
                    $('#end_date').val('')
                    $('#media_file').val('')
                    $('#selected_image').hide()
                    alert("uploading done")
                }
                $('.submit_from_button').removeClass("opened");
            },
            error: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                console.log(data)
                alert(data)
                alert('Consult Tech')
            },

        });
        return false;
    }
}


$('#create').click(upload);

// $(function() {
//     $('#upload').submit(upload);
// });
</script>

<script>

    $(function () {
        $("#popup_checkbox").click(function () {
            if ($(this).is(":checked")) {
                $("#popup").prop("disabled", false);
            } else {
                $("#popup").prop("disabled", true);
            }
        });
    });

    $(function() {
        $("#start_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });
    $(function() {
        $("#end_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });

    var loading = 0;
    $('#search_id').keyup(function(){
            var query = $('#search_id').val();
            
            if (query.length > 2 && loading == 0) {
                loading = 1;
                $('#response').empty();
                $('#response').append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_fields_for_campaign/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'result_type': '0' 
                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        loading = 0;
                        $('#loading').hide();
                        $('#response').empty();
                        if (data.data.length == 0) {
                            $('#response').append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            $('#response').append('<li onclick="addIdToField(\''+data.data[i].hash_tag+'\', \''+data.data[i].id+'\', this)">#'+data.data[i].hash_tag+'</li>');
                        }
                    }
                })
            } else {
                $('#response').empty();
            }
    })

    function addIdToField(hashtag, id, title) {
        clearResponse();
        hashtag_id = id
        $('#search_id').val(String(hashtag));
    }

    function clearResponse() {
        $('#search_id').val('');
        $('#response').empty();
    }

</script>
<script>
    $(document).ready( function () {
        var expanded = false;
        $("#selectBox").click(function () {
            var checkboxes = document.getElementById("checkboxes");
          if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
          } else {
            checkboxes.style.display = "none";
            expanded = false;
          }
        })
        $("#lang_0").click(function () {
            if(!$('#lang_0').is(":checked")){
                $('#lang_0').prop('checked', false);
            }
            else{
                $("input[name='lang_options']:checkbox").prop('checked',false);
                $('#lang_0').prop('checked', true);
            }
        });
        $(".lang_options").click(function() {
            if($(this).val()!=0){
                $('#lang_0').prop('checked', false);
            }
        });
    });
</script>
{% endblock center_js %}