{% extends "jarvis/layout/base.html" %}
{% block styles %}
<style>
    #overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.percentcomplete{
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    transform: translate(-50%,-50%);
}
.video_elements{
    display: none;
}
.selected_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#center_announce{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#disable_campaign{
    color: red;
}

ul {
    float:left;
    list-style: none;
    padding: 0px;
    border: 1px solid black;
    margin-top: 0px;
    width: 100%;
    max-height: 120px;
    display: block;
    overflow-y: scroll;
    background: white;
}
ul li {
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
li:hover{
    background: #1989CD;
    color: white;
}
.form_group_1{
    margin-top:100px;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
</style>
{% endblock styles %}
{% block content %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<section class="content">
    <form id="upload" action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}

        <div class="form-group">
                <img id="selected_image" class="selected_image" style="max-width: 100%;"/>
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Change Banner: <br> (480 x 140) </label>
            <div class="col-md-8">
                <input type="file" name="banner_file" id="banner" class="form-control" onchange="readURL(this, '#selected_image');">
                <br>
                <input type="button" id="btnCrop" value="Crop" />
                <input type="button" id="btnSave" value="Save" />
                <input type="button" id="btnCancel" value="Cancel" />
                <br>
            </div>
        </div>
        
        <!-- For popup on the landing page -->
        <div class="form_group">
            <label for="name">Show popup on app main screen? </label>
            <input type="checkbox" id="popup_checkbox" name="popup_checkbox">
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Change Popup Image: <br> (960 x 1440) </label>
            <div class="col-md-8">
                <input type="file" name="popup_file" id="popup" class="form-control" onchange="readURL(this, '#selected_image_popup');" disabled="True">
            </div>
        </div>

        <div class="form-group">
                <img id="selected_image_popup" class="selected_image"/>
        </div>


        <div class="form_group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Associated hashtag: </label>
            <div class="col-md-8">
                <input type="text" name="hashtag_name" placeholder="Search Hashtags" id="search_id">
                <span><button id="bt_new_hashtag" onclick="addNewHashtag()">Add new hashtag</button>
                    <span id="hashtag_status"></span>
                </span>
                <ul id="response">
                </ul>

            </div>
        </div>    

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Active From: </label>
            <div class="col-md-8">
                <input type="text" id="start_date" name="start_date" placeholder="Start Date" class="filter_text">
            </div>
            
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Active Till: </label>
            <div class="col-md-8">
                <input type="text" id="end_date" name="end_date" placeholder="End Date" class="filter_text">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Campaign Details/Rules: </label>
            <div class="col-md-8" style="background-color: #fff; border: thin; min-height: 50px" id="campaign_details" contenteditable="true">
            </div>
        </div>        

        <div class="form_group">
            <label for="name">Annonuce Winners: </label>
            <input type="checkbox" id="announce_winner" name="announce_winner">
        </div>

        <div class="form_group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="rank_1_user">Rank 1 User: </label>
            <div class="col-md-8">
                <input type="text" name="rank_1_user" placeholder="Search User" id="rank_1_user" disabled>
                <ul id="response_1">
                </ul>
            </div>
            <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="rank_1_video">Rank 1 Video: </label>
            <div class="col-md-8">
                <input type="text" name="rank_1_video" placeholder="Enter Video ID" id="rank_1_video" disabled>
                <ul id="response_vid_1">
                </ul>
            </div>
        </div>    

        <div class="form_group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Rank 2 User: </label>
            <div class="col-md-8">
                <input type="text" name="rank_2_user" placeholder="Search User" id="rank_2_user" disabled>
                <ul id="response_2">
                </ul>
            </div>
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Rank 2 Video: </label>
            <div class="col-md-8">
                <input type="text" name="rank_2_video" placeholder="Enter Video ID" id="rank_2_video" disabled>
                <ul id="response_vid_2">
                </ul>
            </div>
        </div>    

        <div class="form_group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Rank 3 User: </label>
            <div class="col-md-8">
                <input type="text" name="rank_3_user" placeholder="Search User" id="rank_3_user" disabled>
                <ul id="response_3">
                </ul>
            </div>
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Rank 3 Video: </label>
            <div class="col-md-8">
                <input type="text" name="rank_3_video" placeholder="Enter Video ID" id="rank_3_video" disabled>
                <ul id="response_vid_3">
                </ul>
            </div>
        </div>    
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Select Language: </label>
            <div class="multiselect col-md-8">
                <div class="selectBox" id="selectBox">
                  <select>
                    <option>Select an option</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    {% for lang in lang_options %}
                        <input class="lang_options" name="lang_options" type="checkbox" id="lang_{{lang.id}}" value="{{lang.id}}" {% if lang.select%}checked{% endif %}>{{lang.value}}</br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Save Changes </button>
            </div>
        </div>

        <div class="form-group">
            <label id="disable_campaign" class="col-md-3 col-sm-3 col-xs-12 control-label" for="name">Disable this campaign: </label>
                <input type="checkbox" id="disable_campaign_cb" name="disable_campaign" value='true'>
        </div>

        
        <div class="form-group video_elements">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Bucket</label>
            <div class="col-md-8">
                <select name="bucket_name" id="bucket_name" required="True" class="form-control">
                    <option value="in-boloindya" selected>Boloindya Prod</option>
                </select>
            </div>
        </div>
    </form>
    <div id="overlay">
        <div class="text"><br>
            <br><span style="font-size:50px;" class="percentcomplete"></span></div>
    </div>
    <div id="csv_table">
    </div>
</section>
{% endblock content %}
{% block center_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js" integrity="sha512-XL8wKq9jUbb9LMyrezd19IPRrf41omJUvZpqTXlpGXREAFbmoulbt3yBv+Lw+L007NL5tL0HRfnlXeKtvlvITg==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css" integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js" integrity="sha512-mxCAjvjp0jvMdGRIEvAHOCGL6BOucqWpTBXwchElsPKNw7BEegHviDHPnYrOrzgzBiw3GD/Q1ibpA5nlFPYDMw==" crossorigin="anonymous"></script>

<script>

    $('#btnSave').hide();
    $('#btnCancel').hide();

    $('#btnCrop').click(function() {
        // Get a string base 64 data url
        $("#selected_image").cropper({
            aspectRatio: 32/9,
            crop: function(event){
            }   
        });

        $('#btnCrop').hide();
        $('#btnSave').show();
        $('#btnCancel').show();
     });

    $('#btnCancel').click(function(){
        closeCropper();
    });

    $('#btnSave').click(function(){
        var croppedImageDataURL = $("#selected_image").cropper('getCroppedCanvas').toDataURL("image/png"); 
        download(croppedImageDataURL, "cropped_file.png", "image/png");
        closeCropper();
    });

    function closeCropper() {
        $("#selected_image").cropper('destroy');
        $('#btnCrop').show();
        $('#btnSave').hide();
        $('#btnCancel').hide();
    }

    function readURL(input, img_field) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(img_field)
                    .attr('src', e.target.result)
                    .css({
                        'width' : '30%',
                        'height' : '30%'
                    })
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


    $(function () {
        $("#announce_winner").click(function () {
            if ($(this).is(":checked")) {
                enableWinnersField();
            } else {
                disableWinnersField();
            }
        });
    });

    $(function () {
        $("#popup_checkbox").click(function () {
            if ($(this).is(":checked")) {
                $("#popup").prop("disabled", false);
            } else {
                $("#popup").prop("disabled", true);
            }
        });
    });

    function enableWinnersField(){
        $("#rank_1_user").prop("disabled", false);
        $("#rank_2_user").prop("disabled", false);
        $("#rank_3_user").prop("disabled", false);
        $("#rank_1_video").prop("disabled", false);
        $("#rank_2_video").prop("disabled", false);
        $("#rank_3_video").prop("disabled", false);
    }

    function disableWinnersField(){
        $("#rank_1_user").prop("disabled", true);
        $("#rank_2_user").prop("disabled", true);
        $("#rank_3_user").prop("disabled", true);
        $("#rank_1_video").prop("disabled", true);
        $("#rank_2_video").prop("disabled", true);
        $("#rank_3_video").prop("disabled", true);   
    }

    $(document).ready(function(){
        $("#selected_image").attr("src","{{campaign.banner_img_url}}")
                    .css({
                        'width' : '30%',
                        'height' : '30%'
                    });

        $("#selected_image_popup").attr("src","{{campaign.popup_img_url}}")
                    .css({
                        'width' : '30%',
                        'height' : '30%'
                    });

        $("#search_id").val("{{campaign.hashtag}}");
        $("#start_date").val("{{campaign.active_from|date:"d-m-Y"}}");
        $("#end_date").val("{{campaign.active_till|date:"d-m-Y"}}");

        // $("#campaign_details").val("{{campaign.details|linebreaks}}");
        var details = "{{ campaign.details|linebreaks }}";
        if(details == "<p>None</p>"){
            details = "";
        } else {
            details = parseDetails(details);
        }
        document.getElementById("campaign_details").innerHTML = details;

        var is_disabled = {{campaign.is_active|yesno:"false,true"}}
        $("#disable_campaign_cb").prop("checked", is_disabled);
        console.log(is_disabled);

        var is_winner_declared = {{campaign.is_winner_declared|yesno:"true,false"}};
        $("#announce_winner").prop("checked", is_winner_declared);

        var is_show_popup = {{campaign.show_popup_on_app|yesno:"true,false"}};
        $("#popup_checkbox").prop("checked", is_show_popup);
        console.log("popup checkbox: "+is_show_popup);

        if(is_show_popup){
            $("#popup").prop("disabled", false);
        } else {
            $("#popup").prop("disabled", true);
        }
        
        if(is_winner_declared){
            enableWinnersField();
            {% for winner in campaign.winners.all %}
                if('{{winner.rank}}' == '1'){
                    winner_1 = '{{winner.user.id}}'
                    video_1 = '{{winner.video.id}}'
                    $("#rank_1_user").val("{{winner.user}}");
                    $("#rank_1_video").val("{{winner.video}}");

                } else if ('{{winner.rank}}' == '2'){
                    winner_2 = '{{winner.user.id}}'
                    video_2 = '{{winner.video.id}}'
                    $("#rank_2_user").val("{{winner.user}}");
                    $("#rank_2_video").val("{{winner.video}}");

                } else if ('{{winner.rank}}' == '3'){

                    winner_3 = '{{winner.user.id}}'
                    video_3 = '{{winner.video.id}}'
                    $("#rank_3_user").val("{{winner.user}}");
                    $("#rank_3_video").val("{{winner.video}}");
                }

            {% endfor %}
        }
    });

    function setWinnersField(user_id, video_id, user_field, video_field, winner){

        console.log(user_id, video_id, user_field, video_field);
        console.log('{{winner.user}}, {{winner.video}}, {{winner.video.id}}, {{winner.rank}}');

        user_id = '{{winner.user.id}}'
        video_id = '{{winner.video.id}}'
        $(user_field).val("{{winner.user}}");
        $(video_field).val("{{winner.video}}");
    }    

var hashtag_id = {{campaign.hashtag.id}};

function upload(event) {

    if($('#rank_1_user').val() && !($('#rank_1_video').val()) ){
        alert('Please enter Rank 1 Video');    
        return false;
    }

    if($('#rank_2_user').val() && !($('#rank_2_video').val()) ){
        alert('Please enter Rank 2 Video');    
        return false;
    }

    if($('#rank_3_user').val() && !($('#rank_3_video').val()) ){
        alert('Please enter Rank 3 Video');    
        return false;
    }

    // Check if the date are valid
    if( $('#start_date').val() && $('#end_date').val() ){
    } else {
        alert("Please enter both dates");
        return false;
    }

    //Check if the hashtag is empty
    if(!$('#search_id').val() || hashtag_id == -1){
        alert("Invalid or empty hashtag");
        return false;
    }

    if ($('.submit_from_button').hasClass("opened")) {
        return false;
    } else {
        $('.submit_from_button').addClass("opened");
        event.preventDefault();
        $('#overlay').show();
        var data = new FormData($('#upload').get(0));
        var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
        var all_data = []

        data.append('campaign_id', '{{campaign.id}}');
        data.append('hashtag_id', hashtag_id);
        data.append('is_winner_declared', $("#announce_winner").is(':checked'));
        data.append('is_disabled', $("#disable_campaign").is(':checked'));
        if(winner_1 != -1){
            data.append('winner_1', winner_1);
            data.append('video_1', video_1);
        }

        if(winner_2 != -1){
            data.append('winner_2', winner_2);
            data.append('video_2', video_2);
        }

        if(winner_3 != -1){
            data.append('winner_3', winner_3);
            data.append('video_3', video_3);
        }

        if(!$('#banner').val()){
            data.append('banner_img_url', $('#banner').val());
        } else {
            data.append('banner_img_url', '{{campaign.banner_img_url}}');
        }

        data.append('is_show_popup', $("#popup_checkbox").is(':checked'));
        if(!$('#popup').val()){
            data.append('popup_img_url', $('#popup').val());
        } else {
            data.append('popup_img_url', '{{campaign.popup_img_url}}');
        }

        // data.append('campaign_details', $("#campaign_details").val());
        data.append('campaign_details', $("#campaign_details").html());

        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %');
                        if (percentComplete === 1) {
                            $('.percentcomplete').text('Processing');
                        }
                    }
                }, false);
                xhr.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %')
                    }
                }, false);
                return xhr;
            },
            url: '/jarvis/add_campaign/',
            type: 'POST',
            data: data,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                if (data.message == 'fail') {
                    alert(data['reason'])
                } else if (data.message == 'success') {
                    alert("Changes done.")
                }
                $('.submit_from_button').removeClass("opened");
            },
            error: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                console.log(data)
                alert(data)
                alert('Consult Tech')
            },

        });
        return false;
    }
}


$(function() {
    $('#upload').submit(upload);
});

function addNewHashtag(){
    let hashtag_status = document.getElementById('hashtag_status')
    hashtag_status.innerHTML = '  Please wait...'

    const name = $('#search_id').val()

    $.ajax({
        url: '/jarvis/search_and_add_hashtag/',
        method: 'POST',
        data: JSON.stringify({
            'hashtag': name,
        }),
        dataType: "json",
        contentType: 'application/json',
        success: function(data) {
            hashtag_status.innerHTML = '  Created!';
            hashtag_id = data.id;
            $('#search_id').val(String(data.hash_tag));
            $('#response').empty();
        }
    })
}    

</script>

<script>
    $(function() {
        $("#start_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });
    $(function() {
        $("#end_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });

    var loading = 0;
    $('#search_id').keyup(function(){
            var query = $('#search_id').val();
            
            if (query.length > 2 && loading == 0) {
                loading = 1;
                $('#response').empty();
                $('#response').append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_fields_for_campaign/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'result_type': '0' 
                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        loading = 0;
                        $('#loading').hide();
                        $('#response').empty();
                        if (data.data.length == 0) {
                            $('#response').append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            $('#response').append('<li onclick="addIdToField(\''+data.data[i].hash_tag+'\', \''+data.data[i].id+'\', this)">#'+data.data[i].hash_tag+'</li>');
                        }
                    }
                })
            } else {
                $('#response').empty();
            }
    })

    var winner_1 = -1, winner_2 = -1, winner_3 = -1;
    $('#rank_1_user').keyup(function(){search_user('#rank_1_user', '#response_1');});
    $('#rank_2_user').keyup(function(){search_user('#rank_2_user', '#response_2');});
    $('#rank_3_user').keyup(function(){search_user('#rank_3_user', '#response_3');});

    function search_user(input_id, response_id){
            var query = $(input_id).val();
            console.log(query);
            console.log(input_id, response_id);
            if (query.length > 2) {
                loading = 1;
                $(response_id).empty();
                $(response_id).append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_fields_for_campaign/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'result_type': '1'
                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        loading = 0;
                        $('#loading').hide();
                        $(response_id).empty();
                        if (data.data.length == 0) {
                            $(response_id).append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            $(response_id).append('<li onclick="addUserToField(\''+input_id+'\',\''+response_id+'\',\''+data.data[i].user.username+ '\',\''+data.data[i].id+'\', this)">'+data.data[i].user.username+'</li>');
                        }
                    }
                })
            } else {
                $(response_id).empty();
            }
    };

    function addUserToField(field, response_field, name, id, object){
        $(field).val('');
        $(response_field).empty();
        $(field).val(String(name));

        if(field=='#rank_1_user'){
            winner_1 = id;
        } else if(field=='#rank_2_user'){
            winner_2 = id;
        } else if(field=='#rank_3_user'){
            winner_3 = id;
        }
    }

    var video_1 = -1, video_2 = -1, video_3 = -1;
    $('#rank_1_video').keyup(function(){search_video('#rank_1_video', '#response_vid_1');});
    $('#rank_2_video').keyup(function(){search_video('#rank_2_video', '#response_vid_2');});
    $('#rank_3_video').keyup(function(){search_video('#rank_3_video', '#response_vid_3');});

    function search_video(input_id, response_id){
            var query = $(input_id).val();
            console.log(query);
            console.log(input_id, response_id);
            if (query.length > 2) {
                loading = 1;
                $(response_id).empty();
                $(response_id).append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_fields_for_campaign/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'result_type': '2'
                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        loading = 0;
                        $('#loading').hide();
                        $(response_id).empty();
                        if (data.data.length == 0) {
                            $(response_id).append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            let title = parseTitle(data.data[i].title.replace(/'/g, ''));

                            console.log(title);

                            let clickScript = '<li onclick="addVideoToField(\''+input_id+'\',\''+response_id+'\',\''+title+ '\',\''+data.data[i].id+'\', this)">'+title+'</li>';

                            $(response_id).append(clickScript);
                        }
                    }
                })
            } else {
                $(response_id).empty();
            }
    };

    function parseTitle(title) {
        let val = "";
        let elements = $.parseHTML(title);
        for(var b = 0; b < elements.length; b++) {
            if (elements[b].textContent.length) {
                console.log(elements[b].textContent);
                val += elements[b].textContent +" ";
            }
        }
        return val;
    }

    function parseDetails(details) {
        let val = "";
        let elements = $.parseHTML(details);
        for(var b = 0; b < elements.length; b++) {
            if (elements[b].textContent.length) {
                val += elements[b].textContent +"\n";
            }
        }
        return val;
    }

    function addVideoToField(field, response_field, name, id, object){
        $(field).val('');
        $(response_field).empty();
        $(field).val(String(name));

        if(field=='#rank_1_video'){
            video_1 = id;
        } else if(field=='#rank_2_video'){
            video_2 = id;
        } else if(field=='#rank_3_video'){
            video_3 = id;
        }
    }

    function addIdToField(hashtag, id, object) {
        $('#search_id').val('');
        $('#response').empty();

        hashtag_id = id
        $('#search_id').val(String(hashtag));
    }



</script>
<script>
    $(document).ready( function () {
        var expanded = false;
        $("#selectBox").click(function () {
          var checkboxes = document.getElementById("checkboxes");
          if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
          } else {
            checkboxes.style.display = "none";
            expanded = false;
          }
        })
        $("#lang_0").click(function () {
            if(!$('#lang_0').is(":checked")){
                $('#lang_0').prop('checked', false);
                 $("input[name='lang_options']:checkbox").prop('disabled', false);
            }
            else{
                $("input[name='lang_options']:checkbox").prop('checked',false);
                $("input[name='lang_options']:checkbox").prop('disabled', true);
                $('#lang_0').prop('checked', true);
                $('#lang_0').prop('disabled', false);
            }
        });
        $(".lang_options").click(function() {
            if($(this).val()!=0){
                $('#lang_0').prop('checked', false);
            }
        });
    });
</script>
{% endblock center_js %}
