{% extends "jarvis/layout/base.html" %}
{% load push_notification_tag %}
{% block content %}
<style>
    .filter_notification {
        padding: 10px;
    }
    #search_title_input {
        margin-left: 10px;
        margin-right: 10px;
        width: 400px;
    }
    .operation {
        margin-left: 5px;
        margin-right: 5px;
    }
    table {
        text-align:center;
    }
</style>
    <div class="row" style="padding: 10px;">
        <div class="col-md-12">
            <h4>Symbols </h4>
                * Installed but did not sign up till 3 hours <i class="fa fa-user-plus"></i> 3 hrs
                * Installed and never signed up <i class="fa fa-user-plus"></i> 
                * Signed up but never played a video <i class="fa fa-play"></i> 
                * Signed up but no opening of app since 24 hours <i class="fa fa-android"></i> 24 hrs 
                * Signed up but no opening of app since 72 hours <i class="fa fa-android"></i> 72 hrs 
                * Never created a video <i class="fa fa-video-camera" aria-hidden="true"></i> 
                * Re - Schedule <i class="fa fa-repeat" aria-hidden="true"></i>
                * Cancel <i class="fa fa-remove"></i>
                * Delete <i class="fa fa-trash" aria-hidden="true"></i> 
            <form method="POST">
                {% csrf_token %}
                
                <br/>
                <a href="/jarvis/send_notification/" class="btn btn-primary">Create New</a>
                <input type="text" name="title" placeholder="Search Title" class="btn" id="search_title_input" value="{{title}}"/>
                <button class="btn btn-info">Export CSV</button>
                <br/>
                <select name="lang" >
                    <option value="" disabled selected>Select Language</option>
                    {% for lang in language_options %}
                        <option value="{{ lang.0 }}" {% if language == lang.0 %}selected="selected"{% endif %}>{{ lang.1 }}</option>
                    {% endfor %}
                </select>
                <select name="notification_type">
                    <option value="" disabled selected>Notification Type</option>
                    {% for noti_type in notification_types %}
                        <option value="{{ noti_type.0 }}" {% if notification_type == noti_type.0 %}selected="selected"{% endif %}>{{ noti_type.1 }}</option>
                    {% endfor %}
                </select>
                <select name="user_group">
                    <option value="" disabled selected>Select User Group</option>
                    {% for user_group_option in user_group_options %}
                        <option value="{{ user_group_option.0 }}" {% if user_group == user_group_option.0 %}selected="selected"{% endif %}>{{ user_group_option.1 }}</option>
                    {% endfor %}
                </select>
                <select name="scheduled_status">
                    <option value="" disabled selected>Select Scheduled Status</option>
                    <option value="0" {% if scheduled_status == '0' %}selected="selected"{% endif %}>Sent</option>
                    <option value="1" {% if scheduled_status == '1' %}selected="selected"{% endif %}>Scheduled</option>
                </select>
                <button type="submit" class="btn btn-info">Filter</button>
            </form>
        </div>
        <div class="col-xs-12 table-responsive ">
            <table class="table table-striped nowrap" id="notification_table">
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>S / D / O</th>
                        <th>Open %</th>
                        <th>Language</th>
                        <th><i class="fa fa-users" aria-hidden="true"></i></th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pushNotification in pushNotifications %}
                        <tr style="{% if pushNotification.is_executed %} background-color: #90ee90; {% else  %} background-color: #ffffe0; {% endif %}">
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/jarvis/particular_notification/{{pushNotification.pk}}/2/1/0">{{ pushNotification.title }}</a></td>
                            <td style="color: {% if pushNotification.is_scheduled %} #b52828 {% else %} #1989cd {% endif %};">{{ pushNotification.scheduled_time|date:"M d, Y" }} <br/> {{ pushNotification.scheduled_time|date:"H:i" }} </td>
                            <td><a href="/jarvis/particular_notification/{{pushNotification.pk}}/2/1/0">{{ pushNotification.push_notification_id.all.count }} </a> / <a href="/jarvis/particular_notification/{{pushNotification.pk}}/0/1/0">{% get_user_delivered_notification pushNotification %} </a> / <a href="/jarvis/particular_notification/{{pushNotification.pk}}/1/1/0">{% get_user_opened_notification pushNotification %} </a></td>
                            <td>{% get_percentage pushNotification.push_notification_id.all.count pushNotification %}</td>
                            <td>{{ pushNotification.get_language_display }}</td>
                            <td>{% get_user_group_name pushNotification.user_group %}{% if pushNotification.days_ago %}<br/>{{ pushNotification.days_ago }} days ago{% endif %}</td>
                            <td>{% if pushNotification.category %}{{ pushNotification.category.title }}{% elif pushNotification.m2mcategory.all %}{% for each_cat in pushNotification.m2mcategory.all %}{{ each_cat.title }}<br/>{% endfor %}{% else %}All{% endif %}</td>
                            <td>{% if pushNotification.is_scheduled %}<a href="/jarvis/send_notification/?id={{pushNotification.pk}}" class="btn btn-primary operation"><i class="fa fa-pencil" aria-hidden="true"></i></a> <a class="btn btn-danger operation" href="/jarvis/remove_notification/?id={{pushNotification.pk}}"><i class="fa fa-times" aria-hidden="true"></i></a>{% else %}<a class="btn btn-success operation" href="/jarvis/send_notification/?id={{pushNotification.pk}}"><i class="fa fa-repeat" aria-hidden="true"></i></a><a class="btn btn-danger operation" href="/jarvis/remove_notification/?id={{pushNotification.pk}}"><i class="fa fa-trash" aria-hidden="true"></i></a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {% if page_no != '1' %}<a href="/jarvis/notification_panel/?page_no=1" >First</a> <a href="/jarvis/notification_panel/?page_no={{page_no|add:-1}}" >Prev</a>{% endif %} {{ page_no }} of {{ total_page }} pages {% if page_no|add:0 != total_page %}<a href="/jarvis/notification_panel/?page_no={{page_no|add:1}}" >Next</a> <a href="/jarvis/notification_panel/?page_no={{total_page}}" >Last</a>{% endif %}
            </div>
        </div>
    </div>
{% endblock content %} 
{% block center_js %}
<script>
    $(document).ready(function() {
    $('.search_title_input').keydown(function(event) {
        if (event.keyCode == 13) {
            this.form.submit();
            return false;
        }
    });
});
</script>
{% endblock center_js%}
