{% extends "jarvis/layout/base.html" %}
{% load push_notification_tag %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/wickedpicker@0.4.1/dist/wickedpicker.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
    .notification_container {
        padding: 5%;
    }
    html {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }
    form {
        background: white;
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 40vw;
    }
    form h2 {
        text-align: center;
    }
    form h3 {
        text-align: center;
        width: 80%;
        background: #d4edda;
        color: #155724;
        display: none;
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px 0px;
        border-radius: 5px;
    }
    form .form_group {
        margin: 20px 10%;
        width: 80%;
    }
    form .form_group select {
        width: 100%; 
        outline: none;
        font-size: 14px;
    }
    form .form_group img {
        display: none;
    }
    form .form_group input {
        width: 100%;
        font-size: 14px;
        padding: 4px;
        outline: none;
        border-radius: 4px;
    }
    form .form_group Button {
        display: block;
        background: #1989CD;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        color: white;
        margin: 0 auto;
        padding: 10px;
    }
    .ui-timepicker-container {
        z-index: 2000 !important;
    }
    ul {
        float:left;
        list-style: none;
        padding: 0px;
        border: 1px solid black;
        margin-top: 0px;
        width: 100%;
        max-height: 120px;
        display: block;
        overflow-y: scroll;
        background: white;
    }
    ul li {
        padding: 2px;
        cursor: pointer;
        border-bottom: 1px solid black;
    }
    #response li:hover{
        background: #1989CD;
        color: white;
    }
    #response_particular_user_id li:hover{
        background: #1989CD;
        color: white;
    }
    /* ::-webkit-scrollbar {
        -webkit-appearance: none;
         width: 2px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    } */

</style>
<div class="notification_container">
    <div class="alert alert-danger alert-dismissible" id="error_message" role="alert" style="display: none;">
       <span id="message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color:white">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="notification_form" method="POST">
        {% csrf_token %}
        <h2>App Push Notification</h2>
        <h4 style="text-align: center;">Enter id in case of Video Byte, User, Category, hash in case of hashtag, for Announcements leave blank</h4>
        <div class="form_group">
            <input type="text" name="upper_title" id="upper_title" placeholder="Notification Title" value="{{pushNotification.title}}" maxlength="50">
            <div style="text-align: right;"><span id="count_upper_title">0</span>/50</div>
        </div>
        <div class="form_group">
            <input type="text" name="title" id="title" placeholder="Notification Text" value="{{pushNotification.description}}" maxlength="120">
            <div style="text-align: right;"><span id="count_title">0</span>/120</div>
        </div>
        <div class="form_group row">
            <div class="col-md-6" style="padding: 0px;">
                <div>Select Language</div>
                <select name="lang" id="lang">
                    {% for lang in language_options %}
                        <option value="{{ lang.0 }}" {% if pushNotification.language == lang.0 %}selected="selected"{% endif %}>{{ lang.1 }}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="col-md-6" style="padding: 0px;">
                 <div>Select Category</div>
                <select name="category" id="category" >
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" >{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6" style="padding: 0px;margin-top:10px;">
                <div>Select Notification Type</div>
                <select name="notification_type" id="notification_type" onchange="clearResponse()">
                    {% for notification_type in notification_types %}
                        <option value="{{ notification_type.0 }}" {% if pushNotification.notification_type == notification_type.0 %}selected="selected"{% endif %}>{{ notification_type.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6" style="padding: 0px;margin-top:10px;">
                <div>Select User Group</div>
                <select name="user_group" id="user_group">
                    {% for user_group_option in user_group_options %}
                        <option value="{{ user_group_option.0 }}" {% if pushNotification.user_group == user_group_option.0 %}selected="selected"{% endif %}>{{ user_group_option.1 }}</option>
                    {% endfor %}
                </select>
        </div>
        </div>
         <div class="form_group">
            <input type="text" name="days_ago" placeholder="Days Ago" value="{{ pushNotification.days_ago }}" id="days_ago" style="{% if pushNotification.days_ago  %}display:block;{% else %}display:none;{% endif %}">
        </div> 
        <div class="form_group">
            <input type="text" name="particular_user_id" placeholder="Username" value="{{ pushNotification.particular_user_id }}" id="particular_user_id" style="{% if pushNotification.particular_user_id  %}display:block;{% else %}display:none;{% endif %}">
            <ul id="response_particular_user_id" style="display:none;">
            </ul>
            <div id="user_name"></div>
        </div>   
        <div class="form_group">
            <div class="alert alert-success alert-dismissible" id="success_message" role="alert" style="display: none; height: 30px;padding: 5px;">
                <span>Image Uploaded</span>
            </div>
        </div>
        <div class="form_group" id="loading_image" style="display: none;">
       	    Uploading Image Please Wait ...
        </div>
        <div class="form_group">
            <input type="file" name="image" id="image" accept='image/*'>
            <img src="{{ pushNotification.image_url }}" height="50px" width="50px" id="image_holder" style="{% if pushNotification.image_url  %}display:block;{% else %}display:none;{% endif %}"/>
        </div>  
        <div class="form_group">
            <input type="text" name="id" placeholder="Id/Hash" value="{{ pushNotification.instance_id }}" id="search_id">
            <ul id="response">
            </ul>
            <div id="video_user"></div>
        </div>    
        <input type="text" name="image_url" value="{{pushNotification.image_url}}" hidden id="image_url">
        <input type="text" name="schedule_status" value="0" hidden id="schedule_status">
        <div class="form_group">
            <img src="https://www.careeranna.com/uploads/loading.gif" height="40" width="40" id="loader_image">
        </div>
        <div class="form_group row" id="date_picker" style="display:none;">
            <div class="col-md-6" style="padding: 0px;">
                Date : <input type="text" id="datepicker" name="datepicker"/>
            </div>
            <div class="col-md-6"  style="padding: 0px;">
                Time: <input type="text" id="timepicker" name="timepicker"/>
            </div>
        </div>
        <div class="form_group">
            <button type="submit" style="display: inline;width: 45%;">Send Now</button>
            <button type="button" style="display: inline;width: 45%;margin-left: 9%;" onclick="schedule_notification()" id="schedule">Schedule</button>
        </div>
    </form>
</div>
{% endblock content %} 
{% block center_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wickedpicker@0.4.1/dist/wickedpicker.min.js"></script>
<script>
    var loading = 0;
    $(document).ready(function() {
        $('#search_id').keyup(function(){
            var query = $('#search_id').val();
            var notification_type = $('#notification_type').val();
            
            if (query.length > 2 && loading == 0) {
                loading = 1;
                $('#response').empty();
                $('#response').append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_notification/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'notification_type': notification_type

                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        loading = 0;
                        $('#loading').hide();
                        $('#response').empty();
                        if (data.data.length == 0) {
                            $('#response').append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            if(notification_type == '2' || notification_type == '0') {
                                $('#response').append('<li onclick="addIdToField('+data.data[i].id+', \''+data.data[i].title.replace(/<(.|\n)*?>/g, '')+'\')">'+data.data[i].title+'</li>');
                            } else if(notification_type == '1') {
                                if (data.data[i].name == '') {
                                    $('#response').append('<li onclick="addIdToField('+data.data[i].user+', \'User Name - '+data.data[i].user_name+'\')">'+data.data[i].user_name+'</li>');
                                } else {
                                    $('#response').append('<li onclick="addIdToField('+data.data[i].user+', \'User Name - '+data.data[i].name+'\')">'+data.data[i].name+'</li>');
                                }
                            } else if(notification_type == '3') {
                                $('#response').append('<li onclick="addIdToField(\''+data.data[i].hash_tag+'\')">'+data.data[i].hash_tag+'</li>');
                            } 
                        }
                    }
                })
            } else {
                $('#response').empty();
            }
        })
        $('#upper_title').keyup(function(){
            var length = $('#upper_title').val().length;
            $('#count_upper_title').text(length);
        });
        $('#title').keyup(function(){
            var length = $('#title').val().length;
            $('#count_title').text(length);
        });
        $('#particular_user_id').keyup(function(){
            var query = $('#particular_user_id').val();
            
            if (query.length > 2 && loading == 0) {
                loading = 1;
                $('#response_particular_user_id').empty();
                $('#response_particular_user_id').append('<li id="loading">Loading ...</li>');
                $.ajax({
                    url: '/jarvis/search_notification/',
                    method: 'POST',
                    data: JSON.stringify({
                        'query': query,
                        'notification_type': '1'

                    }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) {
                        console.log(data)
                        loading = 0;
                        $('#loading').hide();
                        $('#response_particular_user_id').empty();
                        if (data.data.length == 0) {
                            $('#response_particular_user_id').append('<li id="no_result">No results found ...</li>');
                        }
                        for(var i=0;i<data.data.length;i++) {
                            if (data.data[i].name == '') {
                                $('#response_particular_user_id').append('<li onclick="addIdToFieldUser('+data.data[i].user+', \''+data.data[i].user_name+'\')">'+data.data[i].user_name+'</li>');
                            } else {
                                $('#response_particular_user_id').append('<li onclick="addIdToFieldUser('+data.data[i].user+', \''+data.data[i].name+'\')">'+data.data[i].name+'</li>');
                            }
                        }
                    }
                })
            } else {
                $('#response_particular_user_id').empty();
            }
        })
        $("#user_group").change(function () {
            var end = this.value;
            if (end == '8') {
                console.log($("#particular_user_id"));
                $("#particular_user_id").show();
                $('#response_particular_user_id').show();
                $('#user_name').show();
                $("#days_ago").hide();
                $("#days_ago").val('');
            } else if (end == '9' || end == '10') {
                console.log($("#days_ago"));
                $("#days_ago").show();
                $("#particular_user_id").hide();
                $('#response_particular_user_id').hide();
                $('#user_name').hide();
            } else {
                $("#days_ago").hide();
                $("#days_ago").val('');
                $("#particular_user_id").val('');
                $("#particular_user_id").hide();
                $('#response_particular_user_id').hide();
                $('#user_name').hide();
            }
        });
        $("#notification_type").change(function () {
            var end = this.value;
            if (end == '0') {
                $('#search_id').attr("placeholder", "Enter Video Byte Title / Video Byte Id");
                $('#video_user').text('');
            } else if (end == '1') {
                $('#search_id').attr("placeholder", "Enter Username / Mobile No / Name / User Id");
                $('#video_user').text('');
            } else if (end == '2' ){
                $('#search_id').attr("placeholder", "Enter Category Name / Category Id");
                $('#video_user').text('');
            } else if (end == '3' ){
                $('#search_id').attr("placeholder", "Enter Hashtag");
                $('#video_user').text('');
            } else {
                $('#search_id').attr("placeholder", "Enter Playstore url in case of sending app update.");
                $('#video_user').text('');
            }
        });
        $("#image").change(function() {
            $('#loading_image').show();
            var formData = new FormData();
            formData.append('file', document.querySelector('#image').files[0])
            $.ajax({
                    url: '/jarvis/upload_image_notification/',
                    method: 'POST',
                    data:  formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        console.log(data)
                        $('#loading_image').hide();
                        $('#success_message').show();
                        $('#image_url').val(data.data);
                        $('#image_holder').show();
                        $('#image_holder').attr('src', data.data);
                        setTimeout(function hide() {
                            $('#success_message').hide();
                        }, 3000);
                    }
            })
        })
    })
    $(function() {
        $("#datepicker").datepicker({ minDate: 0});
        var today = new Date();
        $('#timepicker').wickedpicker({twentyFour: true});
        // $('input#timepicker').timepicker({
        //     timeFormat: 'HH:mm',
        //     interval: 60,
        //     startTime: today.getHours() + ':' + today.getMinutes(),
        //     dynamic: false,
        //     dropdown: true,
        //     scrollbar: true
        // });
    });

    function schedule_notification() {
        var schedule = $('#schedule').text();
        if(schedule == 'Schedule') {
            $('#date_picker').show();
            $('#schedule').text('Save')
        } else {
            var date = $('#datepicker').val()
            var time = $('#timepicker').val()
            if (date == '') {
                $('#error_message').show()
                $('#message').text('Please Select Date')
            } else if (time == '') {
                $('#error_message').show()
                $('#message').text('Please Select Time')
            } else {
                $('#error_message').hide()
                $('#schedule_status').val('1')
                $('#notification_form').submit();
            }
        }
    }

    $('#notification_form').submit(function(){

        $('#error_message').hide()
        var upper_title = $('#upper_title').val()
        var title =  $('#title').val()
        var category = $('#category').val()
        var lang =  $('#lang :selected').text()
        var notification_type = $('#notification_type :selected').text()
        var user_group = $('#user_group :selected').text()
        id = $('#search_id').val();
        var particular_user_id = $('#particular_user_id').val()

        if (particular_user_id != '') {
	        $('#lang').val('0');
            lang = '0';
        }

        console.log(id)

    	if (((user_group == 'Installed but did not sign up till 3 hours') || (user_group == 'Installed and never signed up')) && lang == 'Select Language') {
            $('#lang').val('0');
            lang = '0';
    	}
 
        if (upper_title  == '') {
            $('#error_message').show()
            $('#message').text('Please Enter Title')
            return false;
        } else if (title  =='') {
            $('#error_message').show()
            $('#message').text('Please Enter Description')
            return false;
        } else if (notification_type != 'Announcements') {
            if (id == '') {
                $('#error_message').show();
                $('#message').text('Please Enter Id / Hash');
                return false;
            }
            if (notification_type != 'hashtag') {
                if (isNaN(id)) {
                    $('#error_message').show();
                    $('#message').text('Please Enter Id');
                    return false;
                }
            }
        }

    });

    function addIdToField(id, title) {
        clearResponse();
        $('#search_id').val(String(id));
        var notification_type = $('#notification_type').val();
        if(notification_type == '2') {
            $('#video_user').text('Category Title - ' +title);   
        } else if(notification_type == '0'){
            $('#video_user').text('Video Title - ' +title);   
        } else {
            $('#video_user').text(title);   
        }
    }

    function addIdToFieldUser(id, title) {
        $('#particular_user_id').val('');
        $('#response_particular_user_id').empty();
        $('#particular_user_id').val(String(id));
        console.log(title)
        $('#user_name').text('User Name - ' + title);
    }

    function clearResponse() {
        $('#search_id').val('');
        $('#response').empty();
    }

</script>
{% endblock center_js%}
