{% extends "jarvis/layout/base.html" %}
{% block content %}

<style>
    .notification_container {
        padding: 10%;
    }
    form {
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 40vw;
    }
    form h2 {
        text-align: center;
    }
    form h3 {
        text-align: center;
        width: 80%;
        background: #d4edda;
        color: #155724;
        display: none;
        margin-left: 10%;
        margin-right: 10%;
        padding: 10px 0px;
        border-radius: 5px;
    }
    form .form_group {
        margin: 20px 10%;
        width: 80%;
    }
    form .form_group select {
        width: 100%; 
        outline: none;
        font-size: 14px;
    }
    form .form_group img {
        display: none;
    }
    form .form_group input {
        width: 100%;
        font-size: 14px;
        padding: 4px;
        outline: none;
        border-radius: 4px;
    }
    form .form_group Button {
        display: block;
        background: #1989CD;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        color: white;
        margin: 0 auto;
        padding: 10px;
    }
</style>
<div class="notification_container">
    <form id="notification_form" method="POST">
        {% csrf_token %}
        <h2>App Push Notification</h2>
        <h3 id="notification_sent">Push Notification Sent To Users!</h3>
        <div class="form_group">
            <input type="text" name="upper_title" placeholder="Notification Title">
        </div>
        <div class="form_group">
            <input type="text" name="title" placeholder="Notification Text">
        </div>
        <div class="form_group">
            <select name="lang">
                <option value="" disabled selected>Select Language</option>
                {% for lang in language_options %}
                    <option value="{{ lang.0 }}" >{{ lang.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_group">
            <select name="user_group">
                <option value="" disabled selected>Select User Group</option>
                {% for user_group_option in user_group_options %}
                    <option value="{{ user_group_option.0 }}" >{{ user_group_option.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_group">
            <input type="text" name="id" placeholder="Id">
        </div>    
        <div class="form_group">
            <img src="https://www.careeranna.com/uploads/loading.gif" height="40" width="40" id="loader_image">
        </div>
        <div class="form_group row">
            <button type="submit" style="float:left;width: 45%;">Send Now</button>
            <button type="submit" style="float: right;width: 45%;">Schedule</button>
        </div>
    </form>
</div>
{% endblock content %} 
{% block center_js %}

{% endblock center_js%}