<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ user.st.profile_pic }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ user.username }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>

        <li class="{% if request.path in '/jarvis/get_accepted_kyc_user_list/,/jarvis/get_submitted_kyc_user_list/,/jarvis/get_pending_kyc_user_list/,/jarvis/get_kyc_user_list/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>User KYC</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/get_accepted_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_accepted_kyc_user_list/"><i class="fa fa-circle-o"></i>Accpeted KYC's</a></li>
            <li class="{% if request.path in '/jarvis/get_submitted_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_submitted_kyc_user_list/"><i class="fa fa-circle-o"></i>Submitted KYC's</a></li>
            <li class="{% if request.path in '/jarvis/get_pending_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_pending_kyc_user_list/"><i class="fa fa-circle-o"></i>Pending KYC's</a></li>
            <li class="{% if request.path in '/jarvis/get_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_kyc_user_list/"><i class="fa fa-laptop"></i> <span>All KYC</span></a></li>
          </ul>
        </li>


        <li class="{% if request.path in '/jarvis/get_encashable_detail/'%}active{% endif %}"><a href="/jarvis/get_encashable_detail/"><i class="fa fa-pie-chart"></i> <span>Show Encash Records</span></a></li>
        <li class="{% if request.path in '/jarvis/uploadvideofile/,/jarvis/uploaded_list/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Video File Upload</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/uploadvideofile/'%}active{% endif %}"><a href="/jarvis/uploadvideofile/"><i class="fa fa-circle-o"></i> Uplaod N Transcode</a></li>
            <li class="{% if request.path in '/jarvis/uploaded_list/'%}active{% endif %}"><a href="/jarvis/uploaded_list/"><i class="fa fa-circle-o"></i> Uploaded List</a></li>
          </ul>
        </li>
        <li class="{% if request.path in '/jarvis/importcsv/'%}active{% endif %}"><a href="/jarvis/importcsv/"><i class="fa fa-th"></i> <span>Upload Instagram CSV</span></a></li>
        <li class="{% if request.path in '/jarvis/management/video/'%}active{% endif %}"><a href="/jarvis/management/video/"><i class="fa fa-th"></i> <span>Video Management</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>