{% load jarvis_tag %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!--<img src="{{ user.st.profile_pic }}" class="img-circle" alt="User Image">-->
        </div>
        <div class="pull-left info">
          <p>{{ user.username }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        {% if user|is_user_in_group:"moderator" %}
        <li class=" treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i> <span>Statistics</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <!--<li class=""><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          -->
            <li class="{% if request.path in '/jarvis/user_statistics/'%}active{% endif %}"><a href="/jarvis/user_statistics/"><i class="fa fa-pie-chart"></i> <span>User Statistics</span></a></li>
            <li class="{% if request.path in '/jarvis/video_statistics/'%}active{% endif %}"><a href="/jarvis/video_statistics/"><i class="fa fa-pie-chart"></i> <span>Video Statistics</span></a></li>
            <li class="{% if request.path in '/jarvis/statistics/all/'%}active{% endif %}"><a href="/jarvis/statistics/all/"><i class="fa fa-pie-chart"></i> <span>Overall</span></a></li>
          </ul>
        </li>

        <li class="{% if request.path in '/jarvis/get_accepted_kyc_user_list/,/jarvis/get_submitted_kyc_user_list/,/jarvis/get_pending_kyc_user_list/,/jarvis/get_kyc_user_list/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>User KYC</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/get_accepted_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_accepted_kyc_user_list/"><i class="fa fa-circle-o"></i>Accpeted KYC's</a></li>
            <!--<li class="{% if request.path in '/jarvis/get_submitted_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_submitted_kyc_user_list/"><i class="fa fa-circle-o"></i>Submitted KYC's</a></li>
            <li class="{% if request.path in '/jarvis/get_pending_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_pending_kyc_user_list/"><i class="fa fa-circle-o"></i>Pending KYC's</a></li>
            <li class="{% if request.path in '/jarvis/get_kyc_user_list/'%}active{% endif %}"><a href="/jarvis/get_kyc_user_list/"><i class="fa fa-circle-o"></i> <span>All KYC</span></a></li>-->
            
          </ul>
        </li>
        {% endif %}


        <!--<li class="{% if request.path in '/jarvis/get_encashable_detail/'%}active{% endif %}"><a href="/jarvis/get_encashable_detail/"><i class="fa fa-pie-chart"></i> <span>Show Encash Records</span></a></li> -->
        {% if user|is_user_in_group:"moderator" or user|is_user_in_group:"video_uploader" %}
        <li class="{% if request.path in '/jarvis/uploadvideofile/,/jarvis/uploaded_list/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>CAnna Video Upload</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/uploadvideofile/'%}active{% endif %}"><a href="/jarvis/uploadvideofile/"><i class="fa fa-circle-o"></i>CAnna Upload n Transcode</a></li>
            <li class="{% if request.path in '/jarvis/uploaded_list/'%}active{% endif %}"><a href="/jarvis/uploaded_list/"><i class="fa fa-share"></i>CAnna Uploaded List</a></li>
          </ul>
        </li>
        <li class="{% if request.path in '/jarvis/boloindya_uploadvideofile/,/jarvis/boloindya_uploaded_list/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Boloindya Video Upload</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/boloindya_uploadvideofile/'%}active{% endif %}"><a href="/jarvis/boloindya_uploadvideofile/"><i class="fa fa-circle-o"></i>Boloindya Upload n Transcode</a></li>
            <li class="{% if request.path in '/jarvis/boloindya_uploaded_list/'%}active{% endif %}"><a href="/jarvis/boloindya_uploaded_list/"><i class="fa fa-share"></i>Boloindya Uploaded List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <!--<li class="{% if request.path in '/jarvis/importcsv/'%}active{% endif %}"><a href="/jarvis/importcsv/"><i class="fa fa-th"></i> <span>Upload Instagram CSV</span></a></li>-->
        <li class="{% if request.path in '/jarvis/notification_panel/'%}active{% endif %}"><a href="/jarvis/notification_panel/"><i class="fa fa-bell-o"></i> <span>Notification Panel</span></a></li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/management/video/'%}active{% endif %}"><a href="/jarvis/management/video/"><i class="fa fa-edit"></i> <span>Video Management</span></a></li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/get_user_pay_details/'%}active{% endif %}"><a href="/jarvis/get_user_pay_details/"><i class="fa fa-money"></i> <span>User Payment</span></a></li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/management/user/'%}active{% endif %}"><a href="/jarvis/management/user/"><i class="fa fa-users"></i> <span>User Management</span></a></li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/referral/'%}active{% endif %}"><a href="/jarvis/referral/"><i class="fa fa-envelope"></i> <span>Referrals</span></a></li>
        <li class="{% if request.path in '/jarvis/get_active_reports/,/jarvis/get_moderated_reports/'%}active{% endif %} treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if request.path in '/jarvis/get_active_reports/'%}active{% endif %}"><a href="/jarvis/get_active_reports/"><i class="fa fa-circle-o"></i>Active Reports</a></li>
            <li class="{% if request.path in '/jarvis/get_moderated_reports/'%}active{% endif %}"><a href="/jarvis/get_moderated_reports/"><i class="fa fa-share"></i>Moderated Reports</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/upload_audio_file/'%}active{% endif %}"><a href="/jarvis/upload_audio_file/"><i class="fa fa-file-audio-o"></i> <span>Audio Management</span></a></li>
        {% endif %}
        {% if user|is_user_in_group:"moderator" %}
        <li class="{% if request.path in '/jarvis/campaigns_panel/'%}active{% endif %}"><a href="/jarvis/campaigns_panel/"><i class="fa fa-flag"></i> <span>Campaigns</span></a></li>
        {% endif %}
      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>
