{% extends "payment/base.html" %}

{% load static %}

{% block center_content %}


<div class="row">
    <div class="col-sm-12"  style="margin-left: 10px">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Top Users</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-6">
                        <select name="month">
                            {% for month in all_month %}
                                <option value="{{ month.value }}">{{ month.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="topUserTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include "payment/partner/components/pay_modal.html" %}
{% endblock center_content %}


{% block local_js %}
<script type="text/javascript">

var MyHTMLField = function(config) {
    jsGrid.Field.call(this, config);
};
 
MyHTMLField.prototype = new jsGrid.Field({
 
    css: "html-field",            // redefine general property 'css'
    align: "center",              // redefine general property 'align'
 
    itemTemplate: function(value) {
        let data;
        $.each(this._grid.data, function(i, _info){
            if(value == _info.id){
                data = _info;
                return false;
            }
        })
        return `
            <button class="btn btn-primary pay" data-target="#modal-pay-creator" 
                    data-toggle="modal" data-id="${ data.id }" data-paytm_number="${ data.paytm_number }"
                    data-user_id="${ data.boloindya_id }">
                Pay
            </button>`;
    },
 
 
});
 
jsGrid.fields.html = MyHTMLField;

$("#topUserTable").jsGrid({
    width: "100%",
    height: "600px",

    inserting: false,
    editing: false,
    sorting: true,
    paging: true,
    pageLoading: true,
    autoload: true,
    fields: [
        { title: "Month", name: "agg_month", type: "text", width: 90 },
        { title: "Name", name: "name", type: "text", width: 90 },
        { title: "BI ID", name: "boloindya_id", type: "number", width: 50 },
        { title: "Video Count", name: "video_count", type: "number", width: 75 },
        { title: "Follower Count", name: "follower_count", type: "number", width: 50 },
        { title: "Playtime", name: "playtime", type: "number", width: 50 },
        { title: "View Count", name: "view_count", type: "number", width: 50 },
        { title: "Action", name: "id", type: "html", width: 50},
    ],
    controller: {
        loadData: function(filter) {
            console.log("------ loadData ", filter)
            filter['page'] = filter['pageIndex']
            filter['selectedMonth'] = $('[name=month]').val();

            let q = $('[name="q"]').val()
            if(q)
                filter['q'] = q

            return $.ajax({
                type: "GET",
                url: "/api/v1/payment/top-user",
                data: filter
            });
        },
    }
});

let grid = $("#topUserTable").data("JSGrid");

$('[name=month]').change(function(){
    grid.reset()
});

$('#search-btn').click(function(){
    grid.reset()
})

$(document).on('click', '.pay', function(){
    let paymentForm = $('#paymentForm');
    paymentForm.find("[name=user_id]").val($(this).attr('data-user_id'))
    paymentForm.find("[name=paytm_number]").val($this.attr('data-paytm_number'))
    
});


$(document).on('click', '#pay_beneficiary', function(){
    let that = this;
    let data = $('#paymentForm').serializeArray()
    let formData = {}
    $.each(data, (i, item) => {formData[item.name] = item.value})

    $.ajax('/api/v1/payment/pay', {
        method: 'POST',
        data: formData,
        success: function(response){
            Swal.fire(
                'Success!',
                'Payment done successfully!',
                'success'
            )
        }
    })
});



</script>
{% endblock local_js %}