{% load i18n %}
<div class="grp-module">
    <div class="grp-row" >
        <label>{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}</label>
        <div style="max-height: 150px; overflow-y: scroll">
            {% for choice in choices %}
                <div>
                    <input type="checkbox" name="category" id="category" value="{{ choice.query_string|iriencode }}" {% if choice.selected %} checked='checked'{% endif %}>{{ choice.display }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>