{% load i18n %}
<div class="grp-module">
    <div class="grp-row">
        <label>{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}</label>
        <select class="grp-multi-choice" multiple id="language" onchange="languageChanged(this)">
            {% for choice in choices %}{{ choice }}<option value="{{ choice.query_string|iriencode }}"{% if choice.selected %} selected='selected'{% endif %}>{{ choice.display }}</option>{% endfor %}
        </select>
        <input type="hidden" name="language">
    </div>
</div>

<script type="text/javascript">
    languageChanged = function(obj){
        let params = [];
        console.log("fid", jQuery(obj).attr('fid'))
        jQuery.each(jQuery(obj).val(), function(i, val){
            jQuery.each(val.replace("?", "").split('&'), function(i, param){
                let k, v;
                [k, v] = param.split("=")
                if(k == "language")
                    params.push(v)
            })
        })
        jQuery('[name="language"]').val("" + params.join(","))
    };
    
</script>