{% extends "advertisement/base.html" %}
{% block styles %}
<style>
    #overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#response li:hover{
    background: #1989CD;
    color: white;
}
ul {
    float:left;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    max-height: 120px;
    display: block;
    overflow-y: scroll;
    background: white;
}
ul li {
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.percentcomplete{
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    transform: translate(-50%,-50%);
}
.video_elements{
    display: none;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
</style>
{% endblock styles %}
{% block content %}

<section class="content">
    <form id="upload" action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Brand Name: </label>
            <div class="col-md-8">
                <input type="text" name="brand_name" placeholder="Search Brand Name" id="search_id" required>
                <ul id="response">
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Ad Category:</label>
            <div class="col-md-8">
                <select name="ad_type" required>
                    <option value="" disabled selected>Select Ad Category</option>
                    {% for category in ad_type_options %}
                        <option value="{{ category.id }}">{{category.value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Video Options:</label>
            <input type="radio" id="upload_radio_btn" name="toggler" value="upload" checked>
            <label >Upload</label>&nbsp;&nbsp;&nbsp;
            <input type="radio" id="link_radio_btn" name="toggler" value="link">
            <label >link</label>
        </div>
        <div class="form-group toHide" id="blk-upload">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Ad Video: </label>
            <div class="col-md-8">
                <input type="file" name="video_file" id="video_file" class="form-control">
            </div>
        </div>
        <div class="form-group toHide" id="blk-link" style="display:none">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Video Link:</label>
            <div class="col-md-8">
                <input type="text" name="video_file_link" placeholder="Enter Video Link" id="video_file_link">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">CTA 1:</label>
            <div class="multiselect col-md-8">
                <div class="selectBox" onclick="showCheckboxes()">
                  <select>
                    <option>Select an option</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                    {% for cta in cta_options %}
                        <label for="one">
                        <input name="cta_type_1" type="checkbox" id="{{cta.id}}_cta" value={{cta.id}} />{{cta.value}}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">CTA 2:</label>
            <div class="col-md-8">
                <select name="cta_type_2" required>
                    <option value="" disabled selected>Select CTA</option>
                    <option value="skip"> Skip</option>
                </select>
            </div>
        </div>
        <div class="form-group toHidePlaystoreLink" id="blk-link-playstore" style="display: none;">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">PlayStore Link:</label>
            <div class="col-md-8">
                <input type="text" name="playstore_link" placeholder="Enter Playstore Link" id="playstore_link">
            </div>
        </div>
        <div class="form-group toHideWebsiteLink" id="blk-link-website" style="display: none;">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Website Link:</label>
            <div class="col-md-8">
                <input type="text" name="website_link" placeholder="Enter Website Link" id="website_link">
            </div>
        </div>
        <div class="form-group toHideProduct" id="blk-link-product" style="display: none;">
            <div class="row">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Product Name: </label>
                <div class="col-md-2">
                    <input type="text" name="product_name" placeholder="Enter Product Name" id="search_id_product" required>
                    <ul id="response_product">
                    </ul>
                </div>
                <div class="col-md-3">
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">MRP: </label>
                    <input type="text" name="mrp" placeholder="Enter MRP" id="mrp" disabled>
                </div>
                <div class="col-md-4">
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Description: </label>
                    <input type="text" name="description" placeholder="Enter Description" id="description" disabled>
                </div>
            </div>
            
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Product Discount: </label>
                <input type="text" name="discount" placeholder="Enter Discount" id="discount">  
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Start Date: </label>
            <div class="col-md-8">
                <input type="text" id="start_date" name="start_date" placeholder="Start Date" class="filter_text" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">End Date: </label>
            <div class="col-md-3">
                <input type="text" id="end_date" name="end_date" placeholder="End Date" class="filter_text">
            </div>
            <div class="form-group">
                <label for="name" class="col-md-1 col-sm-3 col-xs-12 control-label">No End Date:</label>
                <div class="col-md-1">
                    <input type="checkbox" id="popup_end_date_checkbox" name="popup_end_date_checkbox">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Frequency:</label>
            <input type="radio" id="upload_radio_btn" name="toggler_frequency" value="constant" checked>
            <label >Constant</label>&nbsp;&nbsp;&nbsp;
            <input type="radio" id="link_radio_btn" name="toggler_frequency" value="variable">
            <label >Variable</label>
        </div>
        <div class="form-group toHideFrequency" id="blk-constant">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Every: </label>
            <div class="col-md-8">
                <input type="text" name="scrolls" placeholder="Enter scroll" id="scrolls">
            </div>
        </div>
        <div class="form-group toHideFrequency" id="blk-variable"  style="display: none;">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <div class="after-add-more form-group product_details">                               
                <div class="form-group">
                    <label for="name" id="dynamic_freq_lable" class="col-md-3 col-sm-3 col-xs-12 control-label">1st time after: </label>
                    <div class="col-md-4">
                        <input type="text" name="scrolls" placeholder="Enter scroll" id="scrolls">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group change">
                            <a class="btn btn-success add-more">+ Add More Frequency</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group video_elements">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Bucket</label>
            <div class="col-md-8">
                <select name="bucket_name" id="bucket_name" required="True" class="form-control">
                    <option value="in-boloindya" selected>Boloindya Prod</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button id="save" type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-floppy-save" style="margin-right:5px"></span>Save as Draft</button>
            </div>
            <div class="col-md-0 col-sm-1 col-xs-12" style="margin-bottom:10px;">
                <button id="create" type="submit" class="btn btn-primary submit_from_button"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Save & Publish</button>
            </div>
        </div>
    </form>
    <div id="overlay">
        <div class="text"><br>
            <br><span style="font-size:50px;" class="percentcomplete"></span></div>
    </div>
    <div id="csv_table">
    </div>
</section>
{% endblock content %}
{% block center_js %}



<script>
    $(document).ready(function() {
        var frequnecy = 1;
    $("body").on("click",".add-more",function(){ 
        frequnecy = frequnecy+1
        var freq_time = ordinal_suffix_of(frequnecy)
        var dynamic_freq_text = freq_time + "time after"
        var html = $(".after-add-more").first().clone();
        $(html).find("input").val('');
        $(html).find(".change").html("<label for=''>&nbsp;</label><br/><a class='btn btn-danger remove'>- Remove Frequency</a>");
        $(html).find("#dynamic_freq_lable").empty();
        $(html).find("#dynamic_freq_lable").append(dynamic_freq_text);
        $(".after-add-more").last().after(html);
    });
    $("body").on("click",".remove",function(){ 
        $(this).parents(".after-add-more").remove();
    });


    $("body").on("click",".add-more-cta",function(){ 
        var html = $(".after-add-more-cta").first().clone();
        $(html).find("input").val('');
        $(html).find(".change-cta").html("<label for=''>&nbsp;</label><br/><a class='btn btn-danger remove-cta'>- Remove CTA</a>");
        $(".after-add-more-cta").last().after(html);
    });
    $("body").on("click",".remove-cta",function(){ 
        $(this).parents(".after-add-more-cta").remove();
    });

    $(function() {
    $("[name=toggler]").click(function(){
        $('.toHide').hide();
        // [].forEach.call(document.querySelectorAll('#video_file'), function(el) {
        //     el.value = '';
        // });
        $('#video_file').val('')
        $('#video_file_link').val('')
        $("#blk-"+$(this).val()).show();
    });
    $("[name=toggler_frequency]").click(function(){
        $('.toHideFrequency').hide();
        [].forEach.call(document.querySelectorAll('#scrolls'), function(el) {
            el.value = '';
        });
        $("#blk-"+$(this).val()).show();
    });
    $(function() {
        $("#start_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });
    $(function() {
        $("#end_date").
            datepicker({
                format: "dd-mm-yyyy"
            });
    });
 });
});

var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
$('#install_now_cta').change(function(){
    if($(this).is(':checked')){
        $('#blk-link-playstore').show();
    } else {
        $('#blk-link-playstore').hide();
    }
});
$('#learn_more_cta').change(function(){
    if($(this).is(':checked')){
       $('#blk-link-website').show();
    } else {
        $('#blk-link-website').hide();
    }
});
$('#shop_now_cta').change(function(){
    if($(this).is(':checked')){
       $('#blk-link-product').show();
    } else {
        $('#blk-link-product').hide();
    }
});
$(function () {
    $("#popup_end_date_checkbox").click(function () {
        if ($(this).is(":checked")) {
            $("#end_date").prop("disabled", true);
        } else {
            $("#end_date").prop("disabled", false);
        }
    });
});
function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}

var loading = 0;
$('#search_id').keyup(function(){
        var query = $('#search_id').val();
        
        if (query.length > 2 && loading == 0) {
            loading = 1;
            $('#response').empty();
            $('#response').append('<li id="loading">Loading ...</li>');
            var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: '/ad/search_fields_for_ad/',
                method: 'POST',
                data: JSON.stringify({
                    'query': query,
                    'result_type': '0'
                }),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                dataType: "json",
                contentType: 'application/json',
                success: function(data) {
                    loading = 0;
                    $('#loading').hide();
                    $('#response').empty();
                    if (data.data.length == 0) {
                        $('#response').append('<li id="no_result">No results found ...</li>');
                    }
                    for(var i=0;i<data.data.length;i++) {
                        $('#response').append('<li onclick="addIdToField(\''+data.data[i].name+'\', \''+data.data[i].id+'\', this)">'+data.data[i].name+'</li>');
                    }
                }
            })
        } else {
            $('#response').empty();
        }
})

function addIdToField(brand_name, id, title) {
    clearResponse();
    brand_id = id
    $('#search_id').val(String(brand_name));
}

function clearResponse() {
    $('#search_id').val('');
    $('#response').empty();
}

var loading = 0;
$('#search_id_product').keyup(function(){
        var query = $('#search_id_product').val();
        
        if (query.length > 2 && loading == 0) {
            loading = 1;
            $('#response_product').empty();
            $('#response_product').append('<li id="loading">Loading ...</li>');
            var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: '/ad/search_fields_for_ad/',
                method: 'POST',
                data: JSON.stringify({
                    'query': query,
                    'result_type': '1'
                }),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                dataType: "json",
                contentType: 'application/json',
                success: function(data) {
                    loading = 0;
                    $('#loading').hide();
                    $('#response_product').empty();
                    if (data.data.length == 0) {
                        $('#response_product').append('<li id="no_result">No results found ...</li>');
                    }
                    console.log(data)
                    for(var i=0;i<data.data.length;i++) {
                        $('#response_product').append('<li onclick="addIdToFieldProduct(\''+data.data[i].name+'\', \''+data.data[i].id+'\',\''+data.data[i].mrp+'\',\''+data.data[i].description+'\')">'+data.data[i].name+'</li>');
                    }
                }
            })
        } else {
            $('#response_product').empty();
        }
})

function addIdToFieldProduct(product_name, id, mrp, description) {
    clearResponseProduct();
    product_id = id
    $('#mrp').val(mrp)
    $('#description').val(description)
    $('#search_id_product').val(String(product_name));
}

function clearResponseProduct() {
    $('#search_id_product').val('');
    $('#response_product').empty();
}

$('select').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
});

$(function() {
        $("#start_date").
            datepicker({
                format: "dd-mm-yyyy",
                startDate: new Date()
            }).on("changeDate", function (selected) {
                var minDate = new Date(selected.date.valueOf());
                $("#end_date").datepicker('setStartDate', minDate);
            }); 
    });
    $(function() {
        $("#end_date").
            datepicker({
                format: "dd-mm-yyyy",
                startDate: new Date()
            }).on('changeDate', function (selected) {
            var maxDate = new Date(selected.date.valueOf());
            $('#start_date').datepicker('setEndDate', maxDate);
        });
    });

var brand_id=-1
var product_id=-1
function upload(event) {

    
    if(!$('#search_id').val() || brand_id == -1){
        alert("Invalid or empty brand name");
        return false;
    }

    if ($('#shop_now_cta').is(':checked')){
        if(!$('#search_id_product').val() || product_id == -1){
            alert("Invalid or empty product name");
            return false;
        }
    }

    if ($('.submit_from_button').hasClass("opened")) {
        return false;
    } else {
        $('.submit_from_button').addClass("opened");
        event.preventDefault();
        $('#overlay').show();
        var data = new FormData($('#upload').get(0));
        data.append('brand_id', brand_id);
        data.append('product_id', product_id);
        if ($('#three-cta').is(':checked')){
            data.append('mrp',$('#mrp').val())
        }
        if (event.data.is_draft){
            data.append('is_draft',true);
        }
        else{
            data.append('is_draft',false);
        }
        console.log(data)
        var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %');
                        if (percentComplete === 1) {
                            $('.percentcomplete').text('Processing');
                        }
                    }
                }, false);
                xhr.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('.percentcomplete').text((percentComplete * 100).toPrecision(4) + ' %')
                    }
                }, false);
                return xhr;
            },
            url: '/ad/create/',
            type: 'POST',
            data: data,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                if (data.message == 'fail') {
                    alert(data['reason'])
                } else if (data.message == 'success') {
                    alert("uploading done")
                    location.reload();
                }
                $('.submit_from_button').removeClass("opened");
                console.log(data)
            },
            error: function(data) {
                $('#overlay').hide()
                $('.submit_from_button').removeClass("opened");
                console.log(data)
                alert(data)
                alert('Consult Tech')
            },

        });
        return false;
    }
}


$(function() {
    $('#create').click({is_draft: false}, upload);
    $('#save').click({is_draft: true}, upload);
});
</script>

{% endblock center_js %}