{% load jarvis_tag %}
{% load humanize %}
<html>
    <head>
        <title>bolo indya | analytics</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <style type="text/css">
            body{
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                padding: 20px;
            }
            a:hover{text-decoration: none;}
            .top_box{
                background: #f1f1f1;
                display: inline-block;
                width: 10.82%;
                text-align: center;
                padding: 10px 0px;
                padding-top: 20px;
                margin-top: 10px;
                border-radius: 5px;
            }
            .btn{
                background: #f1f1f1;
                display: inline-block;
                width: 10%;
                text-align: center;
                padding: 3px 0px 2px 0px;
                border-radius: 5px;
                font-size: 14px;
            }
            .left_panel{}
            .right_panel{width:90%;margin-left: 5%;}
        </style>
        <script>
            function process_filter(f_val){
                var qs = window.location.search.replace('?', '');
                var qs_list = qs.split('&');
                var param_name = f_val.split('=')[0];
                var found_param = false;
                for(i=0; i < qs_list.length; i++ ){
                    if( qs_list[i].split('=')[0] == param_name ){
                        found_param = true;
                        qs_list[i] = qs_list[i].split('=')[0] + '=' + f_val.split('=')[1]
                    }
                }
                if(!found_param){ qs_list.push( f_val ); }
                window.location.href = window.location.pathname + '?' + qs_list.join('&');
            }
            $( function() {
                $( "#start_date, #end_date" ).datepicker({
                    dateFormat : 'yy-mm-dd',
                    maxDate : -1,
                    minDate : new Date(2019, 04, 01),
                    onSelect: function(date, datepicker) {
                        var proceed = true;
                        if(datepicker.id == 'end_date'){
                            if( !$('#start_date').val() ){
                                alert("Please select the start date first.");
                                $('#start_date, #end_date').val('');
                                proceed = false;
                            }
                        }
                        if( $('#start_date').val() && $('#end_date').val() ){
                            var sdate = new Date($('#start_date').val());
                            var edate = new Date($('#end_date').val());
                            if( edate < sdate ){
                                alert("End date should be greater than Start date.");
                                $('#start_date, #end_date').val('');
                                proceed = false;
                            }
                        }
                        if( proceed ){
                            process_filter( datepicker.id + '=' + $('#' + datepicker.id).val() );
                        }
                    },
                });
                $('.filter_apply').click(function(e){
                    e.preventDefault();
                    process_filter( $(this).attr('href').replace('?', '') );
                });
            });
        </script>
    </head>
    <body>
        <div style="box-shadow: 0px 5px 5px #f1f1f1;position: absolute;left: 0;top: 0;padding: 15px;width: 100%;">
            <img src="/media/img/boloindya_logo.png" class="" style="height: 45px;" alt="Bolo Indiya Logo">
            <span style="float: right;">
                Welcome, {{ request.user }}<br>
                <a href="/user/logout" style="float: right;">logout</a>
            </span><br>
        </div><br><br><br>


        <!-- {% for each_data in top_data %}
            <div class="top_box" {% if metrics == each_data.0  %}style="background:bisque;"{% endif %}>
                <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
                <a href="?metrics={{ each_data.0 }}" class="filter_apply"><h6 style="color: #333">{{ each_data.1 }}</h6><h5 style="color: #b52828">{{ each_data.2|intcomma }}</h5></a>

            </div>
        {% endfor %} -->

        <div class ="top_box" {% if metrics == top_data.0.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.0.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.0.1 }}</h6><h5 style="color: #b52828">{{ top_data.0.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.1.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.1.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.1.1 }}</h6><h5 style="color: #b52828">{{ top_data.1.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.7.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.7.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.7.1 }}</h6><h5 style="color: #b52828">{{ top_data.7.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.3.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.3.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.3.1 }}</h6><h5 style="color: #b52828">{{ top_data.3.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.4.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.4.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.4.1 }}</h6><h5 style="color: #b52828">{{ top_data.4.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.5.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.5.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.5.1 }}</h6><h5 style="color: #b52828">{{ top_data.5.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.6.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* [Avg] last 30 days</i></span>
        <a href="?metrics={{ top_data.6.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.6.1 }}</h6><h5 style="color: #b52828">{{ top_data.6.2|floatformat:"0"|intcomma}}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.8.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.8.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.8.1 }}</h6><h5 style="color: #b52828">{{ top_data.8.2|intcomma }}</h5></a>
        </div>

       <!--  <div class ="top_box" {% if metrics == top_data.2.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.2.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.2.1 }}</h6><h5 style="color: #b52828">{{ top_data.2.2|intcomma }}</h5></a>
        </div> -->

        <div class ="top_box" {% if metrics == top_data.9.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.9.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.9.1 }}</h6><h5 style="color: #b52828">{{ top_data.9.2|intcomma }}</h5></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.10.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.10.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.10.1 }}</h6><h5 style="color: #b52828">{{ top_data.10.2|intcomma }}</h4></a>
        </div>

        <div class ="top_box" {% if metrics == top_data.11.0 %} style = "background: bisque;"{%endif %}>
        <span style="color: grey;font-size: 8px;float: right;margin: -16px 7px 0px 0px;"><i>* last 30 days</i></span>
        <a href="?metrics={{ top_data.11.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.11.1 }}</h6><h5 style="color: #b52828">{{ top_data.11.2|intcomma }}</h4></a>
        </div>
        
        <div class="top_box" {% if metrics == top_data.12.0 %} style = "background: bisque;width: 21.8%;"{% else %}style = "width: 21.8%;"{%endif %}>
        <span style ="color: grey; font-size: 8px; float: right;margin: -16px 7px 0px 0px;">* total of last 30 days</span>
        <a href="?metrics={{ top_data.12.0 }}" class="filter_apply"><h6 style="color: #333">{{ top_data.12.1 }}</h6><h5 id="playtime_last_30" style="color: #b52828"></h4></a>
        </div>    

        <div class="right_panel">
            <br><br>Start date &nbsp;&nbsp; <input type="text" id="start_date" name="start_date" placeholder="Start Date" class="filter_text" value="{{ start_date }}">
            &nbsp;&nbsp; End date&nbsp;&nbsp;&nbsp; <input type="text" id="end_date" name="end_date" placeholder="End Date" class="filter_text" value="{{ end_date }}">&nbsp;&nbsp;&nbsp;


            <!-- <a href="?data_view=daily" class="filter_apply">daily</a> &nbsp;&nbsp;|&nbsp;&nbsp; -->
            <!--<a href="?data_view=weekly" class="filter_apply btn" {% if data_view == "weekly"  %}style="background:bisque;"{% endif %}>weekly</a> -->
            <!--<a href="?data_view=monthly" class="filter_apply btn" {% if data_view == "monthly"  %}style="background:bisque;"{% endif %}>monthly</a><br> -->
            
            <a href="?data_view=daily" class="filter_apply btn" style={% if metrics == "8"  or metrics == "6" or metrics == "12" %}display:none;{% endif %}>daily</a>
            <a href="?data_view=weekly" class="filter_apply btn" style={% if metrics == "6"  or  metrics == "8" or metrics == "12" %}display:none;{% endif %}>weekly</a>
            <a href="?data_view=monthly" class="filter_apply btn" style={% if metrics == "6" or metrics == "8" or metrics == "12" %}display:none;{% endif %}>monthly</a>
            <a href="?data_view=hourly" class="filter_apply btn" style ={% if metrics != "11"  %}display:none;{% endif %}>hourly</a>
            

            {% if metrics != "12" %}
            <div class ="filter_apply btn" style = "background: bisque;">
            <span style="color: black;font-size: 11px;float: center;margin: -13px 6px 1px 0px;"><b>Sum</b></span>   
            <h8 style="color: #333">{{ graph_data_sum }}</h8>
            </div>
            {% endif %}

            {% if metrics != "12" %}
            <div class ="filter_apply btn" style = "background: bisque;">
            <span style="color: black;font-size: 11px;float: center;margin: -13px 6px 1px 0px;"><b>Avg</b></span>   
            <h8 style="color: #333">{{ graph_data_avg | floatformat:2}}</h8>
            </div>
            {% endif %}

            {% if metrics != "12" %}
            <div class="filter_apply btn" style = "background: bisque;">
            <button onclick="orderDownload()"> Download </button>
            </div>
            {% endif %}

            {% if metrics == "12" %}
            <div class="filter_apply btn" style="background: bisque;">
            <button onclick="GetPlayData()"> Top 10 Videos</button>    
            </div>
            {% endif %}

            {% if metrics == "12" %}
            <div class="filter_apply btn" style="background: bisque;">
            <button onclick="GetTotalPlaytime()">Total Playtime</button>    
            </div>
            {% endif %}

            <br>

            <!-- {% if language_filter %}
                <div class="row" style="padding: 10px;">
                     <div class="col-md-12">
                        <select name="lang" id = "lang_filter_1" onchange="GetSelectedLangValue()">
                            <option value="" ><b>Select Language</b></option>
                            {% for lang in language_filter %}
                                <option value="{{ lang.0 }}" {% if language_choice == lang.0 %}selected="selected"{% endif %}>{{ lang.1 }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                </div>
            {% endif %}   -->      

            <br>

            <div class="row">
                {% if language_filter %}
                        <div class="col-sm-3">
                            <div ><b>Select Language</b></div>
                            <select name="lang" id = "lang_filter_1" onchange="GetSelectedLangValue()">
                                <option value="" selected>All</option>
                                {% for lang in language_filter %}
                                    {% if lang.0 == '0' %}
                                    {% else %}
                                        <option value="{{ lang.0 }}" {% if language_choice == lang.0 %}selected="selected"{% endif %}>{{ lang.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>   
                        </div>
                {% endif %}

                {% if category_filter %}
                        <div class="col-sm-3">
                            <div><b>Select Category</b></div>
                            <select name = "categ" id = "categ_filter_1" onchange="GetSelectedCategValue()">
                                <option value="">All</option>
                                {% for each_cat in category_filter %}
                                    <option value = "{{ each_cat.0}}" {% if category_choice == each_cat.0 %}selected="selected"{% endif %}>{{ each_cat.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                {% endif %}

                {% if slabs %}
                        <div class="col-sm-3">
                            <div><b>Select Slab</b></div>
                            <select name ="slab" id = "slab_filter_1" onchange="GetSelectedSlabValue()">
                                {% for each_slab in slabs%}
                                    <option value = "{{ each_slab.0}}" {% if slab == each_slab.0 %}selected="selected"{% endif %}>{{ each_slab.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                {% endif %}

            </div>

            <br>
            <br>
            {% if metrics == '12' %}
            <div style="text-align: center;" class="col-6 col-xl-6 col-md-6 col-sm-12">

                <h4 id="total_playtime_text"></h4>

                <h4>Top Videos Viewed </h4>
                <table class="table table-striped table-bordered" align="center">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Title</th>
                            <th>VideoID</th>
                            <th>PlayTime</th>
                        </tr>
                    </thead>

                    <tbody id="playtime_table">
                    </tbody>
                </table>
            </div>
            {% endif %}
            


            <!-- {% if category_filter %}
                <div class ="col" style="padding: 10px;">
                    <div class="col-mod-12">
                        <select name = "categ" id = "categ_filter_1" onchange="GetSelectedCategValue()">
                            <option value =""><b>Select Category</b></option>
                                {% for categ in category_filter %}
                                    <option value = "{{ categ.0}}" {% if category_choice == categ.0 %}selected="selected"{% endif %}>{{ categ.1 }}</option>
                                {% endfor %}    
                        </select>
                    </div>
                </div>      
            {% endif %} -->


            <!-- {% if slabs %}
                <br>Data Slabs&nbsp;&nbsp;
                {% for each_slab in slabs %}
                    <a href="?slab={{ each_slab.0 }}" class="filter_apply" {% if slab == each_slab.0  %}style="text-decoration: underline;font-weight: bold;color: burlywood;"{% endif %}>{{ each_slab.1 }}</a>{% if not forloop.last %} &nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
                {% endfor %}
            {% endif %}


            {% if language_filter %}
                <br> Language&nbsp;&nbsp;
                {% for each_language in language_filter %}
                    <a href="?language_choice={{ each_language.0 }}" class="filter_apply" {% if language_choice == each_language.0  %}style="text-decoration: underline;font-weight: bold;color: burlywood;"{% endif %}>{{ each_language.1 }}</a>{% if not forloop.last %} &nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
                {% endfor %}
            {% endif %}


            {% if category_filter %}
                <br> Category&nbsp;&nbsp;
                {% for each_cat in category_filter%}
                    <a href="?category_choice={{ each_cat.0 }}" class="filter_apply" {% if category_choice == each_cat.0  %}style="text-decoration: underline;font-weight: bold;color: burlywood;"{% endif %}>{{ each_cat.1 }}</a>{% if not forloop.last %} &nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
                {% endfor %}
            {% endif %} -->

            

        <br><div id="myDiv" style="width: 100%; height: 450px;"></div>
        </div>





        <script type="text/javascript">
            // var trace1 = {
            //     x: {{ x_axis|safe }},
            //     y: {{ y_axis|safe }},
            //     text: {{ x_axis|safe }},
            //     type: 'bar',
            //     marker: {
            //         // color: '#b52828', // 'rgb(142,124,195)'
            //     }
            // };
            // var data = [trace1];
            // var layout = {
            //     title: "{{ graph_title }}",
            //     font:{
            //         family: 'Raleway, sans-serif'
            //     },
            //     showlegend: false,
            //     xaxis: {
            //         tickangle: -45
            //     },
            //     yaxis: {
            //         zeroline: false,
            //         gridwidth: 2
            //     },
            //     bargap :0.05
            // };
            // Plotly.newPlot('myDiv', data, layout);

            var chart_data = {{ chart_data|safe }};
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);

            var metrics_sel = "{{metrics}}"
            console.log(metrics_sel);


            function drawChart() {
                console.log(chart_data);
                var data = google.visualization.arrayToDataTable(chart_data);
                console.log(data);
                var options = {
                  chart: {
                    title: "{{ graph_title }}",
                    // subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                  },
                  // bars: 'horizontal' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('myDiv'));
                if(metrics_sel!=12){
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }
                
            }
        </script>

        

        <script type="text/javascript">

            function GetSelectedLangValue(lang_filter_1){
                var lang_selected = $('#lang_filter_1 :selected').val()
                console.log("?language_choice=" + lang_selected);
                if (window.location.href.indexOf('language_choice') != -1) {
                    urls = window.location.href.split("&");
                    build = urls[0] + "&";
                    for (var i = 1; i <= urls.length - 1; i++) {
                        if (urls[i].indexOf("language_choice") != -1) {
                            build += "language_choice=" + lang_selected + "&";
                        } else {
                            build += urls[i] + "&";
                        }
                    }
                    console.log(build);
                    window.location.href =  build.substring(0, build.length - 1);
                    // window.location.href = window.location.href + "&language_choice=" + lang_selected;
                } else {
                    window.location.href = window.location.href + "&language_choice=" + lang_selected;
                }
            }

            function GetSelectedCategValue(categ_filter_1){
                var categ_selected = $('#categ_filter_1 :selected').val()
                console.log("?category_choice=" + categ_selected);
                if(window.location.href.indexOf('category_choice') != -1){
                    urls = window.location.href.split("&");
                    build = urls[0] + "&";
                    for(var i = 1; i<= urls.length - 1 ; i++){
                        if(urls[i].indexOf("category_choice") !=-1){
                            build += "category_choice=" + categ_selected + "&";
                        } else {
                            build +=urls[i] + "&";
                        }
                    }
                    console.log(build);
                    window.location.href = build.substring(0, build.length - 1);
                } else {
                    window.location.href = window.location.href + "&category_choice=" + categ_selected;
                }
            }

            function GetSelectedSlabValue(slab_filter_1){
                var slab_selected = $('#slab_filter_1 :selected').val()
                console.log("?slab=" + slab_selected);
                if(window.location.href.indexOf('slab') !=-1){
                    urls = window.location.href.split("&");
                    build = urls[0] + "&";
                    for(var i = 1; i<=urls.length - 1; i++){
                        if(urls[i].indexOf("slab") !=-1){
                            build += "slab=" + slab_selected + "&";
                        } else {
                            build += urls[i] + "&";
                        }
                    }
                    window.location.href = build.substring(0, build.length-1);
                } else {
                    window.location.href = window.location.href + "&slab=" + slab_selected;
                }
            }


            function orderDownload(){
                var metrics_sel = "{{metrics}}"
                var categ_sel = "{{category_choice}}"
                var lang_sel = "{{language_choice}}"
                var slab_sel = "{{slab}}"
                var view_sel = "{{ data_view }}"
                var sdate = "{{start_date}}"
                var edate = "{{end_date}}"

                // var sdate = new Date($('#start_date').val());
                // var edate = new Date($('#end_date').val());
            
                $.ajax({
                    url: "/jarvis/analytics_jarvis/get_csvdata/",
                    dataType: 'json',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'metrics_sel': metrics_sel,
                        'categ_sel': categ_sel,
                        'lang_sel': lang_sel,
                        'slab_sel': slab_sel,
                        'view_sel': view_sel,
                        'sdate': sdate,
                        'edate': edate
                    }),
                    success: function (data){
                        //console.log(data);
                        var parsed_data = jQuery.parseJSON(data)
                        var data_to_print = '';
                        var items = parsed_data 
                        for(var i=0;i<items.length;i++){
                            data_to_print+=items[i][0] + ',' + items[i][1] + '\r\n';

                        }
                        console.log(data_to_print);
                        download(data_to_print, 'download_' + view_sel +'.csv',  '.csv'); 

                    }
                });

            }
            function download(data, filename, type){
                console.log("coming here...");
                var file = new Blob([data], {type: type});
                if(window.navigator.msSaveOrOpenBlob){
                    window.navigator.msSaveOrOpenBlob(file, filename);
                }else{
                    var a = document.createElement("a");
                    url = URL.createObjectURL(file);
                    a.href = url;
                    a.download  = filename;
                    document.body.appendChild(a);
                    a.click();
                    setTimeout(function(){
                        document.body.removeChild(a);
                        window.URL.revokeObjectURL(url);
                    }, 0);
                    setTimeout(function(){
                        window.location.reload();
                    }, 2000);
                }
            }

            function convertSecondsToMinsHrs(timeInSeconds){
                // Convert the seconds time to minutes and hour
                var playtime = timeInSeconds
                var mins = 0, hours = 0, seconds = playtime;

                if(seconds > 59){
                    mins = Math.floor(playtime / 60);
                    seconds = seconds % 60;
                }
                if(mins > 59){
                    hours = Math.floor(mins / 60);
                    mins = mins % 60;
                }
                
                var final_time = seconds +" secs";
                if(mins > 0){
                    final_time = mins +" mins "+final_time;
                }
                if(hours > 0){
                    final_time = hours +" hrs "+final_time;
                }
                return final_time;
            }


            function GetPlayData(){
                var categ_sel = "{{category_choice}}"
                var lang_sel = "{{language_choice}}"
                var sdate = "{{start_date}}"
                var edate = "{{end_date}}"

                $.ajax({
                    url: "/jarvis/analytics_jarvis/get_playdata/",
                    dataType: 'json',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'categ_sel': categ_sel,
                        'lang_sel': lang_sel,
                        'sdate': sdate,
                        'edate': edate
                    }),
                    success: function (data){
                        console.log("callback working fine as well......");
                        console.log(data.play_data);

                        // $("#playtime_table tr").remove();

                        for(item in data.play_data){
                            var playtime_table = document.getElementById('playtime_table');
                            var newrow = playtime_table.insertRow(-1);
                            var cell_username = newrow.insertCell(0);
                            var cell_title = newrow.insertCell(1);
                            var cell_videoid = newrow.insertCell(2);
                            var cell_playtime = newrow.insertCell(3);


                            var playtime_display = convertSecondsToMinsHrs(data.play_data[item]['tot_playtime']);
                            cell_username.innerHTML = data.play_data[item]['video__user__username'];
                            cell_title.innerHTML = data.play_data[item]['video__title'];
                            cell_videoid.innerHTML = data.play_data[item]['videoid'];
                            cell_playtime.innerHTML = playtime_display;
                        }    

                    }
                });

            }

            function GetTotalPlaytime(){
                var categ_sel = "{{category_choice}}"
                var lang_sel = "{{language_choice}}"
                var sdate = "{{start_date}}"
                var edate = "{{end_date}}"

                $.ajax({
                    url: "/jarvis/analytics_jarvis/get_totalplaytime/",
                    dataType: 'json',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'categ_sel': categ_sel,
                        'lang_sel': lang_sel,
                        'sdate': sdate,
                        'edate': edate
                    }),
                    success: function (data){
                        console.log("Total playtime");
                        console.log(data.total_playtime);

                        var tot_playtime_text = document.getElementById('total_playtime_text');
                        tot_playtime_text.innerHTML = "Total Playtime: "+convertSecondsToMinsHrs(data.total_playtime);
                    }
                });

            }

        </script>

        <script type="text/javascript">
            a = convertSecondsToMinsHrs({{ top_data.12.2 }});
            var playtime_tab = document.getElementById('playtime_last_30');
            playtime_tab.innerHTML = a;
        </script>

    </body>
</html>
