
@font-face{
    font-family: "Baloo Bhai";
    src: url("/static/venders/BalooBhai-Regular.ttf");
}
body{
    font-family: "Baloo Bhai";
    font-style: normal;
    font-weight: normal;
}

.avenir-font{
    font-family: Avenir;
}

.page-title{
    font-size: 50px;
}

.pointer{
    cursor: pointer;
}

.verticle-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.header-row{
    height: 100px;
    margin-top: 20px;
}

.container.main{
    max-width: 90%;
    margin-left: 9%;
    margin-right: 1%;
}


.count-div{
    background: #F5F5F7;
    border-radius: 14px;
    height: 80px;
    width: 210px;
}

.count{
    font-size: 30px;
}

.count-text{
    font-size: 15px;
}

.search-icon{
    background: #F5F5F7;
    border-style: none;
}

.search-input{
    background: #F5F5F7;
    border-style: none;
    font-size: 12px;
    font-weight: 500;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9F9F9F;
    opacity: 1; /* Firefox */
    font-weight: 500;
}


.jsgrid-table{
    font-family: Avenir;
}

.jsgrid-grid-header{
    height: 40px;
    font-size: 14px;
    border-style: none;
    background: white !important;
    /* margin-bottom: -25px; */
}

.jsgrid-grid-body{
    border-style: none;
}

.jsgrid-header-row>.jsgrid-header-cell {
    background: white !important;
    border-style: none;
}

.jsgrid-table .jsgrid-row, .jsgrid-table .jsgrid-alt-row{
    height: 35px;
    font-size: 13px;
    font-weight: 500;
    border-style: none;
}

.jsgrid-row>.jsgrid-cell{
    background: #F5F5F7;
}

.jsgrid-alt-row>.jsgrid-cell{
    background: white;
    border-style: none;
}

.jsgrid-pager-container{
    margin-top: 10px;
    background: #F5F5F7;
    color:black;
    font-family: Avenir;
    font-size: 11px;
    margin-left:auto; 
    margin-right:0;
}

.jsgrid-pager .jsgrid-pager-page, .jsgrid-pager-nav-button{
    border: 1px solid black;
    margin: 0px 3px;
}

.jsgrid-pager .jsgrid-pager-page a, .jsgrid-pager-nav-button a{
    color:black;
}

.jsgrid-pager-current-page{
    color: white;
    background: black;
}

.jsgrid-table .jsgrid-cell{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.new-dropdown{
    width: 108px;
    height: 15px;
    margin-top: -12px;
    background: #F5F5F7;
}

.new-dropdown .filter-option-inner-inner{
    font-family: Avenir;
    font-size: 12px;
    color: black;
    padding-left: 6px;
}


.modal-backdrop.show {
    opacity: 0 !important;
}

.modal{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);  
}

.modal-content{
    color: white;
    background: #121111;
    margin-top: 40%;
    border-radius: 10px;
}

.modal-footer, .modal-header{
    border: none;
}

.modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
}


.modalClose{
    background: #3C3844;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* margin-top: 0px; */
    /* margin-right: 10px; */
    padding: 4px 7px;
    text-shadow: none;
}

.close{
    text-shadow: none;
}

.apply-button{
    width: 228px;
    height: 43px;
    background: linear-gradient(180deg, #0270BE 0%, #10A5F9 100%);
    border-radius: 5px;
    font-family: Avenir;
    font-size: 18px;
    padding-top: 9px;
    text-align: center;
}

.modal input[type=text]{
    background: black;
    color: white
}

.modal input[type=text]::placeholder{
    color: #9F9F9F;
}

.select2{
    width: 100% !important;
}

.select2-results__option--highlighted{
    background-color: #212529 !important;
}

.select2-container--default .select2-selection--single{
    height: 38px;
    background: #f1f1f1 !important;
    border: none;
    padding: 6px;
}

.select2-selection__rendered, .select2-selection__arrow{
    color: black !important;
}

.select2-selection__arrow{
    padding: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: black transparent transparent transparent !important;
}


.dropdown-item.active, .dropdown-item:active{
    background-color: #121111 !important;
}

.label-group{
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.label-group i, .label-group input[type=text]::placeholder, .label-group input[type=text]{
    color: black;
}

.label-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.label-group>.label-group-prepend>.label-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.label-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #f1f1f1;
    border: none;
    border-radius: .25rem;
    padding-right: 3px;
}

.label-group-content{
    padding-left: 3px;
    border-radius: .25rem;
    background: #f1f1f1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 80%;
}

.label-group-content button{
    padding-left: 3px;
    color: black !important;
    background: #f1f1f1 !important;
}

.label-group-content input{
    border: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #f1f1f1;
}

.dropdown.bootstrap-select{
    width: 100% !important;
}

.textEllipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.daterangepicker{
    background: #121111;
    color: white;
    position: fixed !important;
    top: 200px !important;
    left: 35% !important;
    font-family: Avenir;
}

.daterangepicker .calendar-table{
    background: black;
    border: none;
}

.daterangepicker td.start-date.active, .daterangepicker td.end-date.active, .daterangepicker td.start-date:hover, .daterangepicker td.end-date:hover{
    border-radius: 50% !important;
    background: #10A5F9 !important;
    color: white !important;

}
.daterangepicker td.in-range.available {
    color: #A9D3AB;
    background: black;
}

.daterangepicker td.off{
    color: #3C3844;
    background: black;
}

.daterangepicker td.available{
    color: #7A7585;;
}

.daterangepicker .drp-buttons{
    border: none;
}

.daterangepicker .applyBtn{
    width: 228px;
    height: 30px;
    background: linear-gradient(180deg, #0270BE 0%, #10A5F9 100%);
    border-radius: 5px;
    font-family: Avenir;
    font-size: 14px;
    padding-top: 4px;
}

.daterangepicker .cancelBtn{
    background: #272727;
    border-radius: 5px;
    /* width: 228px; */
    height: 30px;
    color: #818181;
}