{% extends "jarvis/layout/base.html" %}
{% load static %}
{% block content %}
<section class="content">
    <div>
    <button class="btn btn-primary approve_kyc">Accept All Completed KYC's</button>
</div>

<br>

<div id="user_kyc">
    <table class="table table-bordered table-striped" id="accepted_kyc">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>KYC Submitted</th>
                <th>KYC Accepted</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for each_kyc in all_kyc %}
                <tr>
                    <td><a href="/jarvis/single_kyc/?username={{ each_kyc.user.username}}" target="_blank"><strong>{{ each_kyc.user.username}}</strong></a></td>
                    <td>{% if each_kyc.user.st.name %}{{each_kyc.user.st.name}} {% else %}{{ each_kyc.user.username}}{% endif %}</td>
                     <td>{% if each_kyc.is_kyc_completed %}<img src="{% static 'img/green_tick.jpg' %}"  style="width:20px;">{% else %}<img src="{% static 'img/wrong.png' %}"  style="width:20px;">{% endif %}</td>
                    <td>{% if each_kyc.is_kyc_accepted %}<img src="{% static 'img/green_tick.jpg' %}" style="width:20px;">{% else %}<img src="{% static 'img/wrong.png' %}" style="width:20px;">{% endif %}</td>
                    <td>{% if each_kyc.is_kyc_accepted %}Accepted {% elif each_kyc.is_kyc_completed and not each_kyc.is_kyc_accepted %}Submitted{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
            {% if page_no != '1' %}<a href="/jarvis/get_accepted_kyc_user_list/?page_no=1" >First</a> <a href="/jarvis/get_accepted_kyc_user_list/?page_no={{page_no|add:-1}}" >Prev</a>{% endif %} {{ page_no }} of {{ total_page }} pages {% if page_no|add:0 != total_page %}<a href="/jarvis/get_accepted_kyc_user_list/?page_no={{page_no|add:1}}" >Next</a> <a href="/jarvis/get_accepted_kyc_user_list/?page_no={{total_page}}" >Last</a>{% endif %}
    </div>

</div>
</section>
{% endblock content %}
{% block center_js %}
<script>
    $(".approve_kyc").click(function(){
        $.ajax({
            url: "/jarvis/approve_all_completd_kyc/",
            type: "GET",
            success: function(data) {
                toastr.info('All Accepted');
                location.reload();
                console.log(data)
            },
            error: function(data) {
                toastr.error('Error Occured: '+data);
                $('.close').click()
                console.log(data)
            }
        });
    });
</script>
{% endblock center_js %}