{% extends "jarvis/layout/base.html" %}
{% load static %}
{% block content %}
<section class="content">
<div id="user_kyc">
    <table class="table table-bordered table-striped" id="all_kyc">
        <thead>
            <tr>
                <th>username</th>
                <th>is kyc completed</th>
                <th>is kyc accepted</th>

            </tr>
        </thead>
        <tbody>
            {% for each_kyc in all_kyc %}
                <tr>
                    <td><a href="{% if each_kyc.is_kyc_completed %}/jarvis/single_kyc/?username={{ each_kyc.user.username}}{% else %}#{% endif %}"><strong>{{ each_kyc.user.username}}</strong></a></td>
                    <td>{% if each_kyc.is_kyc_completed %}<img src="{% static 'img/green_tick.jpg' %}"  style="width:20px;">{% else %}<img src="{% static 'img/wrong.png' %}"  style="width:20px;">{% endif %}</td>
                    <td>{% if each_kyc.is_kyc_accepted %}<img src="{% static 'img/green_tick.jpg' %}"  style="width:20px;">{% else %}<img src="{% static 'img/wrong.png' %}"  style="width:20px;">{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
            {% if page_no != '1' %}<a href="/jarvis/get_kyc_user_list/?page_no=1" >First</a> <a href="/jarvis/get_kyc_user_list/?page_no={{page_no|add:-1}}" >Prev</a>{% endif %} {{ page_no }} of {{ total_page }} pages {% if page_no|add:0 != total_page %}<a href="/jarvis/get_kyc_user_list/?page_no={{page_no|add:1}}" >Next</a> <a href="/jarvis/get_kyc_user_list/?page_no={{total_page}}" >Last</a>{% endif %}
    </div>
</div>
</section>
{% endblock content %}
{% block center_js %}
{% endblock center_js %}
