{% extends 'advertisement/base.html' %}


{% block local_css %}
    <style>
        .download-icon{
            font-size: 24px;
            padding-top: 3px;
        }
        .column-filter{
            margin-left: 5px;
            color: blue;
        }
        .popover{
            max-width: 100%;
            width: 200px !important
        }
    </style>
{% endblock local_css %}


{% block center_content %}
<div class="row">
    <div class="col-sm-12"  style="margin-left: 10px margin-right: 10px">
        <div class="box">
            <div class="box-header with-border">
                <h1 class="box-title" id="pageTitle">User Order Dashboard</h1>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2 col-xs-2 col-md-2 col-xl-2" id="lifetimeOrder">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3 class="value-count"><i class="fa fa-refresh fa-spin"></i></h3>
                                <p class="section-name">Lifetime Order</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2 col-md-2 col-xl-2" id="uniqueOrder">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3 class="value-count"><i class="fa fa-refresh fa-spin"></i></h3>
                                <p class="section-name">Number of Unique Order</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2 col-md-2 col-xl-2" id="monthOrder">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3 class="value-count"><i class="fa fa-refresh fa-spin"></i></h3>
                                <p class="section-name">Month's Order</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12"  style="margin-left: 10px">
        <div class="box">
            <div class="box-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search by Name, Phone No, Email ID">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat" style="margin-right: 10px;"><i class="fa fa-search"></i>
                                </button>
                                <button id="filter-btn" class="btn btn-flat" style="margin-left: 10px;"><i class="glyphicon glyphicon-filter"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="row" style="float:right; padding-right:20px;">
                            <div class="col-sm-2 download-icon">
                                <a id="exportAds"><i class="fa fa-download"></i></a>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <select class="form-control" name="download-file-type">
                                        <option value="csv" selected>CSV</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select class="form-control" id="pageSize">
                                        <option value="10" selected>10 Records</option>
                                        <option value="20">20 Records</option>
                                        <option value="50">50 Records</option>
                                        <option value="100">100 Records</option>
                                        <option value="500">500 Records</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">
                    <div class="row" id="userOrderTable"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="paymentStatusFilterModal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Payment Status Filter</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" >
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value='pending' name='payment_status'>
                            Pending
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value='success' name='payment_status'>
                            Success
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  value='initiated' name='payment_status'>
                            Initiated
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  value='failed' name='payment_status'>
                            Failed
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary center" id="applyPaymentStatusFilter">Apply</button>
            </div>
        </div>
    </div>
</div>
{% endblock center_content %}

{% block local_js %}
<script type="text/javascript">
let paymentStatusFilter = []

$("#userOrderTable").jsGrid({
    width: "100%",
    height: "600px",

    inserting: false,
    editing: false,
    sorting: false,
    paging: true,
    pageLoading: true,
    autoload: true,
    filtering: false,
    sorter: "start_date",
    pageSize: $("#pageSize").val(),
    fields: [
        { title: "Sr. No.", name: "id", type: "number", width: 30, align: "center", filtering: false},
        { title: "User Name", name: "user.username", type: "text", align: "center", filtering: false},
        { title: "Name", name: "shipping_address.name", type: "text", width: 60, align: "center", filtering: false},
        { title: "Phone", name: "shipping_address.mobile", type: "text", width: 60, align: "center", filtering: false},
        { title: "Email", name: "shipping_address.email", type: "text", width: 60, align: "center", filtering: false},
        { title: "Shipping Address", itemTemplate: function(_, item){
                return item.shipping_address.address1 + ', ' + item.shipping_address.address2
            }
        },
        { title: "Order Date", name: "date", type: "text", width: 60, align: "center", css: "daterange-field"},
        { title: "Order Amount", name: "amount", type: "number", align: "center", width: 40, css: 'range-field'},
        { title: "Payment Status", name: "payment_status", type: "text", width: 60, align: "center", headerTemplate: function() {
            return `<span>Shadab</span>
                    <span id='paymentStatusFilterButton' data-toggle="modal" data-target="#paymentStatusFilterModal">
                        <i class="fa fa-caret-square-o-down column-filter"></i>
                    </span>`
        }},
        { title: "Product Detail", name: "lines.0.product.product_title", type: "text", align: "center", filtering: false},
    ],
    controller: {
        loadData: function(filter) {
            let q = $('[name="q"]').val()
            if(q)
                filter['q'] = q
            filter['page'] = filter['pageIndex']
            filter['page_size'] = $("#pageSize").val()
            filter['payment_status'] = paymentStatusFilter.join(',')

            return $.ajax({
                type: "GET",
                url: "/api/v1/ad/jarvis/order/",
                data: filter,
                headers: headers
            });
        },
        
    },
    onDataLoaded: function(gridInstance){
        $('.daterange-field').find('input').daterangepicker({
            locale: {
                format: 'DD-MM-YYYY'
            }
        });

        // $('[data-toggle="popover"]').popover({html: true, container: 'body', width: '300px'})
        // $('#paymentStatusFilterButton').popover({
        //     placement: 'bottom',
        //     html: true,
        //     content: function(){
        //         console.log('popover html', $('#paymentStatusFilterOption').html())
        //         return $('#paymentStatusFilterOption').html();
        //     },
        //     container: 'body'
        // })
        
    }
});

let grid = $("#userOrderTable").data("JSGrid");

$('#search-btn').click(function(){
    grid.reset()
});

$(document).on('change', '#pageSize', function(){
    grid.reset()
})

$(document).on('click', '#filter-btn', function(){
    grid.reset()
})

</script>
<script>
    $(document).ready(function(){
        $.ajax('/api/v1/ad/dashboard-counts', {
            method: 'GET',
            success: function(response){
                $("#lifetimeOrder").find('.value-count').text(response.lifetime_order)
                $("#uniqueOrder").find('.value-count').text(response.unique_order)
                $("#monthOrder").find('.value-count').text(response.month_order)

            }
        })

    })
</script>
<script>
    class exportCSVFile{
        constructor(headers, itemsNotFormatted, fileTitle){
            this.headers = headers
            this.formattedItems = this.formatItems(itemsNotFormatted);
            this.fileTitle = fileTitle

            this.createFile()
        }

        formatItems(itemsNotFormatted){
            let itemsFormatted = [];

            itemsNotFormatted.forEach((item) => {
                console.log("item", item)
                itemsFormatted.push({
                    "Sr. No": item.id || '',
                    "User Name": item.user.username || '', 
                    "Name": item.shipping_address.name || '',
                    "Phone": item.shipping_address.mobile || '',
                    "Email": item.user.email || '',
                    "Order Date": item.date || '',
                    "Order Amount": item.amount || '',
                    "Product Detail": (item.lines.length && item.lines[0].product.product_title) || '',
                    "Shipping Address": item.shipping_address.address1 + ', ' + item.shipping_address.address2 ,
                });
            });

            return itemsFormatted
        }

        createFile(){
            if (this.headers) {
                this.formattedItems.unshift(this.headers);
            }

            // Convert Object to JSON
            var jsonObject = JSON.stringify(this.formattedItems);
            var csv = this.convertToCSV(jsonObject);

            console.log(" === csv === ", csv);

            var exportedFilename = this.fileTitle + '.csv' || 'export.csv';

            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, exportedFilename);
            } else {
                var link = document.getElementById("exportAds");
                if (link.download !== undefined) { // feature detection
                    // Browsers that support HTML5 download attribute
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", exportedFilename);
                    link.click();
                }
            }
        }

        convertToCSV(objArray) {
            console.log(" objArray ", objArray)
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';

            for (var i = 0; i < array.length; i++) {
                var line = '';
                for (var index in array[i]) {
                    if (line != '') line += ','

                    line += array[i][index];
                }

                str += line + '\r\n';
            }

            return str

        }
    }

$(document).on('click', '#exportAds', function(){
    // let file = new exportCSVFile(["Sr. No", "User Name", "Name", "Phone", "Email", "Order Date", 
    //                                 "Order Amount", "Product Detail", "Shipping Address"], grid.data, 'report')
    let fileType = $('[name=download-file-type]').val();
    let params = {}
    
    if(fileType)
        params['format'] = fileType
    
    if(paymentStatusFilter.length > 0)
        params['payment_status'] = paymentStatusFilter.join(',')

    window.open('/report/ad/order/download?' + $.param(params), '_self')
});

// $(document).on('click', '#paymentStatusFilterButton', function(){
    
// })

$(document).on('click', '#applyPaymentStatusFilter', function(){
    let filters = []
    $.each($('[name=payment_status]:checked'), function(i, v){
        filters.push($(this).val())
    })
    paymentStatusFilter = filters
    grid.reset()
    $("#paymentStatusFilterModal button.close").click()
})

</script>
{% endblock local_js %}