{% extends 'advertisement/base_new_layout.html' %}

{% load static %}

{% block css %}
    <style>
        body{
            background-image: url("{% static 'img/brand-dashboard/login-background.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container{
            margin-top: 15%;
            max-width: 100%;
        }

        .title-text{
            font-size: 65px;
            font-weight: 700;
        }

        .subtitle-text{
            font-weight: 400;
            font-size: 27px;
            margin-top: 15px; 
            margin-bottom: 15px;
        }

        .form-control{
            height: 70px;
            font-size: 14px;
            border-width: 2px;
            border-color: black;
        }

        .login-button{
            width: 228px;
            height: 43px;
            background: linear-gradient(180deg, #0270BE 0%, #10A5F9 100%);
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .forgot-password-link{
            font-size: 15px;
            font-weight: 500;
            color: #10A5F9;
        }
    </style>
    
{% endblock css %}

{% block content %}
    <div class="container" >
        <form class="" action="" method="POST">
            {% csrf_token %}
            <div class="row " >
                <div class="col d-flex justify-content-center title-text" >
                    <span>Forgot Password?</span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 m-auto">
                    <div class="row">
                        <div class="col" >
                            <small>Enter new password</small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control avenir-font" name="new_password1" placeholder="Type here....">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" >
                            <small>Confirm password</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control avenir-font" name="new_password2" placeholder="Type here....">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="">
                                <button class="login-button avenir-font">Submit</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{ form.errors }}
    </div>
{% endblock content %}