{% load spirit_tags i18n %}

{% block content %}

    <main role="main">   
        <!-- user info sec -->
        <div class="user_profile_sec">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8 profile_mid_sec" style="margin-top: 30px;">
                        <div class="row">
                            <div class="col-md-3 left_wrapper">
                                <!-- User profile image -->
                                <div class="user_img">
                                    <img src="/media/img/icons/profile_img.PNG" class="img-rounded" alt="USER" />
                                    <div class="overlay_info">
                                        <img src="/media/img/icons/camera_icon.svg" alt="camera icon" />
                                        <div class="overlay_text">update</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 right_wrapper">
                                <!-- user profile info -->
                                <div class="profile_owner_info">
                                    <div class="profile_owner_name">{{ p_user.username }}</div>
                                    <div class="meta_info"><a href="#">Add profile credential</a></div>
                                    <div class="meta_info"><a href="#">Write a description about yourself</a></div>
                                </div>
                                <div class="profile_setting">
                                    <div class="prof_set">
                                        <ul class="list-unstyled">
                                            <li><a href="#">settings</a></li>
                                            <li><a href="#">edit profile</a></li>
                                        </ul>
                                    </div>
                                    <div class="follower_info">
                                        <ul>
                                            <li><span>1022</span> followers</li>
                                            <li><span>256</span> following</li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-2"></div>
        </div>

        <!-- user question and answer section -->
        <div class="user_profile_ans">
                <style>
                    a.active {
                        background: #dc3545;
                        color: white !important;
                        border-radius: 4px;
                    }
                </style>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 tab_area">
                        <!-- Question answer tab -->
                        <ul class="nav nav-pills">
                            <li><a data-toggle="pill" class="active" href="#Topics" style="color:inherit;text-decoration:none;">Topics</a></li>
                            <li><a data-toggle="pill" href="#Answers" style="color:inherit;text-decoration:none;">Answers</a></li>
                            <li><a data-toggle="pill" href="#Likes" style="color:inherit;text-decoration:none;">Likes</a></li>
                        </ul>
                        
                        <div class="tab-content">
                            <div id="Topics" class="tab-pane fade in active show">
                                <div class="qa_sec">
                                    <div class="mid_sec">
                                            {% include "spirit/topic/_single_topic.html" with topics=p_user.st_topics.all %}
                                    </div>
                                </div>
                            </div>
                            <div id="Answers" class="tab-pane fade">
                                 {% include "spirit/user/_render_comments_list.html" %}
                            </div>
                            <div id="Likes" class="tab-pane fade">
                                <p>You Dont Have Likes Any Comment</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </div>
        

    </main><!-- /.container -->
    <script>

        $('#Topics').click(function(){
            $('#Topics').addClass('in active');
            $('#Answers').removeClass('in active');
            $('#Likes').removeClass('in active');
        });

        $('#Topics').click(function(){
            $('#Topics').addClass('in active');
            $('#Answers').removeClass('in active');
            $('#Likes').removeClass('in active');
        });

    </script>

{% endblock %}
