{% extends 'advertisement/base.html' %}


{% block local_css %}
    <style>
        .download-icon{
            font-size: 24px;
            padding-top: 3px;
        }
        #pocModal .modal-body{
            /* margin: 5%; */
        }
    </style>
{% endblock local_css %}


{% block center_content %}
<div class="row">
    <div class="col-sm-12"  style="margin-left: 10px margin-right: 10px">
        <div class="box">
            <div class="box-header with-border">
                <h1 class="box-title" id="pageTitle">Brand/Product Dashboard</h1>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2 col-xs-2 col-md-2 col-xl-2" id="onboardedBrands">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3 class="value-count"><i class="fa fa-refresh fa-spin"></i></h3>
                                <p class="section-name">Onboarded Brands</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2 col-md-2 col-xl-2" id="uniqueProducts">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3 class="value-count"><i class="fa fa-refresh fa-spin"></i></h3>
                                <p class="section-name">Unique Products</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12"  style="margin-left: 10px">
        <div class="box">
            <div class="box-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search by Product ID, Brand ID, Product Name, Brand Name ">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="row" style="float: right; padding-right: 20px">
                            <div class="col-sm-2 download-icon">
                                <a id="exportAds"><i class="fa fa-download"></i></a>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option value="csv" selected>CSV</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select class="form-control" id="pageSize">
                                        <option value="10" selected>10 Records</option>
                                        <option value="20">20 Records</option>
                                        <option value="50">50 Records</option>
                                        <option value="100">100 Records</option>
                                        <option value="500">500 Records</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px">
                    <div class="row" id="userOrderTable"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pocModal" tabindex="-1" role="dialog" aria-labelledby="pocModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>
{% endblock center_content %}

{% block local_js %}
<script type="text/javascript">


$("#userOrderTable").jsGrid({
    width: "100%",
    height: "600px",

    inserting: false,
    editing: false,
    sorting: true,
    paging: true,
    pageLoading: true,
    autoload: true,
    filtering: true,
    sorter: "start_date",
    pageSize: $("#pageSize").val(),
    fields: [
        { title: "Sr. No.", name: "product_id", type: "number", width: 30, align: "center", filtering: false},
        { title: "Product Id", name: "product_id", type: "text", align: "center"},
        { title: "Product Name", name: "product_title", type: "text", width: 60, align: "center"},
        { title: "Product Link", name: "shipping_address.mobile", type: "text", width: 60, align: "center", filtering: false},
        { title: "Product Price", name: "discounted_price", type: "text", width: 60, align: "center", filtering: false},
        { title: "Brand Logo", align: "center", width: 60, itemTemplate: function(_, item){
            return `
                <span class="brandImg" data-src="${ item.brand.company_logo }">
                    <img src='${ item.brand.company_logo }' style="width:30px">
                </span>`
            }
        },
        { title: "Brand ID", name: "brand.id", type: "number", align: "center", width: 40},
        { title: "Brand Name", name: "brand.name", type: "text", align: "center"},
        { 
            title: "POC",
            itemTemplate: function(value, item){
                return `<a class="pocElement" data-toggle="modal" data-target="#pocModal">Detail
                    <div style='display: none' class="pocData">
                        <div class='row'>
                            <div class='col-sm-5'>POC</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.poc || '' }</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-5'>Mobile</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.phone_number || '' }</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-5'>Email</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.email || '' }</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-5'>Signed Contract Document</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.signed_contract_doc_file_url || '' }</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-5'>Signed Other Document</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.signed_other_doc_file_url || '' }</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-5'>Signed NDA Document</div>
                            <div class='col-sm-1'>:</div>
                            <div class='col-sm-5'>${ item.brand.signed_nda_doc_file_url || '' }</div>
                        </div>
                    </div>
                    </a>`
            }, 
            width: 50, align: "center"
        },
        { 
            headerTemplate: function(){
                return 'Action'
            },  
            itemTemplate: function(value, item){
                return `
                    <span>
                        <button class="btn btn-primary" data-id="${ item.product_id }" onclick="editProduct(${ item.product_id })">Edit</button>
                        <button class="btn btn-danger" data-id="${ item.product_id }">Del</button>
                    </span>
                `
            }, 
            width: 100, align: "center"
        },
    ],
    controller: {
        loadData: function(filter) {
            let q = $('[name="q"]').val()
            if(q)
                filter['q'] = q
            filter['page'] = filter['pageIndex']
            filter['page_size'] = $("#pageSize").val()

            return $.ajax({
                type: "GET",
                url: "/api/v1/ad/jarvis/product/",
                data: filter,
                headers: headers
            });
        },
        
    },
});

let grid = $("#userOrderTable").data("JSGrid");

$('#search-btn').click(function(){
    grid.reset()
});

$(document).on('change', '#pageSize', function(){
    grid.reset()
})


$(document).on('click', '.pocElement', function(){
    console.log("here", )
    $('#pocModal').find('.modal-body').html($(this).find('.pocData').html())
})

</script>
<script>
    $(document).ready(function(){
        $.ajax('/api/v1/ad/dashboard-counts', {
            method: 'GET',
            success: function(response){
                $("#onboardedBrands").find('.value-count').text(response.onboarded_brands)
                $("#uniqueProducts").find('.value-count').text(response.unique_products)
            }
        })

    })
</script>
<script>
    class exportCSVFile{
        constructor(headers, itemsNotFormatted, fileTitle){
            this.headers = headers
            this.formattedItems = this.formatItems(itemsNotFormatted);
            this.fileTitle = fileTitle

            this.createFile()
        }

        formatItems(itemsNotFormatted){
            let itemsFormatted = [];

            itemsNotFormatted.forEach((item) => {
                console.log("item", item)
                itemsFormatted.push({
                    "Product ID": item.id || '',
                    "Product Name": item.user.username || '', 
                    "Product Link": item.shipping_address.name || '',
                    "Price": item.shipping_address.mobile || '',
                    "Brand Logo": item.user.email || '',
                    "Order Date": item.date || '',
                    "Order Amount": item.amount || '',
                    "Product Detail": (item.lines.length && item.lines[0].product.product_title) || '',
                    "Shipping Address": item.shipping_address.address1 + ', ' + item.shipping_address.address2 ,
                });
            });

            return itemsFormatted
        }

        createFile(){
            if (this.headers) {
                this.formattedItems.unshift(this.headers);
            }

            // Convert Object to JSON
            var jsonObject = JSON.stringify(this.formattedItems);
            var csv = this.convertToCSV(jsonObject);

            console.log(" === csv === ", csv);

            var exportedFilename = this.fileTitle + '.csv' || 'export.csv';

            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, exportedFilename);
            } else {
                var link = document.getElementById("exportAds");
                if (link.download !== undefined) { // feature detection
                    // Browsers that support HTML5 download attribute
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", exportedFilename);
                    link.click();
                }
            }
        }

        convertToCSV(objArray) {
            console.log(" objArray ", objArray)
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';

            for (var i = 0; i < array.length; i++) {
                var line = '';
                for (var index in array[i]) {
                    if (line != '') line += ','

                    line += array[i][index];
                }

                str += line + '\r\n';
            }

            return str

        }
    }

$(document).on('click', '#exportAds', function(){
    let file = new exportCSVFile(["Sr. No", "User Name", "Name", "Phone", "Email", "Order Date", 
                                    "Order Amount", "Product Detail", "Shipping Address"], grid.data, 'report')
});

let editProduct = function(productId){
    let editWindow = window.open("/superman/advertisement/product/"+productId+"/change/", "_blank")
    console.log("editWindow", editWindow)
    editWindow.onunload = function() {
        console.log("here=== ")
        grid.reset()
    };
    editWindow.onmouseout = function() {
        console.log("here=== 2222")
        grid.reset()
    };
}
</script>
{% endblock local_js %}